In [ ]:
#default_exp prodigy_demo

In [ ]:
#no_test

#data structure imports
import pandas as pd
import numpy as np

#python imports
import random

#modeling imports
from spacy.util import fix_random_seed
from ssda_nlp.collate import *
from ssda_nlp.split_data import *
from ssda_nlp.modeling import *
from ssda_nlp.preprocessing import *
from ssda_nlp.model_performance_utils import *

In [ ]:
#no_test
seed = 2436
random.seed(seed)
fix_random_seed(seed)

# First Book of Baptisms, Matanzas (15834)

In [ ]:
#no_test

collated_df = prodigy_output_to_collated_df("transcriptions/matanzas_baut_1_rel_annot.jsonl")

# Split data
train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)

# Generate Spacy datasets
train_spacy = genSpaCyInput(train_df)

# Look at column names
train_df.head(10)

,entry_no,text,entity,start,end,label
13,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Paula,10,15,PER
14,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Esc.a,17,22,CHAR
15,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Juebes veinte y tres de feb.o de mil sietec.to...,23,86,DATE
16,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Thomas de Orvera,90,106,PER
17,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Paula,145,150,PER
18,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,h. l.16,151,158,CHAR
19,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Juan Joseph,162,173,PER
20,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Maria Josepha,177,190,PER
21,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,esc.s,191,196,CHAR
22,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Capitan D. Luis Hurtado de Mendoza,201,235,PER

In [ ]:
#no_test

train_spacy[:2]

[('[margin]: Paula. Esc.a Juebes veinte y tres de feb.o de mil sietec.tos. y diez y nueve Yo Thomas de Orvera baptizé, y pusse los santos15 oleos á Paula h. l.16 de Juan Joseph, y Maria Josepha esc.s del Capitan D. Luis Hurtado de Mendoza fue su Padrino Bartholome Rixo, y lo firmé. [signed]: Thomas de Orvera ',
  {'entities': [(10, 15, 'PER'),
    (17, 22, 'CHAR'),
    (23, 86, 'DATE'),
    (90, 106, 'PER'),
    (145, 150, 'PER'),
    (151, 158, 'CHAR'),
    (162, 173, 'PER'),
    (177, 190, 'PER'),
    (191, 196, 'CHAR'),
    (201, 235, 'PER'),
    (243, 250, 'REL'),
    (251, 266, 'PER'),
    (290, 306, 'PER')]}),
 ('[margin]: Bernardo Esc.vo Domingo nueve de Abril de mil sietectos y diez y nueve Yo Thomas de Orvera baptize, y pusse los s.tos oleos á Bernardo negro adulto de nacion carabali esc.o de D. Juan Joseph de Justis fue su P. Andres de Morales, y lo firmé. [signed]: Thomas de Orvera ',
  {'entities': [(10, 18, 'PER'),
    (19, 25, 'CHAR'),
    (26, 80, 'DATE'),
    (84, 100, 'PER'),
    (136, 144, 'PER'),
    (145, 150, 'CHAR'),
    (151, 157, 'CHAR'),
    (168, 176, 'CHAR'),
    (177, 182, 'CHAR'),
    (186, 210, 'PER'),
    (218, 220, 'REL'),
    (221, 238, 'PER'),
    (262, 278, 'PER')]})]

In [ ]:
#no_test

#if you want the same model everytime:
#random.seed(seed)
#fix_random_seed(seed)

#spacy parameters
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.6
save_mdir = 'models/mat_baut_1'

#load model from pretrained
nlp_model = load_model('es_core_news_md')

nlp_model, perf_df = model_meta_training(nlp_model, train_spacy, valid_df, verbose=True, save_dir = save_mdir,
                                         n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       1.0     8065.185068   86.27451  9.977324  17.886179

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision   recall   f_score
0       2.0      6746.61611      100.0  5.21542  9.913793

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall  f_score
0       3.0      6373.28776  45.762712  6.122449     10.8

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0       4.0     6297.300773  26.804124  5.895692  9.665428

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision    recall  f_score
0       5.0      6262.87104  22.641509  8.163265     12.0

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       6.0     6244.658001  37.912088  15.646259  22.150883

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall  f_score
0       7.0     6241.692333  51.955307  21.088435     30.0

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0      6212.16839  55.497382  24.036281  33.544304

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       9.0     6200.692217  67.487685  31.06576  42.546584

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0     6176.883792  73.529412  45.351474  56.100982

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      11.0      6175.31598  71.851852  43.99093  54.571027

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      12.0     6145.865839  71.830986  46.258503  56.275862

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      13.0     6151.679526  71.835443  51.473923  59.97358

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      14.0     6127.694526  75.739645  58.049887  65.725289

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall  f_score
0      15.0     6131.645422  71.587744  58.276644    64.25

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      16.0     6110.511647  74.175824  61.22449  67.080745

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      17.0     6104.188232  72.576177  59.410431  65.336658

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      18.0     6099.489276  76.280323  64.172336  69.704433

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      19.0     6100.716218       75.0  61.904762  67.826087

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      20.0     6100.281949  77.297297  64.852608  70.53021

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      21.0     6089.457586  74.278215  64.172336  68.856448

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      22.0     6080.067695  79.473684  68.480726  73.568819

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      23.0     6075.818559  76.606684  67.573696  71.807229

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      24.0     6057.033822   76.27551  67.800454  71.788715

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      25.0     6054.553998  77.002584  67.573696  71.980676

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      26.0     6045.659873  73.453608  64.62585  68.757539

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      27.0     6053.722089  78.974359  69.84127  74.127557

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      28.0     6057.111494  77.411168  69.160998  73.053892

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      29.0     6047.832988  81.637717  74.603175  77.962085

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      30.0     6028.138909  82.089552  74.829932  78.291815

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      31.0     6040.024505      82.25  74.603175  78.24019

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      32.0     6030.437644  81.725888  73.015873  77.125749

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      33.0     6039.071459  80.291971  74.829932  77.464789

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      34.0      6016.07313  82.598039  76.417234  79.387515

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      35.0     6019.045154  83.495146  78.004535  80.656506

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      36.0      6010.87596  86.165049  80.498866  83.235639

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      37.0     6019.288267  83.170732  77.324263  80.141011

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      38.0       6019.4664  86.440678  80.952381  83.606557

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      39.0     6018.642255  86.440678  80.952381  83.606557

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      40.0     5993.328843  86.746988  81.632653  84.11215

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      41.0     5991.717862  84.914842  79.138322  81.924883

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      42.0     5972.515683  82.577566  78.45805  80.465116

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      43.0     5981.690101  85.238095  81.179138  83.159117

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      44.0     5977.159367  83.412322  79.818594  81.575898

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      45.0     5952.184566  84.745763  79.365079  81.967213

Performance hasn't improved for 5 cycles...
Done training after 45 meta cycles.

# Second Book of Baptisms, St. Augustine (239746)

In [ ]:
#no_test

collated_df = prodigy_output_to_collated_df("transcriptions/st_aug_bapt_1793_1807_annot.jsonl")

# Split data
train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)

# Generate Spacy datasets
train_spacy = genSpaCyInput(train_df)

# Look at column names
train_df.head(10)

,entry_no,text,entity,start,end,label
31,2,"2. Antonio Guillo Miercoles, día veinte de Nov...",Antonio Guillo,3,17,PER
32,2,"2. Antonio Guillo Miercoles, día veinte de Nov...","Miercoles, día veinte de Noviembre de Mil Sete...",18,86,DATE
33,2,"2. Antonio Guillo Miercoles, día veinte de Nov...",Don Miguel o’Reilly,90,109,PER
34,2,"2. Antonio Guillo Miercoles, día veinte de Nov...",Teniente de Cura Beneficiado,110,138,CHAR
35,2,"2. Antonio Guillo Miercoles, día veinte de Nov...",Vicario,140,147,CHAR
36,2,"2. Antonio Guillo Miercoles, día veinte de Nov...",Juez Eclesiás tico Auxiliar,151,178,CHAR
37,2,"2. Antonio Guillo Miercoles, día veinte de Nov...",Iglesia parroquial,187,205,LOC
38,2,"2. Antonio Guillo Miercoles, día veinte de Nov...","provincia, de San Agustín",208,233,LOC
39,2,"2. Antonio Guillo Miercoles, día veinte de Nov...",Florida Oriental,240,256,LOC
40,2,"2. Antonio Guillo Miercoles, día veinte de Nov...",niño,295,299,CHAR

In [ ]:
#no_test

train_spacy[:2]

[('2. Antonio Guillo Miercoles, día veinte de Noviembre de Mil Setecientos Noventa y Tres Yo Don Miguel o’Reilly Teniente de Cura Beneficiado, Vicario, y Juez Eclesiás tico Auxiliar de esta Iglesia parroquial y provincia, de San Agustín de la Florida Oriental. Baptisé y puse los santos oleos a un niño de color, moreno, que nacio el día primero de octubre del presente año, hijo na tural de los negros libres Isaac Guillo y Sara Ca mel, ambos naturales de America del Norte; y y en el exerci las sacras Ceremonias, y preces de nuestra Santa madre Iglesia, y la puse por nombre Juan Antonio. Fueron sus padrinos Antonio Pellice, y Susana Pellicer vecinos de esta Ciudad, les advertí el parentesco espiritual, y demás obligaciones, y lo firmé en dicho dia, mes y año.  Miguel OReilly ',
  {'entities': [(3, 17, 'PER'),
    (18, 86, 'DATE'),
    (90, 109, 'PER'),
    (110, 138, 'CHAR'),
    (140, 147, 'CHAR'),
    (151, 178, 'CHAR'),
    (187, 205, 'LOC'),
    (208, 233, 'LOC'),
    (240, 256, 'LOC'),
    (295, 299, 'CHAR'),
    (300, 308, 'CHAR'),
    (310, 316, 'CHAR'),
    (335, 370, 'DATE'),
    (372, 385, 'CHAR'),
    (393, 399, 'CHAR'),
    (400, 406, 'CHAR'),
    (407, 419, 'PER'),
    (422, 433, 'PER'),
    (441, 450, 'CHAR'),
    (454, 471, 'LOC'),
    (575, 587, 'PER'),
    (600, 608, 'REL'),
    (609, 624, 'PER'),
    (628, 643, 'PER'),
    (644, 651, 'CHAR'),
    (655, 666, 'LOC'),
    (765, 779, 'PER')]}),
 ('3. María Juana Francisca Fish Domingo, día veinte y quatro de Noviem bre de Mil Setecientos Noventa y Tres. Yo Don Miguel o’Reilly Teniente de Cura Beneficiado, Vi cario, y Juez Eclesiástico Auxiliar de esta Yglesia parroquial, y provincia de San Agustín de la Florida Oriental. Baptisé y puse los santos oleos a una niña libre de color, parda de ocho años y ocho meses de edad, hija natural de Don Jeremías Fish natural de Nueva York, y de la negra libre Eva Fish, Natural de America del Norte; y en en ella exerci las sacras Ceremonias, y preces de nuestra Santa madre Iglesia, y la puse por nombre Maria Juana Francisca fueron sus padrinos Lorenzo Capó y Juana Joaquina Gonzalez, vecinos de esta Ciudad, les advertí el parentesco espiritual, y demás obligaciones, y lo firmé en dicho dia, mes y año.  Miguel OReilly ',
  {'entities': [(3, 29, 'PER'),
    (30, 106, 'DATE'),
    (111, 130, 'PER'),
    (131, 159, 'CHAR'),
    (161, 169, 'CHAR'),
    (173, 199, 'CHAR'),
    (208, 226, 'LOC'),
    (230, 254, 'LOC'),
    (261, 278, 'LOC'),
    (317, 321, 'CHAR'),
    (322, 327, 'CHAR'),
    (328, 336, 'CHAR'),
    (338, 343, 'CHAR'),
    (347, 377, 'CHAR'),
    (379, 391, 'CHAR'),
    (395, 412, 'PER'),
    (413, 420, 'CHAR'),
    (424, 435, 'LOC'),
    (444, 449, 'CHAR'),
    (450, 455, 'CHAR'),
    (456, 465, 'PER'),
    (466, 473, 'CHAR'),
    (477, 494, 'LOC'),
    (601, 622, 'PER'),
    (634, 642, 'REL'),
    (643, 655, 'PER'),
    (658, 681, 'PER'),
    (683, 690, 'CHAR'),
    (694, 705, 'LOC'),
    (804, 818, 'PER')]})]

In [ ]:
#no_test

#if you want the same model everytime:
#random.seed(seed)
#fix_random_seed(seed)

#spacy parameters
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.6
save_mdir = 'models/st_aug_bapt_2'

#load model from pretrained
nlp_model = load_model('es_core_news_md')

nlp_model, perf_df = model_meta_training(nlp_model, train_spacy, valid_df, verbose=True, save_dir = save_mdir,
                                         n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       1.0    10314.124755  67.857143  6.998158  12.687813

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       2.0     8518.575814  57.142857  6.629834  11.881188

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall  f_score
0       3.0     8096.360142  42.682927  6.445672     11.2

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision   recall    f_score
0       4.0     7899.117136  32.231405  7.18232  11.746988

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       5.0      7846.99148   61.19403  22.651934  33.064516

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       6.0     7818.607979  49.541284  19.889503  28.383706

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0     7786.710483  52.091255  25.230203  33.995037

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0     7772.884374  56.060606  27.255985  36.679058

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       9.0     7766.927288  54.716981  26.703499  35.891089

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0     7712.144452  62.457338  33.701657  43.779904

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0     7719.262017  74.925373  46.224678  57.175399

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      12.0     7699.966653   73.98374  50.276243  59.868421

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      13.0     7699.329746  70.984456  50.460405  58.988159

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      14.0     7665.616835  77.057357  56.906077  65.466102

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      15.0     7686.508815  77.272727  56.353591  65.175719

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      16.0     7682.433793  78.461538  65.745856  71.543086

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      17.0     7650.113546  73.651452  65.377532  69.268293

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      18.0     7642.446084  78.177966  67.955801  72.70936

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      19.0     7633.968645  77.283372  60.773481  68.041237

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      20.0     7613.024582  78.736842  68.876611  73.477407

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      21.0      7608.36373  80.745342  71.823204  76.023392

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      22.0     7624.130509  78.744939  71.639042  75.024108

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall  f_score
0      23.0     7619.408803  79.352227  72.191529  75.6027

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      24.0     7597.721904  81.636727  75.322284  78.35249

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      25.0     7596.641556  79.487179  74.217311  76.761905

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      26.0     7609.308657   81.28655  76.79558  78.977273

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      27.0     7601.244618  81.081081  77.348066  79.170594

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      28.0     7576.655427  81.081081  77.348066  79.170594

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      29.0     7595.347267  83.497053  78.268877  80.798479

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      30.0     7581.759792  81.027668  75.506446  78.169685

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      31.0     7578.544305  80.190476  77.532228  78.838951

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      32.0     7575.304914  83.203125  78.453039  80.758294

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      33.0     7576.693271   83.88998  78.637201  81.178707

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      34.0     7563.893083  83.527132  79.373849  81.397545

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      35.0     7551.045093  84.055118  78.637201  81.255947

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      36.0     7561.537205  84.139265  80.110497  82.075472

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      37.0      7551.37321  83.172147  79.189687  81.132075

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      38.0     7551.396896  82.725528  79.373849  81.015038

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      39.0     7543.606206  83.397683  79.558011  81.432611

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      40.0     7545.368866       82.5  79.005525  80.714958

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      41.0     7547.089005  84.942085  81.031308  82.940622

Saved model to models\st_aug_bapt_2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      42.0     7550.065961  83.109405  79.742173  81.390977

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      43.0     7537.865975   84.60039  79.926335  82.19697

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      44.0     7540.390589  83.137255  78.084715  80.531814

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      45.0     7540.292869  83.396947  80.478821  81.911903

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      46.0     7520.755095  82.739212  81.21547  81.97026

Performance hasn't improved for 5 cycles...
Done training after 46 meta cycles.

It's interesting how similar this training performance was to the Matanzas volume above. If this is replicated across more data sets, it probably means something (although I'm not sure what exactly).