In [ ]:
#default_exp prodigy_demo

In [1]:
#no_test

#data structure imports
import pandas as pd
import numpy as np

#python imports
import random

#modeling imports
from spacy.util import fix_random_seed
from ssda_nlp.collate import *
from ssda_nlp.split_data import *
from ssda_nlp.modeling import *
from ssda_nlp.preprocessing import *
from ssda_nlp.model_performance_utils import *

In [2]:
#no_test
seed = 2436
random.seed(seed)
fix_random_seed(seed)

In [12]:
import json

with open('C:\\Users\\genkindn\\means_nlp\\annotated_json\\750003.json', encoding="utf-8") as infile:    
    annotation = json.load(infile)

ordered_annotation = []

with open('C:\\Users\\genkindn\\means_nlp\\lighttag_jsonl\\750003\\750003.jsonl', encoding="utf-8") as infile:
    for line in infile:
        text = line[10:line.find('}') - 1]
        ordered_annotation.append({'text': text})
        ordered_annotation[len(ordered_annotation) - 1]['annotations'] = []
        for ann_line in annotation['examples']:
            if text == ann_line['content'] and 'annotations' in ann_line:
                for annot in ann_line['annotations']:
                    ordered_annotation[len(ordered_annotation) - 1]['annotations'].append(annot)

annotation_dict_list = []
index = 1

for line in ordered_annotation:    
    for annotation in line['annotations']:
        annotation_dict_list.append({'entry_no': index})
        annotation_dict_list[len(annotation_dict_list) - 1]['text'] = line['text']
        annotation_dict_list[len(annotation_dict_list) - 1]['entity'] = annotation['value']
        annotation_dict_list[len(annotation_dict_list) - 1]['start'] = annotation['start']
        annotation_dict_list[len(annotation_dict_list) - 1]['end'] = annotation['end']
        annotation_dict_list[len(annotation_dict_list) - 1]['label'] = annotation['tag']
    index += 1
    
annotations = []
duplicates = []

for count, annotation in enumerate(annotation_dict_list):
    if not annotation in annotations:        
        annotations.append(annotation)
    else:        
        duplicates.append(count)

fixed_list = []

for count, annotation in enumerate(annotation_dict_list):
    if not count in duplicates:        
        fixed_list.append(annotation)
        
collated_df = pd.DataFrame(fixed_list)
collated_df.head(50)

,entry_no,text,entity,start,end,label
0,1,Saturday 8 January 1870 Said to be the coldest...,January,11,18,Date
1,1,Saturday 8 January 1870 Said to be the coldest...,Saturday 8 January 1870,0,23,Date
2,2,coldest day throughout of the winter thus far....,Willie,47,53,Name
3,3,"Sibby home, returned 3 P.M. feeling very frosty.",Sibby,0,5,Name
4,4,Sunday 9 Clear & very cold. Mercury down nearl...,Sunday 9,0,8,Date
5,7,Phipps' pew. Jeff called & bid goodbye. Willie...,Phipps',0,7,Name
6,7,Phipps' pew. Jeff called & bid goodbye. Willie...,Jeff,13,17,Name
7,7,Phipps' pew. Jeff called & bid goodbye. Willie...,Willie,40,46,Name
8,8,Frank Powel.,Powel,6,11,Name
9,8,Frank Powel.,Frank,0,5,Name
10,9,Monday 10 Hard freeze succeeded by warm sun. S...,Monday 10,0,9,Date
11,11,to Yellow Store. Registered letter for Watters...,Watterson,39,48,Name
12,11,to Yellow Store. Registered letter for Watters...,"Tutwiler,",52,61,Name
13,11,to Yellow Store. Registered letter for Watters...,Yellow Store,3,15,Location
14,12,"Esquire, Fluvanna County, Virginia containing ...",Fluvanna County,9,24,Location
15,12,"Esquire, Fluvanna County, Virginia containing ...",Virginia,26,34,Location
16,13,& shipment home of his son & Mother-in-law. Al...,-in-law,35,42,Relationship
17,13,& shipment home of his son & Mother-in-law. Al...,son,23,26,Relationship
18,13,& shipment home of his son & Mother-in-law. Al...,Mother,29,35,Relationship
19,14,to Leslie's Illustrated for Hoffman. Mailed Wi...,Hoffman,28,35,Name
20,14,to Leslie's Illustrated for Hoffman. Mailed Wi...,Willie,44,50,Name
21,15,to Frank and one to Monk. Called at Captain Ly...,Frank,3,8,Name
22,15,to Frank and one to Monk. Called at Captain Ly...,Monk,20,24,Name
23,15,to Frank and one to Monk. Called at Captain Ly...,Lyons,44,49,Name
24,15,to Frank and one to Monk. Called at Captain Ly...,Captain,36,43,Name
25,16,down mail for Colonel Cocke. Sue Miller came u...,Colonel Cocke,14,27,Name
26,16,down mail for Colonel Cocke. Sue Miller came u...,Sue Miller,29,39,Name
27,17,on way to Button's. Stopped a moment at J.M. L...,Button's,10,18,Name
28,17,on way to Button's. Stopped a moment at J.M. L...,J.M. Lyons',40,51,Name
29,17,on way to Button's. Stopped a moment at J.M. L...,Misses,56,62,Name
30,18,Andy & Betsy & Susie took game of snowball ove...,Susie,15,20,Name
31,18,Andy & Betsy & Susie took game of snowball ove...,Betsy,7,12,Name
32,18,Andy & Betsy & Susie took game of snowball ove...,Doc,52,55,Name
33,18,Andy & Betsy & Susie took game of snowball ove...,Andy,0,4,Name
34,19,Egypt to visit & medicine Mat Button. Tipton o...,Mat Button,26,36,Name
35,19,Egypt to visit & medicine Mat Button. Tipton o...,Tipton,38,44,Name
36,19,Egypt to visit & medicine Mat Button. Tipton o...,Egypt,0,5,Location
37,20,Tuesday 11 Warming & melting. Hands shucking c...,Tuesday 11,0,10,Date
38,21,Selected site for Ben's cabin near Surgoine's ...,Ben's,18,23,Name
39,21,Selected site for Ben's cabin near Surgoine's ...,Surgoine's,35,45,Location
40,21,Selected site for Ben's cabin near Surgoine's ...,Orchard,46,53,Location
41,25,"Newark, New Jersey for terms of Mark Twain's n...","Newark, New Jersey",0,18,Location
42,26,Innocents Abroad. Tipton brot Mrs. Tipton down...,Tipton,35,41,Name
43,26,Innocents Abroad. Tipton brot Mrs. Tipton down...,Tipton,18,24,Name
44,26,Innocents Abroad. Tipton brot Mrs. Tipton down...,Julia,53,58,Name
45,26,Innocents Abroad. Tipton brot Mrs. Tipton down...,Aunt,48,52,Relationship
46,27,Lyons called for medicine & advice for Bettie ...,Bettie Fain,39,50,Name
47,27,Lyons called for medicine & advice for Bettie ...,Lyons,0,5,Name
48,27,Lyons called for medicine & advice for Bettie ...,Sally,52,57,Name
49,28,shopping with W.A. Phipps & Co. for first. Bot...,Phipps,19,25,Name

# First Book of Baptisms, Matanzas (15834)

In [13]:
#no_test

#collated_df = prodigy_output_to_collated_df("transcriptions//15834_annot.jsonl")

# Split data
train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)

# Generate Spacy datasets
train_spacy = genSpaCyInput(train_df)

for index, element in enumerate(train_spacy):    
    unique_entities = []
    covered_tokens = []
    for entity in element[1]["entities"]:
        covered_span = range(entity[0], entity[1] + 1)
        overlap = False
        for token in covered_span:            
            if token in covered_tokens:
                overlap = True
                break
        if (entity not in unique_entities) and (not overlap):
            unique_entities.append(entity)
            for token in covered_span:
                covered_tokens.append(token)
    entities = []
    for entity in unique_entities:
        entities.append(entity)
    dic = {"entities": entities}
    text = element[0]
    train_spacy[index] = (text, dic)
    
train_spacy

# Look at column names
#pd.set_option('display.max_rows', None)
#train_df

[('Saturday 8 January 1870 Said to be the coldest morning &',
  {'entities': [(11, 18, 'Date')]}),
 ('coldest day throughout of the winter thus far. Willie took',
  {'entities': [(47, 53, 'Name')]}),
 ('Sibby home, returned 3 P.M. feeling very frosty.',
  {'entities': [(0, 5, 'Name')]}),
 ('Monday 10 Hard freeze succeeded by warm sun. Snow melting',
  {'entities': [(0, 9, 'Date')]}),
 ('to Yellow Store. Registered letter for Watterson to Tutwiler,',
  {'entities': [(39, 48, 'Name'), (52, 61, 'Name'), (3, 15, 'Location')]}),
 ("to Leslie's Illustrated for Hoffman. Mailed Willie's letter",
  {'entities': [(28, 35, 'Name'), (44, 50, 'Name')]}),
 ("to Frank and one to Monk. Called at Captain Lyons' & carried",
  {'entities': [(3, 8, 'Name'),
    (20, 24, 'Name'),
    (44, 49, 'Name'),
    (36, 43, 'Name')]}),
 ('down mail for Colonel Cocke. Sue Miller came up in company',
  {'entities': [(14, 27, 'Name'), (29, 39, 'Name')]}),
 ("on way to Button's. Stopped a moment at J.M. Lyons' and Misses",
  {'entities': [(10, 18, 'Name'), (40, 51, 'Name'), (56, 62, 'Name')]}),
 ('Andy & Betsy & Susie took game of snowball over me. Doc to',
  {'entities': [(15, 20, 'Name'),
    (7, 12, 'Name'),
    (52, 55, 'Name'),
    (0, 4, 'Name')]}),
 ('Tuesday 11 Warming & melting. Hands shucking corn from stalks.',
  {'entities': [(0, 10, 'Date')]}),
 ("Selected site for Ben's cabin near Surgoine's Orchard. Received",
  {'entities': [(18, 23, 'Name'),
    (35, 45, 'Location'),
    (46, 53, 'Location')]}),
 ("Newark, New Jersey for terms of Mark Twain's new book The",
  {'entities': [(0, 18, 'Location')]}),
 ('Innocents Abroad. Tipton brot Mrs. Tipton down. Aunt Julia',
  {'entities': [(35, 41, 'Name'),
    (18, 24, 'Name'),
    (53, 58, 'Name'),
    (48, 52, 'Relationship')]}),
 ('Lyons called for medicine & advice for Bettie Fain. Sally down',
  {'entities': [(39, 50, 'Name'), (0, 5, 'Name'), (52, 57, 'Name')]}),
 ('shopping with W.A. Phipps & Co. for first. Bot building material',
  {'entities': [(19, 25, 'Name')]}),
 ('Wednesday 12 Cloudy. Misty, rainish. Hands shucking corn',
  {'entities': [(0, 12, 'Date')]}),
 ("& hauling lumber for Ben's cabin. Watterson & Baker butchered",
  {'entities': [(34, 43, 'Name'), (20, 26, 'Name'), (46, 51, 'Name')]}),
 ('I will never have to deal with such a devilish devil again in',
  {'entities': [(2, 6, 'Name')]}),
 ('Thursday 13 Cloudy, thawing. Roads wretched. Hands hauling',
  {'entities': [(0, 11, 'Date')]}),
 ('in corn. Put up lot 19 shoats for fattening. Annie Lyons &',
  {'entities': [(45, 50, 'Name'), (51, 56, 'Name')]}),
 ('Lizzie Guthrie called moment at door. Wrote Gurney, Rockwood',
  {'entities': [(0, 6, 'Name'), (7, 14, 'Name')]}),
 ('day & went to bed with severe headache. Cate Young & Mag Miller',
  {'entities': [(45, 50, 'Name'), (53, 63, 'Name')]}),
 ('staying with us tonight. Contracted with young Parmer to tend',
  {'entities': [(41, 46, 'Name'), (47, 53, 'Name')]})]

In [10]:
#no_test

train_spacy[:2]

[('Surgoinsville June 23 1908',
  {'entities': [(0, 13, 'Location'), (14, 26, 'Date')]}),
 ('My Dear Mother,', {'entities': [(8, 14, 'Relationship')]})]

In [14]:
#no_test

#if you want the same model everytime:
#random.seed(seed)
#fix_random_seed(seed)

#spacy parameters
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.6
save_mdir = 'models/15834'

#load model from pretrained
nlp_model = load_model()

nlp_model, perf_df = model_meta_training(nlp_model, train_spacy, valid_df, verbose=True, save_dir = save_mdir,
                                         n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)

C:\Users\genkindn\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\training\iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "& hauling lumber for Ben's cabin. Watterson & Bake..." with entities "[(34, 43, 'Name'), (20, 26, 'Name'), (46, 51, 'Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision  recall  f_score
0       1.0      181.503511        0.0     0.0      0.0

Saved model to models\15834

C:\Users\genkindn\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\training\iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "& hauling lumber for Ben's cabin. Watterson & Bake..." with entities "[(34, 43, 'Name'), (20, 26, 'Name'), (46, 51, 'Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision  recall  f_score
0       2.0        82.32178        0.0     0.0      0.0

Performance hasn't improved for 1 cycles...

C:\Users\genkindn\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\training\iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "& hauling lumber for Ben's cabin. Watterson & Bake..." with entities "[(34, 43, 'Name'), (20, 26, 'Name'), (46, 51, 'Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision  recall  f_score
0       3.0       70.901105  44.444444    25.0     32.0

Saved model to models\15834

C:\Users\genkindn\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\training\iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "& hauling lumber for Ben's cabin. Watterson & Bake..." with entities "[(34, 43, 'Name'), (20, 26, 'Name'), (46, 51, 'Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision  recall  f_score
0       4.0       57.748909  42.857143    37.5     40.0

Saved model to models\15834

C:\Users\genkindn\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\training\iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "& hauling lumber for Ben's cabin. Watterson & Bake..." with entities "[(34, 43, 'Name'), (20, 26, 'Name'), (46, 51, 'Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision  recall   f_score
0       5.0       49.995145  46.153846    37.5  41.37931

Saved model to models\15834

C:\Users\genkindn\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\training\iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "& hauling lumber for Ben's cabin. Watterson & Bake..." with entities "[(34, 43, 'Name'), (20, 26, 'Name'), (46, 51, 'Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision  recall   f_score
0       6.0       46.356437  46.153846    37.5  41.37931

Performance hasn't improved for 1 cycles...

C:\Users\genkindn\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\training\iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "& hauling lumber for Ben's cabin. Watterson & Bake..." with entities "[(34, 43, 'Name'), (20, 26, 'Name'), (46, 51, 'Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision  recall    f_score
0       7.0       40.434887       40.0    37.5  38.709677

Performance hasn't improved for 2 cycles...

C:\Users\genkindn\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\training\iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "& hauling lumber for Ben's cabin. Watterson & Bake..." with entities "[(34, 43, 'Name'), (20, 26, 'Name'), (46, 51, 'Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision  recall  f_score
0       8.0       34.078628      43.75   43.75    43.75

Saved model to models\15834

C:\Users\genkindn\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\training\iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "& hauling lumber for Ben's cabin. Watterson & Bake..." with entities "[(34, 43, 'Name'), (20, 26, 'Name'), (46, 51, 'Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision  recall    f_score
0       9.0        30.42238       40.0    37.5  38.709677

Performance hasn't improved for 1 cycles...

C:\Users\genkindn\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\training\iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "& hauling lumber for Ben's cabin. Watterson & Bake..." with entities "[(34, 43, 'Name'), (20, 26, 'Name'), (46, 51, 'Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision  recall  f_score
0      10.0       23.980935  42.857143    37.5     40.0

Performance hasn't improved for 2 cycles...

C:\Users\genkindn\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\training\iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "& hauling lumber for Ben's cabin. Watterson & Bake..." with entities "[(34, 43, 'Name'), (20, 26, 'Name'), (46, 51, 'Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision  recall  f_score
0      11.0       20.935429  42.857143    37.5     40.0

Performance hasn't improved for 3 cycles...

C:\Users\genkindn\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\training\iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "& hauling lumber for Ben's cabin. Watterson & Bake..." with entities "[(34, 43, 'Name'), (20, 26, 'Name'), (46, 51, 'Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision  recall    f_score
0      12.0       18.016402  38.461538   31.25  34.482759

Performance hasn't improved for 4 cycles...

C:\Users\genkindn\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\training\iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "& hauling lumber for Ben's cabin. Watterson & Bake..." with entities "[(34, 43, 'Name'), (20, 26, 'Name'), (46, 51, 'Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision  recall  f_score
0      13.0       17.959951  42.857143    37.5     40.0

Performance hasn't improved for 5 cycles...
Done training after 13 meta cycles.

# Second Book of Baptisms, St. Augustine (239746)

In [ ]:
#no_test

collated_df = prodigy_output_to_collated_df("transcriptions/239746_annot.jsonl")

# Split data
train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)

# Generate Spacy datasets
train_spacy = genSpaCyInput(train_df)

# Look at column names
train_df.head(10)

,entry_no,text,entity,start,end,label
31,2,"2. Antonio Guillo Miercoles, da veinte de Nov...",Antonio Guillo,3,17,PER
32,2,"2. Antonio Guillo Miercoles, da veinte de Nov...","Miercoles, da veinte de Noviembre de Mil Sete...",18,86,DATE
33,2,"2. Antonio Guillo Miercoles, da veinte de Nov...",Don Miguel oReilly,90,109,PER
34,2,"2. Antonio Guillo Miercoles, da veinte de Nov...",Teniente de Cura Beneficiado,110,138,CHAR
35,2,"2. Antonio Guillo Miercoles, da veinte de Nov...",Vicario,140,147,CHAR
36,2,"2. Antonio Guillo Miercoles, da veinte de Nov...",Juez Eclesis tico Auxiliar,151,178,CHAR
37,2,"2. Antonio Guillo Miercoles, da veinte de Nov...",Iglesia parroquial,187,205,LOC
38,2,"2. Antonio Guillo Miercoles, da veinte de Nov...","provincia, de San Agustn",208,233,LOC
39,2,"2. Antonio Guillo Miercoles, da veinte de Nov...",Florida Oriental,240,256,LOC
40,2,"2. Antonio Guillo Miercoles, da veinte de Nov...",nio,295,299,CHAR

In [ ]:
#no_test

train_spacy[:2]

[('2. Antonio Guillo Miercoles, da veinte de Noviembre de Mil Setecientos Noventa y Tres Yo Don Miguel oReilly Teniente de Cura Beneficiado, Vicario, y Juez Eclesis tico Auxiliar de esta Iglesia parroquial y provincia, de San Agustn de la Florida Oriental. Baptis y puse los santos oleos a un nio de color, moreno, que nacio el da primero de octubre del presente ao, hijo na tural de los negros libres Isaac Guillo y Sara Ca mel, ambos naturales de America del Norte; y y en el exerci las sacras Ceremonias, y preces de nuestra Santa madre Iglesia, y la puse por nombre Juan Antonio. Fueron sus padrinos Antonio Pellice, y Susana Pellicer vecinos de esta Ciudad, les advert el parentesco espiritual, y dems obligaciones, y lo firm en dicho dia, mes y ao.  Miguel OReilly ',
  {'entities': [(3, 17, 'PER'),
    (18, 86, 'DATE'),
    (90, 109, 'PER'),
    (110, 138, 'CHAR'),
    (140, 147, 'CHAR'),
    (151, 178, 'CHAR'),
    (187, 205, 'LOC'),
    (208, 233, 'LOC'),
    (240, 256, 'LOC'),
    (295, 299, 'CHAR'),
    (300, 308, 'CHAR'),
    (310, 316, 'CHAR'),
    (335, 370, 'DATE'),
    (372, 385, 'CHAR'),
    (393, 399, 'CHAR'),
    (400, 406, 'CHAR'),
    (407, 419, 'PER'),
    (422, 433, 'PER'),
    (441, 450, 'CHAR'),
    (454, 471, 'LOC'),
    (575, 587, 'PER'),
    (600, 608, 'REL'),
    (609, 624, 'PER'),
    (628, 643, 'PER'),
    (644, 651, 'CHAR'),
    (655, 666, 'LOC'),
    (765, 779, 'PER')]}),
 ('3. Mara Juana Francisca Fish Domingo, da veinte y quatro de Noviem bre de Mil Setecientos Noventa y Tres. Yo Don Miguel oReilly Teniente de Cura Beneficiado, Vi cario, y Juez Eclesistico Auxiliar de esta Yglesia parroquial, y provincia de San Agustn de la Florida Oriental. Baptis y puse los santos oleos a una nia libre de color, parda de ocho aos y ocho meses de edad, hija natural de Don Jeremas Fish natural de Nueva York, y de la negra libre Eva Fish, Natural de America del Norte; y en en ella exerci las sacras Ceremonias, y preces de nuestra Santa madre Iglesia, y la puse por nombre Maria Juana Francisca fueron sus padrinos Lorenzo Cap y Juana Joaquina Gonzalez, vecinos de esta Ciudad, les advert el parentesco espiritual, y dems obligaciones, y lo firm en dicho dia, mes y ao.  Miguel OReilly ',
  {'entities': [(3, 29, 'PER'),
    (30, 106, 'DATE'),
    (111, 130, 'PER'),
    (131, 159, 'CHAR'),
    (161, 169, 'CHAR'),
    (173, 199, 'CHAR'),
    (208, 226, 'LOC'),
    (230, 254, 'LOC'),
    (261, 278, 'LOC'),
    (317, 321, 'CHAR'),
    (322, 327, 'CHAR'),
    (328, 336, 'CHAR'),
    (338, 343, 'CHAR'),
    (347, 377, 'CHAR'),
    (379, 391, 'CHAR'),
    (395, 412, 'PER'),
    (413, 420, 'CHAR'),
    (424, 435, 'LOC'),
    (444, 449, 'CHAR'),
    (450, 455, 'CHAR'),
    (456, 465, 'PER'),
    (466, 473, 'CHAR'),
    (477, 494, 'LOC'),
    (601, 622, 'PER'),
    (634, 642, 'REL'),
    (643, 655, 'PER'),
    (658, 681, 'PER'),
    (683, 690, 'CHAR'),
    (694, 705, 'LOC'),
    (804, 818, 'PER')]})]

In [ ]:
#no_test

#if you want the same model everytime:
#random.seed(seed)
#fix_random_seed(seed)

#spacy parameters
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.6
save_mdir = 'models/239746'

#load model from pretrained
nlp_model = load_model('es_core_news_md')

nlp_model, perf_df = model_meta_training(nlp_model, train_spacy, valid_df, verbose=True, save_dir = save_mdir,
                                         n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)

   cycle_no  avg_cycle_loss  precision    recall   f_score
0       1.0     3058.593277   0.673077  0.322284  0.435866

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall   f_score
0       2.0     1895.333521      0.768  0.530387  0.627451

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall  f_score
0       3.0     1568.612363   0.838403  0.812155  0.82507

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall  f_score
0       4.0     1018.041655   0.864245  0.832413  0.84803

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall   f_score
0       5.0      769.251223   0.862963  0.858195  0.860572

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall  f_score
0       6.0       660.08431    0.87384  0.867403  0.87061

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision   recall   f_score
0       7.0      572.990166   0.863636  0.87477  0.869167

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision   recall   f_score
0       8.0      528.868009   0.865209  0.87477  0.869963

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0       9.0      484.261564   0.867754  0.882136  0.874886

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision   recall   f_score
0      10.0      453.041833   0.868231  0.88582  0.876937

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall  f_score
0      11.0      425.230932   0.864469  0.869245  0.86685

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      12.0      417.261767   0.867754  0.882136  0.874886

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision    recall  f_score
0      13.0      392.107079   0.873394  0.876611    0.875

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision   recall   f_score
0      14.0      386.774261   0.871377  0.88582  0.878539

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      15.0      373.821548   0.867993  0.883978  0.875912

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      16.0      358.695612   0.877034  0.893186  0.885036

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      17.0      350.392904   0.876364  0.887661  0.881976

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      18.0      344.570528   0.885609  0.883978  0.884793

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      19.0      332.308219   0.876588  0.889503  0.882998

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision    recall  f_score
0      20.0      321.944276   0.887037  0.882136  0.88458

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      21.0      317.728236   0.881603  0.891344  0.886447

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      22.0      308.906818   0.888476  0.880295  0.884366

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      23.0      305.475601   0.878453  0.878453  0.878453

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      24.0      303.452614   0.882246  0.896869  0.889498

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      25.0      301.576282   0.878182  0.889503  0.883806

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision   recall   f_score
0      26.0      290.732853   0.876138  0.88582  0.880952

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      27.0      281.667764   0.881919  0.880295  0.881106

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision   recall   f_score
0      28.0       287.60354   0.890741  0.88582  0.888273

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      29.0      277.603007   0.876838  0.878453  0.877645

Performance hasn't improved for 5 cycles...
Done training after 29 meta cycles.

It's interesting how similar this training performance was to the Matanzas volume above. If this is replicated across more data sets, it probably means something (although I'm not sure what exactly).

In [ ]:
#no_test

collated_df = prodigy_output_to_collated_df("transcriptions/166470_annot.jsonl")

# Split data
train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.9, prop_validation = 0.05, grp_var = 'entry_no', seed=seed)

# Generate Spacy datasets
train_spacy = genSpaCyInput(collated_df)

# Look at column names
train_spacy[:5]

[('No. 1 Roque Cruz En catorce de Agosto de mil ochocientos treintaynuebe: yo Don Antonio Loreto Sanchez Presbitero cura beneficiado por Su Majestad de la Iglesia Parroquial de la Purisima concepcion de esta villa de Cienfuegos en ella y su jurisdiccion Vicario Eclesiastico por Santa Eclesiastica Illustrisima bautice solemnemente y puse los santos oleos a un negro adulto natural de Guinea de la propiedad de Don Agustin de Santa Cruz: en cuyo negro ejerci las sacras ceremonias y preces y le puse por nombre Roque fueron sus padrinos Jose y Monserrate; aquien adverti el parentesco espiritual y demas obligaciones y lo firme Antonio L. Sanchez ',
  {'entities': [(6, 16, 'PER'),
    (20, 70, 'DATE'),
    (75, 101, 'PER'),
    (113, 117, 'CHAR'),
    (152, 196, 'LOC'),
    (205, 224, 'LOC'),
    (251, 271, 'CHAR'),
    (358, 363, 'CHAR'),
    (364, 370, 'CHAR'),
    (371, 378, 'CHAR'),
    (382, 388, 'LOC'),
    (395, 404, 'CHAR'),
    (408, 433, 'PER'),
    (443, 448, 'CHAR'),
    (508, 513, 'PER'),
    (525, 533, 'REL'),
    (534, 538, 'PER'),
    (541, 551, 'PER'),
    (625, 643, 'PER')]}),
 ('No. 2 Maria Filomenia En quince de Agosto de mil ochocientos trientaynuebe: yo Don Antonio Loreto Sanchez Presbitero cura beneficiado por Su Majestad de la Iglesia Parroquial de la Purisima Concepcin de esta villa de Cienfuegos en ella y su jurisdiccion Vicario Eclesiastico por Santa Eclesiastica Illustrisima bautice solemnemente y puse los santos oleos a una negra adulta natural de Guinea de la propiedad de Don Leferino Amador; en cuya negra ejerci las sacras ceremonias y preces y la puse por nombre Maria Filomenia fue su madrina Arriceta Redesibace; aquien adverti el parentesco espiritual u demas obligaciones y lo firme Antonio L. Sanchez ',
  {'entities': [(6, 21, 'PER'),
    (25, 74, 'DATE'),
    (79, 105, 'PER'),
    (117, 121, 'CHAR'),
    (156, 200, 'LOC'),
    (209, 228, 'LOC'),
    (255, 275, 'CHAR'),
    (363, 368, 'CHAR'),
    (369, 375, 'CHAR'),
    (376, 383, 'CHAR'),
    (387, 393, 'LOC'),
    (400, 409, 'CHAR'),
    (413, 432, 'PER'),
    (442, 447, 'CHAR'),
    (507, 522, 'PER'),
    (530, 537, 'REL'),
    (538, 557, 'PER'),
    (631, 649, 'PER')]}),
 ('No. 3 Maria Lugrada En veinteycinco de Agosto de mil ochocientos treintaynuebe: yo Don Antonio Loreto Sanchez Presbitero cura beneficiado por Su Majestad de la Iglesia Parroquial de la Purisima Concepcion de esta villa de Cienfuegos en ella y su jurisdiccion Vicario Eclesiastico por Santa Eclesiastica Illustrisima bautice solemnemente y puse los santos oleos a una negra adulta natural de Guinea de la propiedad de Don Agustin Santa Cruz: en cuya negra ejerci las sacras ceremonias y preces y le puse por nombre Maria Lugarda fue su madrina Maria Moncerrate; aquien adverti el parentesco espiritual y demas obligaciones y lo firme Antonio L. Sanchez ',
  {'entities': [(6, 19, 'PER'),
    (23, 78, 'LOC'),
    (83, 109, 'PER'),
    (121, 125, 'CHAR'),
    (160, 204, 'LOC'),
    (213, 232, 'LOC'),
    (259, 279, 'CHAR'),
    (367, 372, 'CHAR'),
    (373, 379, 'CHAR'),
    (380, 387, 'CHAR'),
    (391, 397, 'LOC'),
    (404, 413, 'CHAR'),
    (417, 439, 'PER'),
    (449, 454, 'CHAR'),
    (514, 527, 'PER'),
    (535, 542, 'REL'),
    (543, 559, 'PER'),
    (633, 651, 'PER')]}),
 ('No. 4 Toribio de Caridad En veinteyseis de Agosto de mil ochocientos treintaynuebe; yo Don Antonio Loreto Sanchez Presbitero cura beneficiado por Su Majestad de la Iglesia Parroquial de la Purisima Concepcin de esta villa de Cienfuegos en ella y su jurisdiccion Vicario Eclesiastico por Santa Eclesiastica Illustrisima bautice solemnemente y puse los santos oleos a un parvulo que naci el diezyseis de Abril ultimo hijo legitimo de los padres libres Eugenio Vega y Socorra Paulina el primero esclavo de la villa de San Juan de los Remedios y la segunda de este partido: abuelos paternos Eugenio y Josefa padrinos. maternos Miguel y Atonacia Prieto: en cuyo parvulo ejerci las sacras ceremonias y preces y le puse por nombre Toribio de Caridad fueron sus padrinos Desidero Nafarro y Robles de ## el parentesco espiritual y demas obligaciones y lo firme Antonio L. Sanchez ',
  {'entities': [(6, 24, 'PER'),
    (28, 82, 'DATE'),
    (87, 113, 'PER'),
    (125, 129, 'CHAR'),
    (164, 208, 'LOC'),
    (217, 236, 'LOC'),
    (263, 283, 'CHAR'),
    (370, 377, 'CHAR'),
    (391, 409, 'DATE'),
    (417, 430, 'CHAR'),
    (438, 444, 'REL'),
    (445, 451, 'CHAR'),
    (452, 464, 'PER'),
    (467, 482, 'PER'),
    (494, 501, 'CHAR'),
    (508, 541, 'LOC'),
    (558, 570, 'LOC'),
    (572, 588, 'REL'),
    (589, 596, 'PER'),
    (599, 605, 'PER'),
    (606, 614, 'REL'),
    (616, 624, 'REL'),
    (625, 631, 'PER'),
    (634, 649, 'PER'),
    (659, 666, 'CHAR'),
    (726, 744, 'PER'),
    (756, 764, 'REL'),
    (765, 790, 'PER'),
    (854, 872, 'PER')]}),
 ('No. 5 Candelaria Santa Cruz En primero de Septiembre de mil ochocientos treintaynuebe yo Don Antonio Loreto Sanchez Presbitero cura beneficiado por Su Majestad de la Iglesia parroquial de la Purisima Concepcin de esta villa de Cienfuegos en ella y su jurisdiccion Vicario Eclesiastico por Santa Eclesiastica Illustrisima bautice solemnemente y puse los santos oleos en una negra adulta natural de Guinea de la propiedad de Don Agustin Santa Cruz; en cuya negra ejerci las sacras ceremonias y preces y le puse por nombre Candelaria fue su madrina Maria del Rosario; aquien adverti el parentesco espiritual y demas obligaciones y lo firme Antonio L. Sanchez ',
  {'entities': [(6, 27, 'PER'),
    (31, 85, 'DATE'),
    (89, 115, 'PER'),
    (127, 131, 'CHAR'),
    (166, 210, 'LOC'),
    (219, 238, 'LOC'),
    (265, 285, 'CHAR'),
    (374, 379, 'CHAR'),
    (380, 386, 'CHAR'),
    (387, 394, 'CHAR'),
    (398, 404, 'LOC'),
    (411, 420, 'CHAR'),
    (424, 446, 'PER'),
    (456, 461, 'CHAR'),
    (521, 531, 'PER'),
    (539, 546, 'REL'),
    (547, 564, 'PER'),
    (638, 656, 'PER')]})]

In [ ]:
#no_test

#if you want the same model everytime:
#random.seed(seed)
#fix_random_seed(seed)

#spacy parameters
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.6
save_mdir = 'models/166470'

#load model from pretrained
nlp_model = load_model()

nlp_model, perf_df = model_meta_training(nlp_model, train_spacy, valid_df, verbose=True, save_dir = save_mdir,
                                         n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)

   cycle_no  avg_cycle_loss  precision  recall  f_score
0       1.0     2859.259378        0.0     0.0      0.0

Saved model to models\166470

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       2.0     1781.561883  43.902439  41.860465  42.857143

Saved model to models\166470

   cycle_no  avg_cycle_loss  precision     recall   f_score
0       3.0      1313.44701   60.97561  58.139535  59.52381

Saved model to models\166470

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       4.0      940.350168  81.395349  81.395349  81.395349

Saved model to models\166470

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       5.0      614.722733  93.023256  93.023256  93.023256

Saved model to models\166470

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       6.0      417.195979  95.348837  95.348837  95.348837

Saved model to models\166470

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0      296.857558  97.674419  97.674419  97.674419

Saved model to models\166470

   cycle_no  avg_cycle_loss  precision  recall  f_score
0       8.0      220.006104      100.0   100.0    100.0

Saved model to models\166470

   cycle_no  avg_cycle_loss  precision  recall  f_score
0       9.0      178.885026      100.0   100.0    100.0

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision  recall  f_score
0      10.0      138.803721      100.0   100.0    100.0

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision  recall  f_score
0      11.0      123.807148      100.0   100.0    100.0

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision  recall  f_score
0      12.0      125.943441      100.0   100.0    100.0

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision  recall  f_score
0      13.0       97.236912      100.0   100.0    100.0

Performance hasn't improved for 5 cycles...
Done training after 13 meta cycles.