In [ ]:
#default_exp prodigy_demo

In [ ]:
#no_test

#data structure imports
import pandas as pd
import numpy as np

#python imports
import random

#modeling imports
from spacy.util import fix_random_seed
from ssda_nlp.collate import *
from ssda_nlp.split_data import *
from ssda_nlp.modeling import *
from ssda_nlp.preprocessing import *
from ssda_nlp.model_performance_utils import *

In [ ]:
#no_test
seed = 2436
random.seed(seed)
fix_random_seed(seed)

In [ ]:
#no_test

collated_df = prodigy_output_to_collated_df("transcriptions/matanzas_baut_1_rel_annot.jsonl")

# Split data
train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)

# Generate Spacy datasets
train_spacy = genSpaCyInput(train_df)

# Look at column names
train_df.head(10)

,entry_no,text,entity,start,end,label
13,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Paula,10,15,PER
14,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Esc.a,17,22,CHAR
15,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Juebes veinte y tres de feb.o de mil sietec.to...,23,86,DATE
16,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Thomas de Orvera,90,106,PER
17,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Paula,145,150,PER
18,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,h. l.16,151,158,CHAR
19,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Juan Joseph,162,173,PER
20,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Maria Josepha,177,190,PER
21,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,esc.s,191,196,CHAR
22,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Capitan D. Luis Hurtado de Mendoza,201,235,PER

In [ ]:
#no_test

train_spacy[:2]

[('[margin]: Paula. Esc.a Juebes veinte y tres de feb.o de mil sietec.tos. y diez y nueve Yo Thomas de Orvera baptizé, y pusse los santos15 oleos á Paula h. l.16 de Juan Joseph, y Maria Josepha esc.s del Capitan D. Luis Hurtado de Mendoza fue su Padrino Bartholome Rixo, y lo firmé. [signed]: Thomas de Orvera ',
  {'entities': [(10, 15, 'PER'),
    (17, 22, 'CHAR'),
    (23, 86, 'DATE'),
    (90, 106, 'PER'),
    (145, 150, 'PER'),
    (151, 158, 'CHAR'),
    (162, 173, 'PER'),
    (177, 190, 'PER'),
    (191, 196, 'CHAR'),
    (201, 235, 'PER'),
    (243, 250, 'REL'),
    (251, 266, 'PER'),
    (290, 306, 'PER')]}),
 ('[margin]: Bernardo Esc.vo Domingo nueve de Abril de mil sietectos y diez y nueve Yo Thomas de Orvera baptize, y pusse los s.tos oleos á Bernardo negro adulto de nacion carabali esc.o de D. Juan Joseph de Justis fue su P. Andres de Morales, y lo firmé. [signed]: Thomas de Orvera ',
  {'entities': [(10, 18, 'PER'),
    (19, 25, 'CHAR'),
    (26, 80, 'DATE'),
    (84, 100, 'PER'),
    (136, 144, 'PER'),
    (145, 150, 'CHAR'),
    (151, 157, 'CHAR'),
    (168, 176, 'CHAR'),
    (177, 182, 'CHAR'),
    (186, 210, 'PER'),
    (218, 220, 'REL'),
    (221, 238, 'PER'),
    (262, 278, 'PER')]})]

In [ ]:
#no_test

#if you want the same model everytime:
#random.seed(seed)
#fix_random_seed(seed)

#spacy parameters
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.6
save_mdir = 'models/mat_baut_1'

#load model from pretrained
nlp_model = load_model('es_core_news_md')

nlp_model, perf_df = model_meta_training(nlp_model, train_spacy, valid_df, verbose=True, save_dir = save_mdir,
                                         n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       1.0     8065.185068   86.27451  9.977324  17.886179

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision   recall   f_score
0       2.0      6746.61611      100.0  5.21542  9.913793

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall  f_score
0       3.0      6373.28776  45.762712  6.122449     10.8

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0       4.0     6297.300773  26.804124  5.895692  9.665428

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision    recall  f_score
0       5.0      6262.87104  22.641509  8.163265     12.0

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       6.0     6244.658001  37.912088  15.646259  22.150883

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall  f_score
0       7.0     6241.692333  51.955307  21.088435     30.0

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0      6212.16839  55.497382  24.036281  33.544304

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       9.0     6200.692217  67.487685  31.06576  42.546584

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0     6176.883792  73.529412  45.351474  56.100982

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      11.0      6175.31598  71.851852  43.99093  54.571027

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      12.0     6145.865839  71.830986  46.258503  56.275862

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      13.0     6151.679526  71.835443  51.473923  59.97358

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      14.0     6127.694526  75.739645  58.049887  65.725289

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall  f_score
0      15.0     6131.645422  71.587744  58.276644    64.25

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      16.0     6110.511647  74.175824  61.22449  67.080745

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      17.0     6104.188232  72.576177  59.410431  65.336658

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      18.0     6099.489276  76.280323  64.172336  69.704433

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      19.0     6100.716218       75.0  61.904762  67.826087

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      20.0     6100.281949  77.297297  64.852608  70.53021

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      21.0     6089.457586  74.278215  64.172336  68.856448

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      22.0     6080.067695  79.473684  68.480726  73.568819

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      23.0     6075.818559  76.606684  67.573696  71.807229

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      24.0     6057.033822   76.27551  67.800454  71.788715

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      25.0     6054.553998  77.002584  67.573696  71.980676

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      26.0     6045.659873  73.453608  64.62585  68.757539

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      27.0     6053.722089  78.974359  69.84127  74.127557

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      28.0     6057.111494  77.411168  69.160998  73.053892

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      29.0     6047.832988  81.637717  74.603175  77.962085

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      30.0     6028.138909  82.089552  74.829932  78.291815

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      31.0     6040.024505      82.25  74.603175  78.24019

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      32.0     6030.437644  81.725888  73.015873  77.125749

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      33.0     6039.071459  80.291971  74.829932  77.464789

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      34.0      6016.07313  82.598039  76.417234  79.387515

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      35.0     6019.045154  83.495146  78.004535  80.656506

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      36.0      6010.87596  86.165049  80.498866  83.235639

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      37.0     6019.288267  83.170732  77.324263  80.141011

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      38.0       6019.4664  86.440678  80.952381  83.606557

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      39.0     6018.642255  86.440678  80.952381  83.606557

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      40.0     5993.328843  86.746988  81.632653  84.11215

Saved model to models\mat_baut_1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      41.0     5991.717862  84.914842  79.138322  81.924883

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      42.0     5972.515683  82.577566  78.45805  80.465116

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      43.0     5981.690101  85.238095  81.179138  83.159117

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      44.0     5977.159367  83.412322  79.818594  81.575898

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      45.0     5952.184566  84.745763  79.365079  81.967213

Performance hasn't improved for 5 cycles...
Done training after 45 meta cycles.