In [ ]:
#default_exp prodigy_demo

In [ ]:
#no_test

#data structure imports
import pandas as pd
import numpy as np

#python imports
import random

#modeling imports
from spacy.util import fix_random_seed
from ssda_nlp.collate import *
from ssda_nlp.split_data import *
from ssda_nlp.modeling import *
from ssda_nlp.preprocessing import *
from ssda_nlp.model_performance_utils import *

In [ ]:
#no_test
seed = 2436
random.seed(seed)
fix_random_seed(seed)

In [ ]:
#no_test

collated_df = prodigy_output_to_collated_df("transcriptions/matanzas_baut_1_annot.jsonl")

# Split data
train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)

# Generate Spacy datasets
train_spacy = genSpaCyInput(train_df)

# Look at column names
train_df.head(10)

,entry_no,text,entity,start,end,label
0,1,[margin]: Juana. Esc.va Domingo veinte y dos d...,Juana.,10,16,PER
1,1,[margin]: Juana. Esc.va Domingo veinte y dos d...,Esc.va,17,23,CHAR
2,1,[margin]: Juana. Esc.va Domingo veinte y dos d...,Domingo veinte y dos de [roto] y nueve,24,62,DATE
3,1,[margin]: Juana. Esc.va Domingo veinte y dos d...,Thomas de Orvera,66,82,PER
4,1,[margin]: Juana. Esc.va Domingo veinte y dos d...,Juana,121,126,PER
5,1,[margin]: Juana. Esc.va Domingo veinte y dos d...,Mina,137,141,CHAR
6,1,[margin]: Juana. Esc.va Domingo veinte y dos d...,esclava,142,149,CHAR
7,1,[margin]: Juana. Esc.va Domingo veinte y dos d...,Juan Joseph de Justis,159,180,PER
8,1,[margin]: Juana. Esc.va Domingo veinte y dos d...,Joseph Salcedo,197,211,PER
9,1,[margin]: Juana. Esc.va Domingo veinte y dos d...,Ana de Santiago,214,229,PER

In [ ]:
train_spacy[:2]

[('[margin]: Juana. Esc.va Domingo veinte y dos de [roto] y nueve yo Thomas de Orvera baptize, y pusse [roto] s.tos oleos a Juana de nacion Mina esclava de[roto] Juan Joseph de Justis fueron sus P.P. Joseph Salcedo y Ana de Santiago su mugger, y lo firmé. [signed]: Thomas de Orvera ',
  {'entities': [(10, 16, 'PER'),
    (17, 23, 'CHAR'),
    (24, 62, 'DATE'),
    (66, 82, 'PER'),
    (121, 126, 'PER'),
    (137, 141, 'CHAR'),
    (142, 149, 'CHAR'),
    (159, 180, 'PER'),
    (197, 211, 'PER'),
    (214, 229, 'PER'),
    (263, 279, 'PER')]}),
 ('[margin]: Bernardo Esc.vo Domingo nueve de Abril de mil sietectos y diez y nueve Yo Thomas de Orvera baptize, y pusse los s.tos oleos á Bernardo negro adulto de nacion carabali esc.o de D. Juan Joseph de Justis fue su P. Andres de Morales, y lo firmé. [signed]: Thomas de Orvera ',
  {'entities': [(10, 18, 'PER'),
    (19, 25, 'CHAR'),
    (26, 80, 'DATE'),
    (84, 100, 'PER'),
    (136, 144, 'PER'),
    (145, 150, 'CHAR'),
    (151, 157, 'CHAR'),
    (168, 176, 'CHAR'),
    (177, 182, 'CHAR'),
    (186, 210, 'PER'),
    (221, 238, 'PER'),
    (262, 278, 'PER')]})]

In [ ]:
#if you want the same model everytime:
#random.seed(seed)
#fix_random_seed(seed)

#spacy parameters
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.6
save_mdir = 'models/test'

#load model from pretrained
nlp_model = load_model('es_core_news_md')

nlp_model, perf_df = model_meta_training(nlp_model, train_spacy, valid_df, verbose=True, save_dir = save_mdir,
                                         n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       1.0     9950.058629  88.571429  6.275304  11.720227

Saved model to models\test

   cycle_no  avg_cycle_loss  precision    recall   f_score
0       2.0     8276.646394  44.642857  5.060729  9.090909

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       3.0     7993.203142   30.46875  7.894737  12.540193

Saved model to models\test

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       4.0      7915.23426  63.473054  21.45749  32.072617

Saved model to models\test

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       5.0     7899.046536  66.153846  26.11336  37.445573

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       6.0      7871.83975  75.111111  34.210526  47.009736

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0     7830.028349  65.543071  35.425101  45.992116

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0     7815.829284  78.778135  49.595142  60.869565

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       9.0     7806.834982  72.641509  46.761134  56.896552

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0     7782.788233  78.115502  52.024291  62.454435

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0     7753.865358  76.253298  58.502024  66.208477

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      12.0     7746.360928  78.643216  63.360324  70.179372

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      13.0     7730.029129  77.860697  63.360324  69.866071

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      14.0     7709.668353  77.615572  64.574899  70.497238

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      15.0     7720.607419  75.925926  66.396761  70.842333

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      16.0     7677.931248  79.818594  71.255061  75.294118

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      17.0     7655.514416   78.26087  69.230769  73.469388

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      18.0     7668.018754  80.530973  73.684211  76.955603

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      19.0     7628.720393  81.179138  72.469636  76.57754

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      20.0     7647.120426  83.595506  75.303644  79.233227

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      21.0     7636.854072  81.538462  75.101215  78.187566

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      22.0     7623.242117  79.569892  74.898785  77.163712

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      23.0     7610.441179  82.675439  76.315789  79.368421

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      24.0     7629.964805  80.952381  75.708502  78.242678

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      25.0     7606.673802  82.112069  77.125506  79.54071

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      26.0     7589.859104   83.72591  79.149798  81.373569

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      27.0      7595.77381  82.441113  77.935223  80.12487

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      28.0     7584.865539   83.72093  80.161943  81.902792

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      29.0     7591.741785  84.067086  81.174089  82.595263

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      30.0     7565.668221  83.983573  82.793522  83.384302

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      31.0     7519.440969  84.583333  82.186235  83.367556

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      32.0     7532.405803  84.854772  82.793522  83.811475

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      33.0     7522.490923  84.407484  82.186235  83.282051

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      34.0     7539.267764   84.27673  81.376518  82.801236

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      35.0     7508.666697  84.232365  82.186235  83.196721

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      36.0     7539.406439  85.507246  83.603239  84.544524

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      37.0     7509.570409   84.47205  82.591093  83.520983

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      38.0     7515.489526  85.564854  82.793522  84.156379

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      39.0     7527.420249  86.257928  82.591093  84.384695

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      40.0     7500.656932  85.983264  83.198381  84.567901

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      41.0     7534.406296  85.892116  83.805668  84.836066

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      42.0     7512.991631  86.157025  84.412955  85.276074

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      43.0     7507.349967  86.820084  84.008097  85.390947

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      44.0     7473.586546  85.245902  84.210526  84.725051

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      45.0     7482.022659   86.00823  84.615385  85.306122

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      46.0     7499.218412  85.803758  83.198381  84.480987

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      47.0      7493.31433  86.597938  85.020243  85.801839

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      48.0     7456.729376  86.270492  85.222672  85.743381

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      49.0     7464.628486  86.419753  85.020243  85.714286

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      50.0     7490.321027  87.010309  85.425101  86.210419

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      51.0     7482.617824  86.912065  86.032389  86.46999

Saved model to models\test

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      52.0     7461.424703  87.037037  85.62753  86.326531

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      53.0     7483.713341  87.835052  86.234818  87.027579

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      54.0     7478.596749  88.247423  86.639676  87.436159

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      55.0     7472.306937  88.198758  86.234818  87.205732

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      56.0     7465.080363  88.773389  86.437247  87.589744

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      57.0      7462.58151  88.271605  86.842105  87.55102

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      58.0     7470.460156  88.453608  86.842105  87.640449

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      59.0     7457.239025  88.501027  87.246964  87.869521

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      60.0     7452.937926  88.090349  86.842105  87.461774

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      61.0     7461.119096  87.959184  87.246964  87.601626

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall  f_score
0      62.0     7433.812841  88.589212  86.437247     87.5

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      63.0     7446.939443     88.125  85.62753  86.858316

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      64.0     7430.100386  89.049587  87.246964  88.139059

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      65.0     7441.985818  88.429752  86.639676  87.525562

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      66.0     7431.901932  89.026915  87.044534  88.024565

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      67.0     7433.319983  89.583333  87.044534  88.295688

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      68.0     7440.248476  88.819876  86.842105  87.819857

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      69.0     7418.218172  88.016529  86.234818  87.116564

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      70.0     7456.351431  88.501027  87.246964  87.869521

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      71.0     7430.004824  89.211618  87.044534  88.114754

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      72.0     7437.922253  88.842975  87.044534  87.93456

Performance hasn't improved for 5 cycles...
Done training after 72 meta cycles.