In [ ]:
#default_exp prodigy_demo

In [ ]:
#no_test

#data structure imports
import pandas as pd
import numpy as np

#python imports
import random

#modeling imports
from spacy.util import fix_random_seed
from ssda_nlp.collate import *
from ssda_nlp.split_data import *
from ssda_nlp.modeling import *
from ssda_nlp.preprocessing import *
from ssda_nlp.model_performance_utils import *

In [ ]:
#no_test
seed = 2436
random.seed(seed)
fix_random_seed(seed)

# First Book of Baptisms, Matanzas (15834)

In [ ]:
#no_test

collated_df = prodigy_output_to_collated_df("transcriptions//15834_annot.jsonl")

# Split data
train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)

# Generate Spacy datasets
train_spacy = genSpaCyInput(train_df)

# Look at column names
train_df.head(10)

,entry_no,text,entity,start,end,label
13,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Paula,10,15,PER
14,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Esc.a,17,22,CHAR
15,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Juebes veinte y tres de feb.o de mil sietec.to...,23,86,DATE
16,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Thomas de Orvera,90,106,PER
17,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Paula,145,150,PER
18,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,h. l.16,151,158,CHAR
19,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Juan Joseph,162,173,PER
20,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Maria Josepha,177,190,PER
21,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,esc.s,191,196,CHAR
22,2,[margin]: Paula. Esc.a Juebes veinte y tres de...,Capitan D. Luis Hurtado de Mendoza,201,235,PER

In [ ]:
#no_test

train_spacy[:2]

[('[margin]: Paula. Esc.a Juebes veinte y tres de feb.o de mil sietec.tos. y diez y nueve Yo Thomas de Orvera baptizé, y pusse los santos15 oleos á Paula h. l.16 de Juan Joseph, y Maria Josepha esc.s del Capitan D. Luis Hurtado de Mendoza fue su Padrino Bartholome Rixo, y lo firmé. [signed]: Thomas de Orvera ',
  {'entities': [(10, 15, 'PER'),
    (17, 22, 'CHAR'),
    (23, 86, 'DATE'),
    (90, 106, 'PER'),
    (145, 150, 'PER'),
    (151, 158, 'CHAR'),
    (162, 173, 'PER'),
    (177, 190, 'PER'),
    (191, 196, 'CHAR'),
    (201, 235, 'PER'),
    (243, 250, 'REL'),
    (251, 266, 'PER'),
    (290, 306, 'PER')]}),
 ('[margin]: Bernardo Esc.vo Domingo nueve de Abril de mil sietectos y diez y nueve Yo Thomas de Orvera baptize, y pusse los s.tos oleos á Bernardo negro adulto de nacion carabali esc.o de D. Juan Joseph de Justis fue su P. Andres de Morales, y lo firmé. [signed]: Thomas de Orvera ',
  {'entities': [(10, 18, 'PER'),
    (19, 25, 'CHAR'),
    (26, 80, 'DATE'),
    (84, 100, 'PER'),
    (136, 144, 'PER'),
    (145, 150, 'CHAR'),
    (151, 157, 'CHAR'),
    (168, 176, 'CHAR'),
    (177, 182, 'CHAR'),
    (186, 210, 'PER'),
    (218, 220, 'REL'),
    (221, 238, 'PER'),
    (262, 278, 'PER')]})]

In [ ]:
#no_test

#if you want the same model everytime:
#random.seed(seed)
#fix_random_seed(seed)

#spacy parameters
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.6
save_mdir = 'models/15834'

#load model from pretrained
nlp_model = load_model()

nlp_model, perf_df = model_meta_training(nlp_model, train_spacy, valid_df, verbose=True, save_dir = save_mdir,
                                         n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     3604.613872  35.416667  11.564626  17.435897

Saved model to models\15834

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       2.0     1577.268046  49.584488  40.589569  44.638404

Saved model to models\15834

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       3.0     1404.283833   61.59601  56.00907  58.669834

Saved model to models\15834

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       4.0     1087.500379  74.820144  70.748299  72.727273

Saved model to models\15834

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       5.0      828.657138  80.906921  76.870748  78.837209

Saved model to models\15834

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       6.0      627.466177  86.698337  82.76644  84.686775

Saved model to models\15834

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0      485.745133  88.705882  85.487528  87.066975

Saved model to models\15834

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0      420.367945  89.882353  86.621315  88.221709

Saved model to models\15834

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       9.0      341.585425  90.566038  87.07483  88.786127

Saved model to models\15834

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0       285.49428   90.25522  88.208617  89.220183

Saved model to models\15834

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0      251.342275  91.395349  89.115646  90.241102

Saved model to models\15834

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      12.0      216.650905  89.838337  88.208617  89.016018

Performance hasn't improved for 1 cycles...

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      13.0      187.090941  91.375291  88.888889  90.114943

Performance hasn't improved for 2 cycles...

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      14.0      171.008158  91.552511  90.929705  91.240046

Saved model to models\15834

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      15.0       159.49017  90.740741  88.888889  89.805269

Performance hasn't improved for 1 cycles...

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      16.0      144.821506  90.114943  88.888889  89.497717

Performance hasn't improved for 2 cycles...

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      17.0      138.444385  90.993072  89.342404  90.160183

Performance hasn't improved for 3 cycles...

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      18.0      121.518075  91.224018  89.569161  90.389016

Performance hasn't improved for 4 cycles...

C:\Users\Daniel\miniconda3\lib\site-packages\spacy\training\iob_utils.py:141: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      19.0      119.929262  90.182648  89.569161  89.874858

Performance hasn't improved for 5 cycles...
Done training after 19 meta cycles.

# Second Book of Baptisms, St. Augustine (239746)

In [ ]:
#no_test

collated_df = prodigy_output_to_collated_df("transcriptions/239746_annot.jsonl")

# Split data
train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)

# Generate Spacy datasets
train_spacy = genSpaCyInput(train_df)

# Look at column names
train_df.head(10)

,entry_no,text,entity,start,end,label
31,2,"2. Antonio Guillo Miercoles, día veinte de Nov...",Antonio Guillo,3,17,PER
32,2,"2. Antonio Guillo Miercoles, día veinte de Nov...","Miercoles, día veinte de Noviembre de Mil Sete...",18,86,DATE
33,2,"2. Antonio Guillo Miercoles, día veinte de Nov...",Don Miguel o’Reilly,90,109,PER
34,2,"2. Antonio Guillo Miercoles, día veinte de Nov...",Teniente de Cura Beneficiado,110,138,CHAR
35,2,"2. Antonio Guillo Miercoles, día veinte de Nov...",Vicario,140,147,CHAR
36,2,"2. Antonio Guillo Miercoles, día veinte de Nov...",Juez Eclesiás tico Auxiliar,151,178,CHAR
37,2,"2. Antonio Guillo Miercoles, día veinte de Nov...",Iglesia parroquial,187,205,LOC
38,2,"2. Antonio Guillo Miercoles, día veinte de Nov...","provincia, de San Agustín",208,233,LOC
39,2,"2. Antonio Guillo Miercoles, día veinte de Nov...",Florida Oriental,240,256,LOC
40,2,"2. Antonio Guillo Miercoles, día veinte de Nov...",niño,295,299,CHAR

In [ ]:
#no_test

train_spacy[:2]

[('2. Antonio Guillo Miercoles, día veinte de Noviembre de Mil Setecientos Noventa y Tres Yo Don Miguel o’Reilly Teniente de Cura Beneficiado, Vicario, y Juez Eclesiás tico Auxiliar de esta Iglesia parroquial y provincia, de San Agustín de la Florida Oriental. Baptisé y puse los santos oleos a un niño de color, moreno, que nacio el día primero de octubre del presente año, hijo na tural de los negros libres Isaac Guillo y Sara Ca mel, ambos naturales de America del Norte; y y en el exerci las sacras Ceremonias, y preces de nuestra Santa madre Iglesia, y la puse por nombre Juan Antonio. Fueron sus padrinos Antonio Pellice, y Susana Pellicer vecinos de esta Ciudad, les advertí el parentesco espiritual, y demás obligaciones, y lo firmé en dicho dia, mes y año.  Miguel OReilly ',
  {'entities': [(3, 17, 'PER'),
    (18, 86, 'DATE'),
    (90, 109, 'PER'),
    (110, 138, 'CHAR'),
    (140, 147, 'CHAR'),
    (151, 178, 'CHAR'),
    (187, 205, 'LOC'),
    (208, 233, 'LOC'),
    (240, 256, 'LOC'),
    (295, 299, 'CHAR'),
    (300, 308, 'CHAR'),
    (310, 316, 'CHAR'),
    (335, 370, 'DATE'),
    (372, 385, 'CHAR'),
    (393, 399, 'CHAR'),
    (400, 406, 'CHAR'),
    (407, 419, 'PER'),
    (422, 433, 'PER'),
    (441, 450, 'CHAR'),
    (454, 471, 'LOC'),
    (575, 587, 'PER'),
    (600, 608, 'REL'),
    (609, 624, 'PER'),
    (628, 643, 'PER'),
    (644, 651, 'CHAR'),
    (655, 666, 'LOC'),
    (765, 779, 'PER')]}),
 ('3. María Juana Francisca Fish Domingo, día veinte y quatro de Noviem bre de Mil Setecientos Noventa y Tres. Yo Don Miguel o’Reilly Teniente de Cura Beneficiado, Vi cario, y Juez Eclesiástico Auxiliar de esta Yglesia parroquial, y provincia de San Agustín de la Florida Oriental. Baptisé y puse los santos oleos a una niña libre de color, parda de ocho años y ocho meses de edad, hija natural de Don Jeremías Fish natural de Nueva York, y de la negra libre Eva Fish, Natural de America del Norte; y en en ella exerci las sacras Ceremonias, y preces de nuestra Santa madre Iglesia, y la puse por nombre Maria Juana Francisca fueron sus padrinos Lorenzo Capó y Juana Joaquina Gonzalez, vecinos de esta Ciudad, les advertí el parentesco espiritual, y demás obligaciones, y lo firmé en dicho dia, mes y año.  Miguel OReilly ',
  {'entities': [(3, 29, 'PER'),
    (30, 106, 'DATE'),
    (111, 130, 'PER'),
    (131, 159, 'CHAR'),
    (161, 169, 'CHAR'),
    (173, 199, 'CHAR'),
    (208, 226, 'LOC'),
    (230, 254, 'LOC'),
    (261, 278, 'LOC'),
    (317, 321, 'CHAR'),
    (322, 327, 'CHAR'),
    (328, 336, 'CHAR'),
    (338, 343, 'CHAR'),
    (347, 377, 'CHAR'),
    (379, 391, 'CHAR'),
    (395, 412, 'PER'),
    (413, 420, 'CHAR'),
    (424, 435, 'LOC'),
    (444, 449, 'CHAR'),
    (450, 455, 'CHAR'),
    (456, 465, 'PER'),
    (466, 473, 'CHAR'),
    (477, 494, 'LOC'),
    (601, 622, 'PER'),
    (634, 642, 'REL'),
    (643, 655, 'PER'),
    (658, 681, 'PER'),
    (683, 690, 'CHAR'),
    (694, 705, 'LOC'),
    (804, 818, 'PER')]})]

In [ ]:
#no_test

#if you want the same model everytime:
#random.seed(seed)
#fix_random_seed(seed)

#spacy parameters
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.6
save_mdir = 'models/239746'

#load model from pretrained
nlp_model = load_model('es_core_news_md')

nlp_model, perf_df = model_meta_training(nlp_model, train_spacy, valid_df, verbose=True, save_dir = save_mdir,
                                         n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)

   cycle_no  avg_cycle_loss  precision    recall   f_score
0       1.0     3058.593277   0.673077  0.322284  0.435866

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall   f_score
0       2.0     1895.333521      0.768  0.530387  0.627451

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall  f_score
0       3.0     1568.612363   0.838403  0.812155  0.82507

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall  f_score
0       4.0     1018.041655   0.864245  0.832413  0.84803

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall   f_score
0       5.0      769.251223   0.862963  0.858195  0.860572

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall  f_score
0       6.0       660.08431    0.87384  0.867403  0.87061

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision   recall   f_score
0       7.0      572.990166   0.863636  0.87477  0.869167

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision   recall   f_score
0       8.0      528.868009   0.865209  0.87477  0.869963

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0       9.0      484.261564   0.867754  0.882136  0.874886

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision   recall   f_score
0      10.0      453.041833   0.868231  0.88582  0.876937

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall  f_score
0      11.0      425.230932   0.864469  0.869245  0.86685

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      12.0      417.261767   0.867754  0.882136  0.874886

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision    recall  f_score
0      13.0      392.107079   0.873394  0.876611    0.875

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision   recall   f_score
0      14.0      386.774261   0.871377  0.88582  0.878539

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      15.0      373.821548   0.867993  0.883978  0.875912

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      16.0      358.695612   0.877034  0.893186  0.885036

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      17.0      350.392904   0.876364  0.887661  0.881976

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      18.0      344.570528   0.885609  0.883978  0.884793

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      19.0      332.308219   0.876588  0.889503  0.882998

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision    recall  f_score
0      20.0      321.944276   0.887037  0.882136  0.88458

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      21.0      317.728236   0.881603  0.891344  0.886447

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      22.0      308.906818   0.888476  0.880295  0.884366

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      23.0      305.475601   0.878453  0.878453  0.878453

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      24.0      303.452614   0.882246  0.896869  0.889498

Saved model to models\239746

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      25.0      301.576282   0.878182  0.889503  0.883806

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision   recall   f_score
0      26.0      290.732853   0.876138  0.88582  0.880952

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      27.0      281.667764   0.881919  0.880295  0.881106

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision   recall   f_score
0      28.0       287.60354   0.890741  0.88582  0.888273

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      29.0      277.603007   0.876838  0.878453  0.877645

Performance hasn't improved for 5 cycles...
Done training after 29 meta cycles.

It's interesting how similar this training performance was to the Matanzas volume above. If this is replicated across more data sets, it probably means something (although I'm not sure what exactly).

In [ ]:
#no_test

collated_df = prodigy_output_to_collated_df("transcriptions/166470_annot.jsonl")

# Split data
train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.9, prop_validation = 0.05, grp_var = 'entry_no', seed=seed)

# Generate Spacy datasets
train_spacy = genSpaCyInput(collated_df)

# Look at column names
train_spacy[:5]

[('No. 1 Roque Cruz En catorce de Agosto de mil ochocientos treintaynuebe: yo Don Antonio Loreto Sanchez Presbitero cura beneficiado por Su Majestad de la Iglesia Parroquial de la Purisima concepcion de esta villa de Cienfuegos en ella y su jurisdiccion Vicario Eclesiastico por Santa Eclesiastica Illustrisima bautice solemnemente y puse los santos oleos a un negro adulto natural de Guinea de la propiedad de Don Agustin de Santa Cruz: en cuyo negro ejerci las sacras ceremonias y preces y le puse por nombre Roque fueron sus padrinos Jose y Monserrate; aquien adverti el parentesco espiritual y demas obligaciones y lo firme Antonio L. Sanchez ',
  {'entities': [(6, 16, 'PER'),
    (20, 70, 'DATE'),
    (75, 101, 'PER'),
    (113, 117, 'CHAR'),
    (152, 196, 'LOC'),
    (205, 224, 'LOC'),
    (251, 271, 'CHAR'),
    (358, 363, 'CHAR'),
    (364, 370, 'CHAR'),
    (371, 378, 'CHAR'),
    (382, 388, 'LOC'),
    (395, 404, 'CHAR'),
    (408, 433, 'PER'),
    (443, 448, 'CHAR'),
    (508, 513, 'PER'),
    (525, 533, 'REL'),
    (534, 538, 'PER'),
    (541, 551, 'PER'),
    (625, 643, 'PER')]}),
 ('No. 2 Maria Filomenia En quince de Agosto de mil ochocientos trientaynuebe: yo Don Antonio Loreto Sanchez Presbitero cura beneficiado por Su Majestad de la Iglesia Parroquial de la Purisima Concepción de esta villa de Cienfuegos en ella y su jurisdiccion Vicario Eclesiastico por Santa Eclesiastica Illustrisima bautice solemnemente y puse los santos oleos a una negra adulta natural de Guinea de la propiedad de Don Leferino Amador; en cuya negra ejerci las sacras ceremonias y preces y la puse por nombre Maria Filomenia fue su madrina Arriceta Redesibace; aquien adverti el parentesco espiritual u demas obligaciones y lo firme Antonio L. Sanchez ',
  {'entities': [(6, 21, 'PER'),
    (25, 74, 'DATE'),
    (79, 105, 'PER'),
    (117, 121, 'CHAR'),
    (156, 200, 'LOC'),
    (209, 228, 'LOC'),
    (255, 275, 'CHAR'),
    (363, 368, 'CHAR'),
    (369, 375, 'CHAR'),
    (376, 383, 'CHAR'),
    (387, 393, 'LOC'),
    (400, 409, 'CHAR'),
    (413, 432, 'PER'),
    (442, 447, 'CHAR'),
    (507, 522, 'PER'),
    (530, 537, 'REL'),
    (538, 557, 'PER'),
    (631, 649, 'PER')]}),
 ('No. 3 Maria Lugrada En veinteycinco de Agosto de mil ochocientos treintaynuebe: yo Don Antonio Loreto Sanchez Presbitero cura beneficiado por Su Majestad de la Iglesia Parroquial de la Purisima Concepcion de esta villa de Cienfuegos en ella y su jurisdiccion Vicario Eclesiastico por Santa Eclesiastica Illustrisima bautice solemnemente y puse los santos oleos a una negra adulta natural de Guinea de la propiedad de Don Agustin Santa Cruz: en cuya negra ejerci las sacras ceremonias y preces y le puse por nombre Maria Lugarda fue su madrina Maria Moncerrate; aquien adverti el parentesco espiritual y demas obligaciones y lo firme Antonio L. Sanchez ',
  {'entities': [(6, 19, 'PER'),
    (23, 78, 'LOC'),
    (83, 109, 'PER'),
    (121, 125, 'CHAR'),
    (160, 204, 'LOC'),
    (213, 232, 'LOC'),
    (259, 279, 'CHAR'),
    (367, 372, 'CHAR'),
    (373, 379, 'CHAR'),
    (380, 387, 'CHAR'),
    (391, 397, 'LOC'),
    (404, 413, 'CHAR'),
    (417, 439, 'PER'),
    (449, 454, 'CHAR'),
    (514, 527, 'PER'),
    (535, 542, 'REL'),
    (543, 559, 'PER'),
    (633, 651, 'PER')]}),
 ('No. 4 Toribio de Caridad En veinteyseis de Agosto de mil ochocientos treintaynuebe; yo Don Antonio Loreto Sanchez Presbitero cura beneficiado por Su Majestad de la Iglesia Parroquial de la Purisima Concepción de esta villa de Cienfuegos en ella y su jurisdiccion Vicario Eclesiastico por Santa Eclesiastica Illustrisima bautice solemnemente y puse los santos oleos a un parvulo que nació el diezyseis de Abril ultimo hijo legitimo de los padres libres Eugenio Vega y Socorra Paulina el primero esclavo de la villa de San Juan de los Remedios y la segunda de este partido: abuelos paternos Eugenio y Josefa padrinos. maternos Miguel y Atonacia Prieto: en cuyo parvulo ejerci las sacras ceremonias y preces y le puse por nombre Toribio de Caridad fueron sus padrinos Desidero Nafarro y Robles de ## el parentesco espiritual y demas obligaciones y lo firme Antonio L. Sanchez ',
  {'entities': [(6, 24, 'PER'),
    (28, 82, 'DATE'),
    (87, 113, 'PER'),
    (125, 129, 'CHAR'),
    (164, 208, 'LOC'),
    (217, 236, 'LOC'),
    (263, 283, 'CHAR'),
    (370, 377, 'CHAR'),
    (391, 409, 'DATE'),
    (417, 430, 'CHAR'),
    (438, 444, 'REL'),
    (445, 451, 'CHAR'),
    (452, 464, 'PER'),
    (467, 482, 'PER'),
    (494, 501, 'CHAR'),
    (508, 541, 'LOC'),
    (558, 570, 'LOC'),
    (572, 588, 'REL'),
    (589, 596, 'PER'),
    (599, 605, 'PER'),
    (606, 614, 'REL'),
    (616, 624, 'REL'),
    (625, 631, 'PER'),
    (634, 649, 'PER'),
    (659, 666, 'CHAR'),
    (726, 744, 'PER'),
    (756, 764, 'REL'),
    (765, 790, 'PER'),
    (854, 872, 'PER')]}),
 ('No. 5 Candelaria Santa Cruz En primero de Septiembre de mil ochocientos treintaynuebe yo Don Antonio Loreto Sanchez Presbitero cura beneficiado por Su Majestad de la Iglesia parroquial de la Purisima Concepción de esta villa de Cienfuegos en ella y su jurisdiccion Vicario Eclesiastico por Santa Eclesiastica Illustrisima bautice solemnemente y puse los santos oleos en una negra adulta natural de Guinea de la propiedad de Don Agustin Santa Cruz; en cuya negra ejerci las sacras ceremonias y preces y le puse por nombre Candelaria fue su madrina Maria del Rosario; aquien adverti el parentesco espiritual y demas obligaciones y lo firme Antonio L. Sanchez ',
  {'entities': [(6, 27, 'PER'),
    (31, 85, 'DATE'),
    (89, 115, 'PER'),
    (127, 131, 'CHAR'),
    (166, 210, 'LOC'),
    (219, 238, 'LOC'),
    (265, 285, 'CHAR'),
    (374, 379, 'CHAR'),
    (380, 386, 'CHAR'),
    (387, 394, 'CHAR'),
    (398, 404, 'LOC'),
    (411, 420, 'CHAR'),
    (424, 446, 'PER'),
    (456, 461, 'CHAR'),
    (521, 531, 'PER'),
    (539, 546, 'REL'),
    (547, 564, 'PER'),
    (638, 656, 'PER')]})]

In [ ]:
#no_test

#if you want the same model everytime:
#random.seed(seed)
#fix_random_seed(seed)

#spacy parameters
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.6
save_mdir = 'models/166470'

#load model from pretrained
nlp_model = load_model()

nlp_model, perf_df = model_meta_training(nlp_model, train_spacy, valid_df, verbose=True, save_dir = save_mdir,
                                         n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)

   cycle_no  avg_cycle_loss  precision  recall  f_score
0       1.0     2859.259378        0.0     0.0      0.0

Saved model to models\166470

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       2.0     1781.561883  43.902439  41.860465  42.857143

Saved model to models\166470

   cycle_no  avg_cycle_loss  precision     recall   f_score
0       3.0      1313.44701   60.97561  58.139535  59.52381

Saved model to models\166470

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       4.0      940.350168  81.395349  81.395349  81.395349

Saved model to models\166470

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       5.0      614.722733  93.023256  93.023256  93.023256

Saved model to models\166470

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       6.0      417.195979  95.348837  95.348837  95.348837

Saved model to models\166470

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0      296.857558  97.674419  97.674419  97.674419

Saved model to models\166470

   cycle_no  avg_cycle_loss  precision  recall  f_score
0       8.0      220.006104      100.0   100.0    100.0

Saved model to models\166470

   cycle_no  avg_cycle_loss  precision  recall  f_score
0       9.0      178.885026      100.0   100.0    100.0

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision  recall  f_score
0      10.0      138.803721      100.0   100.0    100.0

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision  recall  f_score
0      11.0      123.807148      100.0   100.0    100.0

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision  recall  f_score
0      12.0      125.943441      100.0   100.0    100.0

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision  recall  f_score
0      13.0       97.236912      100.0   100.0    100.0

Performance hasn't improved for 5 cycles...
Done training after 13 meta cycles.