In [ ]:
#default_exp prodigy_demo

In [ ]:
#no_test

#data structure imports
import pandas as pd
import numpy as np
import spacy


#python imports
import random


#modeling imports
from spacy.util import fix_random_seed
from ssda_nlp.collate import *
from ssda_nlp.split_data import *
from ssda_nlp.modeling import *
from ssda_nlp.preprocessing import *
from ssda_nlp.model_performance_utils import *

In [ ]:
#no_test
seed = 2436
random.seed(seed)
fix_random_seed(seed)

In [ ]:
#no_test

collated_df = prodigy_output_to_collated_df("2020-10-11_12-38-30.jsonl")

# Split data
train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)

# Generate Spacy datasets
train_spacy = genSpaCyInput(train_df)

# Look at column names
train_df.head(10)

,entry_no,text,entity,start,end,label
0,1,[margin]: Manoel. Aos vinte e quatro dias do m...,Manoel,10,16,PER
1,1,[margin]: Manoel. Aos vinte e quatro dias do m...,vinte e quatro dias do mes de Agosto de mil e ...,22,97,DATE
2,1,[margin]: Manoel. Aos vinte e quatro dias do m...,Manoel,132,138,PER
3,1,[margin]: Manoel. Aos vinte e quatro dias do m...,filho,139,144,REL
4,1,[margin]: Manoel. Aos vinte e quatro dias do m...,alferes,148,155,CHAR
5,1,[margin]: Manoel. Aos vinte e quatro dias do m...,Antonio Correa Cardozo,156,178,PER
6,1,[margin]: Manoel. Aos vinte e quatro dias do m...,molher,189,195,REL
7,1,[margin]: Manoel. Aos vinte e quatro dias do m...,Costa,202,207,PER
8,1,[margin]: Manoel. Aos vinte e quatro dias do m...,Padrinhos,214,223,REL
9,1,[margin]: Manoel. Aos vinte e quatro dias do m...,ouvidor,226,233,LOC

In [ ]:
#no_test

train_spacy[:2]

[('[margin]: Manoel. Aos vinte e quatro dias do mes de Agosto de mil e seis centos e setenta e sinco, baptizei e pus os santos oleos a Manoel filho do alferes Antonio Correa Cardozo, e de sua molher [] da Costa forão Padrinhos o ouvidor de Bastião Ferras e Maria da Silva, mulher do sargento Maior Antonio Vaz. [signed]: Padre João Pereira. ',
  {'entities': [(10, 16, 'PER'),
    (22, 97, 'DATE'),
    (132, 138, 'PER'),
    (139, 144, 'REL'),
    (148, 155, 'CHAR'),
    (156, 178, 'PER'),
    (189, 195, 'REL'),
    (202, 207, 'PER'),
    (214, 223, 'REL'),
    (226, 233, 'LOC'),
    (237, 251, 'PER'),
    (254, 268, 'PER'),
    (270, 276, 'REL'),
    (280, 294, 'CHAR'),
    (295, 307, 'PER'),
    (318, 323, 'CHAR'),
    (324, 336, 'PER')]}),
 ('[margin]: Breatis. Aos catorse do mes de maio da era de mil e seis centos e setenta e seis  baptisei e pus os santos oleos a Breatis filha do alferes Antªº Viegas de [] e  de Francisca de  []. [signed]: Vigario Padre João Pereira. ',
  {'entities': [(10, 17, 'PER'),
    (23, 90, 'DATE'),
    (125, 132, 'PER'),
    (133, 138, 'REL'),
    (142, 149, 'CHAR'),
    (150, 162, 'PER'),
    (175, 184, 'PER'),
    (203, 216, 'CHAR'),
    (217, 230, 'PER')]})]

In [ ]:
#no_test

#if you want the same model everytime:
#random.seed(seed)
#fix_random_seed(seed)

#spacy parameters
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.6
save_mdir = 'models/port01'

#load model from pretrained
nlp_model = spacy.load("pt_core_news_sm")

nlp_model, perf_df = model_meta_training(nlp_model, train_spacy, valid_df, verbose=True, save_dir = save_mdir,
                                         n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     8206.599797  69.178082  18.397086  29.064748

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       2.0     7004.709725       75.0  33.333333  46.153846

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       3.0     6751.451851  78.431373  51.001821  61.810155

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       4.0     6631.846285  84.107579  62.659381  71.816284

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       5.0     6606.729756  78.947368  62.84153  69.979716

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       6.0     6580.014789  78.600823  69.581056  73.816425

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall   f_score
0       7.0     6544.197866  77.642276  69.581056  73.39097

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0     6545.969232  78.217822  71.948998  74.952562

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       9.0     6496.224356  78.875969  74.134791  76.431925

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0     6489.248648       80.0  75.045537  77.443609

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0     6472.201505  80.626223  75.045537  77.735849

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      12.0     6481.183895  79.615385  75.409836  77.455566

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      13.0     6453.946414  81.957774  77.777778  79.813084

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      14.0     6446.948059  81.852552  78.870674  80.333952

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      15.0     6442.249657  80.933063  72.677596  76.583493

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      16.0     6442.636694  82.862903  74.863388  78.660287

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      17.0     6436.240525  82.765152  79.599271  81.151346

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      18.0     6433.399284  82.732448  79.417122  81.040892

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      19.0     6413.776171  82.518797  79.96357  81.221092

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      20.0      6403.83721  83.489681  81.056466  82.255083

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      21.0     6417.234813  82.791587  78.870674  80.783582

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      22.0     6408.530706  82.551595  80.145719  81.330869

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      23.0     6391.216904  83.895131  81.602914  82.733149

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      24.0     6406.313348  84.052533  81.602914  82.809612

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      25.0     6386.331583   83.58209  81.602914  82.580645

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      26.0     6408.917585   84.11215  81.967213  83.02583

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      27.0     6384.029421  83.487941  81.967213  82.720588

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      28.0     6389.000647  84.427767  81.967213  83.179298

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      29.0     6379.063087  84.357542  82.513661  83.425414

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      30.0     6342.713758  84.543762  82.695811  83.609576

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      31.0     6354.140907  84.317343  83.242259  83.776352

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      32.0     6346.368916  84.044527  82.513661  83.272059

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      33.0     6362.987828  84.944238  83.242259  84.084637

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      34.0     6358.327807  83.948339  82.87796  83.409716

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      35.0     6324.585391  84.288355  83.060109  83.669725

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      36.0     6329.787225  83.918669  82.695811  83.302752

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      37.0     6324.449257  84.558824  83.788707  84.172004

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      38.0     6327.025842  83.486239  82.87796  83.180987

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      39.0      6315.96269  83.180987  82.87796  83.029197

Performance hasn't improved for 2 cycles...