In [ ]:
#default_exp pt_model_training

In [ ]:
#no_test

#data structure imports
import pandas as pd
import numpy as np
import spacy


#python imports
import random


#modeling imports
from spacy.util import fix_random_seed
from ssda_nlp.collate import *
from ssda_nlp.split_data import *
from ssda_nlp.modeling import *
from ssda_nlp.preprocessing import *
from ssda_nlp.model_performance_utils import *

In [ ]:
#no_test
seed = 2436
random.seed(seed)
fix_random_seed(seed)

In [ ]:
#no_test

collated_df = prodigy_output_to_collated_df("cabofrioannotations.jsonl")

# Split data
train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)

# Generate Spacy datasets
train_spacy = genSpaCyInput(train_df)

# Look at column names
train_df.head(10)

,entry_no,text,entity,start,end,label
16,2,[margin]: Balthezar. Aos treze do mes de janei...,Balthezar,10,19,PER
17,2,[margin]: Balthezar. Aos treze do mes de janei...,treze do mes de janeiro da era de mil e seis c...,25,93,DATE
18,2,[margin]: Balthezar. Aos treze do mes de janei...,Balthezar,127,136,PER
19,2,[margin]: Balthezar. Aos treze do mes de janei...,filho,137,142,REL
20,2,[margin]: Balthezar. Aos treze do mes de janei...,Manoel Gonsalves,146,162,PER
21,2,[margin]: Balthezar. Aos treze do mes de janei...,mulher,172,178,REL
22,2,[margin]: Balthezar. Aos treze do mes de janei...,Domingas de Almeida,179,198,PER
23,2,[margin]: Balthezar. Aos treze do mes de janei...,padrinhos,205,214,REL
24,2,[margin]: Balthezar. Aos treze do mes de janei...,Capitam,217,224,CHAR
25,2,[margin]: Balthezar. Aos treze do mes de janei...,Bartholomeu,225,236,PER

In [ ]:
#no_test

train_spacy[:2]

[('[margin]: Balthezar. Aos treze do mes de janeiro da era de mil e seis centos e setenta e seis baptizei e pus os santos oleos a Balthezar filho de Manoel Gonsalves e de sua mulher Domingas de Almeida forão padrinhos o Capitam Bartholomeu [] e Francisca de Magalhães mulher de Antonio. [signed]: Vigario Padre Joãoo Pereira. ',
  {'entities': [(10, 19, 'PER'),
    (25, 93, 'DATE'),
    (127, 136, 'PER'),
    (137, 142, 'REL'),
    (146, 162, 'PER'),
    (172, 178, 'REL'),
    (179, 198, 'PER'),
    (205, 214, 'REL'),
    (217, 224, 'CHAR'),
    (225, 236, 'PER'),
    (242, 264, 'PER'),
    (275, 282, 'PER'),
    (294, 307, 'CHAR'),
    (308, 322, 'PER')]}),
 ('[margin]: Leonor. Aos vinte do mes de abril de era de mil e seiscentos e setenta e seis baptizou de [] [] da Silva do gentio de Nossa Senhora do Carmo a Leonor e lhe não pos os santos oleos; filha de Estevão Abreu e de sua mulher Angela da Veiga de que forão padrinhos o Capitam João Alvares de Matos e sua filha Maria [] de que fiz este termo por certidão do dito []. [signed]: Vigario Padre João Pereira. ',
  {'entities': [(10, 16, 'PER'),
    (22, 87, 'DATE'),
    (109, 114, 'PER'),
    (118, 124, 'CHAR'),
    (128, 150, 'LOC'),
    (153, 159, 'PER'),
    (191, 196, 'REL'),
    (200, 213, 'PER'),
    (223, 229, 'REL'),
    (230, 245, 'PER'),
    (259, 268, 'REL'),
    (271, 278, 'CHAR'),
    (279, 300, 'PER'),
    (307, 312, 'REL'),
    (313, 318, 'PER'),
    (379, 392, 'CHAR'),
    (393, 405, 'PER')]})]

In [ ]:
#no_test

#if you want the same model everytime:
#random.seed(seed)
#fix_random_seed(seed)

#spacy parameters
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.6
save_mdir = 'models/port01'

#load model from pretrained
nlp_model = load_model()

nlp_model, perf_df = model_meta_training(nlp_model, train_spacy, valid_df, verbose=True, save_dir = save_mdir,
                                         n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)

C:\Users\paula\anaconda3\lib\site-packages\spacy\language.py:635: UserWarning: [W033] Training a new parser or NER using a model with no lexeme normalization table. This may degrade the performance of the model to some degree. If this is intentional or the language you're using doesn't have a normalization table, please ignore this warning. If this is surprising, make sure you have the spacy-lookups-data package installed. The languages with lexeme normalization tables are currently: da, de, el, en, id, lb, pt, ru, sr, ta, th.
  proc.begin_training(

   cycle_no  avg_cycle_loss  precision     recall   f_score
0       1.0     3870.870528  45.915493  29.582577  35.98234

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       2.0     3904.937567  70.398482  67.332123  68.831169

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       3.0      3063.04551  79.777365  78.039927  78.899083

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       4.0      2110.97615  85.245902  84.936479  85.090909

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       5.0     1309.367972  85.714286  86.025408  85.869565

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       6.0     1150.621506  86.738351  87.84029  87.285843

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0     1031.626455  88.245931  88.566243  88.405797

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0      943.285076  88.550984  89.836661  89.189189

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       9.0      807.273434  88.628159  89.110708  88.868778

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0      761.005742  89.228007  90.199637  89.711191

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0       787.48113  88.372093  89.655172  89.009009

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      12.0      746.526723      88.75  90.199637  89.468947

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      13.0      676.781874  89.784946  90.92559  90.351668

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      14.0      667.221456  88.351254  89.473684  88.908927

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      15.0       634.13235  89.624329  90.92559  90.27027

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall  f_score
0      16.0      613.798762  89.568345  90.381125  89.9729

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      17.0      595.173104  90.125673  91.107078  90.613718

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      18.0      595.234279  89.189189  89.836661  89.511754

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      19.0      557.772991  90.596745  90.92559  90.76087

Saved model to models\port01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      20.0      538.913747  89.189189  89.836661  89.511754

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      21.0      501.926006   90.28777  91.107078  90.695574

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      22.0      508.274617  89.748201  90.562613  90.153568

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      23.0      489.273878   89.90991  90.562613  90.235081

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      24.0      457.146172  90.252708  90.744102  90.497738

Performance hasn't improved for 5 cycles...
Done training after 24 meta cycles.