In [ ]:
#default_exp es_model_training

In [ ]:
#no_test

#data structure imports
import pandas as pd
import numpy as np

#python imports
import random

#modeling imports
from spacy.util import fix_random_seed
from ssda_nlp.collate import *
from ssda_nlp.split_data import *
from ssda_nlp.modeling import *
from ssda_nlp.preprocessing import *
from ssda_nlp.model_performance_utils import *

In [ ]:
#no_test
seed = 2436
random.seed(seed)
fix_random_seed(seed)

In [ ]:
#no_test

collated_df = prodigy_output_to_collated_df(r"C:\Users\Ablid\ssda-nlp\transcriptions\libro_baut_4_annotations.jsonl")

# Split data
train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)

# Generate Spacy datasets
train_spacy = genSpaCyInput(train_df)

# Look at column names
train_df.head(10)

,entry_no,text,entity,start,end,label
0,1,Partida 8236 En esta Santa Iglecia de Santa Cr...,Santa Iglecia de Santa Cruz de Lorica,21,58,LOCATION
1,1,Partida 8236 En esta Santa Iglecia de Santa Cr...,veinte de Mayo de mil ochocien tos ochenta y c...,61,111,DATE
2,1,Partida 8236 En esta Santa Iglecia de Santa Cr...,José Maria Lugo,129,144,PERSON
3,1,Partida 8236 En esta Santa Iglecia de Santa Cr...,Eva Justina,182,193,PERSON
4,1,Partida 8236 En esta Santa Iglecia de Santa Cr...,cuatro de Febrero,207,224,DATE
5,1,Partida 8236 En esta Santa Iglecia de Santa Cr...,hija,233,237,RELATIONSHIPS
6,1,Partida 8236 En esta Santa Iglecia de Santa Cr...,Polonia Arrieta,249,264,PERSON
7,1,Partida 8236 En esta Santa Iglecia de Santa Cr...,abuelos,270,277,RELATIONSHIPS
8,1,Partida 8236 En esta Santa Iglecia de Santa Cr...,Bonifacio Arrieta,282,299,PERSON
9,1,Partida 8236 En esta Santa Iglecia de Santa Cr...,Maria Yosefa Polo,302,319,PERSON

In [ ]:
#no_test

train_spacy[:2]

[('Partida 8236 En esta Santa Iglecia de Santa Cruz de Lorica á veinte de Mayo de mil ochocien tos ochenta y cinco yo el Presbitero José Maria Lugo Cura Rector, bautisé solemne mente á Eva Justina que nació el cuatro de Febrero ultimo, hija natural de Polonia Arrieta, sus abuelos son Bonifacio Arrieta y Maria Yosefa Polo siendo sus padrinos Francisco Miguel  y Rosa Padilla, a quienes les adverti las obligacio nes del parentesco espiritual. El Cura Rector, José Maria Lugo',
  {'entities': [(21, 58, 'LOCATION'),
    (61, 111, 'DATE'),
    (129, 144, 'PERSON'),
    (182, 193, 'PERSON'),
    (207, 224, 'DATE'),
    (233, 237, 'RELATIONSHIPS'),
    (249, 264, 'PERSON'),
    (270, 277, 'RELATIONSHIPS'),
    (282, 299, 'PERSON'),
    (302, 319, 'PERSON'),
    (331, 339, 'RELATIONSHIPS'),
    (340, 356, 'PERSON'),
    (360, 372, 'PERSON'),
    (457, 472, 'PERSON')]}),
 ('Martelo Partida 8237 En esta Santa Iglecia de Santa Cruz de Lorica á veinte de Mayo de mil ochocien tos ochenta y cinco, yo el Presbitero José Maria Lugo Cura Rector, bautisé solemne mente á Candelaria Catalina que nació el Treinta de Marzo ultimo, hija legitima de Anibal Martelo y Julia Prieto, sus abuelos paternos son Manuel José Mar telo y Juana Berrocal, y maternos  Juaquin Prieto y Juana de Dios Prieto, sien do sus padrinos Alberto Martines y Librada Martelo, aquienes les adverti las obligaciones del parentesco espiritual. El Cura Rector,  José Maria Lugo',
  {'entities': [(29, 66, 'LOCATION'),
    (69, 120, 'DATE'),
    (138, 153, 'PERSON'),
    (191, 214, 'PERSON'),
    (224, 240, 'DATE'),
    (247, 253, 'RELATIONSHIPS'),
    (254, 262, 'CHARACTERISTICS'),
    (266, 280, 'PERSON'),
    (283, 295, 'PERSON'),
    (301, 317, 'RELATIONSHIPS'),
    (318, 342, 'PERSON'),
    (345, 360, 'PERSON'),
    (363, 371, 'RELATIONSHIPS'),
    (373, 387, 'PERSON'),
    (390, 410, 'PERSON'),
    (424, 432, 'RELATIONSHIPS'),
    (433, 449, 'PERSON'),
    (452, 468, 'PERSON'),
    (551, 566, 'PERSON')]})]

In [ ]:
#no_test

#if you want the same model everytime:
#random.seed(seed)
#fix_random_seed(seed)

#spacy parameters
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.6
save_mdir = 'models/test'

#load model from pretrained
nlp_model = load_model('es_core_news_md')

nlp_model, perf_df = model_meta_training(nlp_model, train_spacy, valid_df, verbose=True, save_dir = save_mdir,
                                         n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)

   cycle_no  avg_cycle_loss  precision  recall  f_score
0       1.0     3980.436338        0.0     0.0      0.0

Saved model to models\test

   cycle_no  avg_cycle_loss  precision    recall   f_score
0       2.0     3262.275686      100.0  0.591716  1.176471

Saved model to models\test

   cycle_no  avg_cycle_loss  precision  recall  f_score
0       3.0     3126.694661        0.0     0.0      0.0

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision  recall  f_score
0       4.0     3019.440509        0.0     0.0      0.0

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision    recall  f_score
0       5.0      2962.36821  41.935484  7.692308     13.0

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       6.0     2918.693641  41.269841  15.384615  22.413793

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0      2906.24238  66.197183  27.810651  39.166667

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0     2883.174363  65.789474  29.585799  40.816327

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       9.0     2880.999709  85.526316  38.461538  53.061224

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0     2866.690478  61.627907  31.360947  41.568627

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0      2865.55813  74.509804  44.970414  56.088561

Saved model to models\test

   cycle_no  avg_cycle_loss  precision    recall  f_score
0      12.0     2845.137953  71.900826  51.47929     60.0

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      13.0     2838.768134  73.529412  59.171598  65.57377

Saved model to models\test

   cycle_no  avg_cycle_loss  precision   recall   f_score
0      14.0     2831.677177  26.315789  2.95858  5.319149

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision  recall  f_score
0      15.0     2821.197253        0.0     0.0      0.0

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      16.0     2814.253742  73.103448  62.721893  67.515924

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      17.0     2806.593382   74.83871  68.639053  71.604938

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      18.0      2810.53853  75.641026  69.822485  72.615385

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      19.0     2803.983992  75.324675  68.639053  71.826625

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      20.0     2797.323831   73.88535  68.639053  71.165644

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      21.0     2796.595185  75.483871  69.230769  72.222222

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      22.0     2784.198059  75.796178  70.414201  73.006135

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      23.0     2800.895777  77.070064  71.597633  74.233129

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      24.0     2802.581875  74.683544  69.822485  72.171254

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      25.0     2788.904322  75.796178  70.414201  73.006135

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      26.0     2785.130465  74.683544  69.822485  72.171254

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      27.0     2795.215046       77.5  73.372781  75.379939

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      28.0     2780.712543  77.848101  72.781065  75.229358

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      29.0     2769.187093  77.987421  73.372781  75.609756

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      30.0     2775.874634  80.232558  81.656805  80.938416

Saved model to models\test

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      31.0     2780.464749  79.617834  73.964497  76.687117

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      32.0     2773.806747  69.005848  69.822485  69.411765

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      33.0      2767.66467  69.005848  69.822485  69.411765

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      34.0     2773.379909  74.269006  75.147929  74.705882

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      35.0     2761.203285  80.232558  81.656805  80.938416

Performance hasn't improved for 5 cycles...
Done training after 35 meta cycles.