In [ ]:
#default_exp guatemala_death_records_model_training

In [ ]:
#no_test

#data structure imports
import pandas as pd
import numpy as np
import spacy


#python imports
import random


#modeling imports
from spacy.util import fix_random_seed
from ssda_nlp.collate import *
from ssda_nlp.split_data import *
from ssda_nlp.modeling import *
from ssda_nlp.preprocessing import *
from ssda_nlp.model_performance_utils import *

In [ ]:
#no_test
seed = 2436
random.seed(seed)
fix_random_seed(seed)

In [ ]:
#no_test

collated_df = prodigy_output_to_collated_df("guatemala.annotations.jsonl")

# Split data
train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)

# Generate Spacy datasets
train_spacy = genSpaCyInput(train_df)

# Look at column names
train_df.head(10)

,entry_no,text,entity,start,end,label
0,1,Libro de Difuntos Año de 1845 Sololá Comenzó e...,Libro de Difuntos,0,17,CHAR
1,1,Libro de Difuntos Año de 1845 Sololá Comenzó e...,Año de 1845,18,29,DATE
2,1,Libro de Difuntos Año de 1845 Sololá Comenzó e...,Sololá,30,36,LOC
3,1,Libro de Difuntos Año de 1845 Sololá Comenzó e...,Comenzó en 1845 Acabo en 1859,37,67,DATE
9,3,Santos Franc.co Chial P. En doce de oct.e de ...,Santos Franc.co Chial,0,21,PER
10,3,Santos Franc.co Chial P. En doce de oct.e de ...,P.,22,24,CHAR
11,3,Santos Franc.co Chial P. En doce de oct.e de ...,doce de oct.e de ochoc.s cuart.ta y cinco,29,70,DATE
12,3,Santos Franc.co Chial P. En doce de oct.e de ...,Santos,81,87,PER
13,3,Santos Franc.co Chial P. En doce de oct.e de ...,dos años de edad,91,107,CHAR
14,3,Santos Franc.co Chial P. En doce de oct.e de ...,hijo,109,113,REL

In [ ]:
#no_test

train_spacy[:2]

[('Libro de Difuntos Año de 1845 Sololá Comenzó en 1845  Acabo en 1859      ',
  {'entities': [(0, 17, 'CHAR'),
    (18, 29, 'DATE'),
    (30, 36, 'LOC'),
    (37, 67, 'DATE')]}),
 ('Santos Franc.co Chial P.  En doce de oct.e de ochoc.s cuart.ta y cinco: fallecio Santos de dos años de edad, hijo de Francisco Chial, y Elena Martin; se sepultó en sagrado y firme Jose Leon Marroqn           ',
  {'entities': [(0, 21, 'PER'),
    (22, 24, 'CHAR'),
    (29, 70, 'DATE'),
    (81, 87, 'PER'),
    (91, 107, 'CHAR'),
    (109, 113, 'REL'),
    (117, 132, 'PER'),
    (136, 148, 'PER'),
    (164, 171, 'LOC'),
    (180, 197, 'PER')]})]

In [ ]:
#no_test

#if you want the same model everytime:
#random.seed(seed)
#fix_random_seed(seed)

#spacy parameters
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.6
save_mdir = 'models/guate01'

#load model from pretrained
nlp_model = load_model()

nlp_model, perf_df = model_meta_training(nlp_model, train_spacy, valid_df, verbose=True, save_dir = save_mdir,
                                         n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)

C:\Users\paula\anaconda3\lib\site-packages\spacy\language.py:635: UserWarning: [W033] Training a new parser or NER using a model with no lexeme normalization table. This may degrade the performance of the model to some degree. If this is intentional or the language you're using doesn't have a normalization table, please ignore this warning. If this is surprising, make sure you have the spacy-lookups-data package installed. The languages with lexeme normalization tables are currently: da, de, el, en, id, lb, pt, ru, sr, ta, th.
  proc.begin_training(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     2968.627133  53.169014  37.939698  44.281525

Saved model to models\guate01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       2.0     2534.144941  68.238994  54.522613  60.614525

Saved model to models\guate01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       3.0     2353.485815  68.475452  66.582915  67.515924

Saved model to models\guate01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       4.0     1955.860007  74.630542  76.130653  75.373134

Saved model to models\guate01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       5.0      1226.89006       77.0  77.386935  77.192982

Saved model to models\guate01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       6.0      997.849443   76.54321  77.889447  77.210461

Saved model to models\guate01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0      750.494087  77.722772  78.894472  78.304239

Saved model to models\guate01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0      630.466135  78.960396  80.150754  79.551122

Saved model to models\guate01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       9.0      561.729038  78.078818  79.648241  78.855721

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall  f_score
0      10.0      498.141562  79.104478  79.899497     79.5

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0      479.360427      80.25  80.653266  80.451128

Saved model to models\guate01

   cycle_no  avg_cycle_loss  precision     recall  f_score
0      12.0      403.047519  78.606965  79.396985     79.0

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      13.0      381.494464  79.064039  80.653266  79.850746

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      14.0      367.308845  78.465347  79.648241  79.052369

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      15.0      335.801124  78.908189  79.899497  79.400749

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      16.0      316.703915  78.271605  79.648241  78.953923

Performance hasn't improved for 5 cycles...
Done training after 16 meta cycles.