In [ ]:
#default_exp death_and_birth_records_model_training

In [ ]:
#no_test

#data structure imports
import pandas as pd
import numpy as np
import spacy


#python imports
import random


#modeling imports
from spacy.util import fix_random_seed
from ssda_nlp.collate import *
from ssda_nlp.split_data import *
from ssda_nlp.modeling import *
from ssda_nlp.preprocessing import *
from ssda_nlp.model_performance_utils import *

In [ ]:
#no_test
seed = 2436
random.seed(seed)
fix_random_seed(seed)

In [ ]:
#no_test

collated_df = prodigy_output_to_collated_df("deathandbirthdata.jsonl")

# Split data
train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)

# Generate Spacy datasets
train_spacy = genSpaCyInput(train_df)

# Look at column names
train_df.head(10)

,entry_no,text,entity,start,end,label
0,1,[margin]: Manoel. Aos vinte e quatro dias do m...,Manoel,10,16,PERSON
1,1,[margin]: Manoel. Aos vinte e quatro dias do m...,vinte e quatro dias do mes de Agosto de mil e ...,22,97,DATE
2,1,[margin]: Manoel. Aos vinte e quatro dias do m...,Manoel,132,138,PERSON
3,1,[margin]: Manoel. Aos vinte e quatro dias do m...,filho,139,144,REL
4,1,[margin]: Manoel. Aos vinte e quatro dias do m...,alferes,149,156,CHAR
5,1,[margin]: Manoel. Aos vinte e quatro dias do m...,Antonio Correa Cardozo,157,179,PERSON
6,1,[margin]: Manoel. Aos vinte e quatro dias do m...,molher,190,196,REL
7,1,[margin]: Manoel. Aos vinte e quatro dias do m...,padrinhos,215,224,REL
8,1,[margin]: Manoel. Aos vinte e quatro dias do m...,ouvidor,227,234,CHAR
9,1,[margin]: Manoel. Aos vinte e quatro dias do m...,Bastião Ferras,238,252,PERSON

In [ ]:
#no_test

train_spacy[:2]

[('[margin]: Manoel. Aos vinte e quatro dias do mes de Agosto de mil e seis centos e setenta e sinco, baptizei e pus os santos oleos a Manoel filho  do alferes Antonio Correa Cardozo, e de sua molher [] da Costa forão padrinhos o ouvidor de Bastião Ferras e Maria da Silva mulher do sargento Maior Antonio Vaz. [signed]: Padre João Pereira. ',
  {'entities': [(10, 16, 'PERSON'),
    (22, 97, 'DATE'),
    (132, 138, 'PERSON'),
    (139, 144, 'REL'),
    (149, 156, 'CHAR'),
    (157, 179, 'PERSON'),
    (190, 196, 'REL'),
    (215, 224, 'REL'),
    (227, 234, 'CHAR'),
    (238, 252, 'PERSON'),
    (255, 269, 'PERSON'),
    (270, 276, 'REL'),
    (280, 288, 'CHAR'),
    (289, 306, 'PERSON'),
    (318, 323, 'CHAR'),
    (324, 336, 'PERSON')]}),
 ('[margin]: Balthezar. Aos treze do mes de janeiro da era de mil e seis centos e setenta e seis baptizei e pus os santos oleos a Balthezar filho de Manoel Gonsalves e de sua mulher Domingas de Almeida forão padrinhos o Capitam Bartholomeu [] e Francisca de Magalhães mulher de Antonio. [signed]: Vigario Padre Joãoo Pereira. ',
  {'entities': [(10, 19, 'PER'),
    (25, 93, 'DATE'),
    (127, 136, 'PER'),
    (137, 142, 'REL'),
    (146, 162, 'PER'),
    (172, 178, 'REL'),
    (179, 198, 'PER'),
    (205, 214, 'REL'),
    (217, 224, 'CHAR'),
    (225, 236, 'PER'),
    (242, 264, 'PER'),
    (275, 282, 'PER'),
    (294, 307, 'CHAR'),
    (308, 322, 'PER')]})]

In [ ]:
#no_test

#if you want the same model everytime:
#random.seed(seed)
#fix_random_seed(seed)

#spacy parameters
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.6
save_mdir = 'models/death_birth_data_01'

#load model from pretrained
nlp_model = load_model()

nlp_model, perf_df = model_meta_training(nlp_model, train_spacy, valid_df, verbose=True, save_dir = save_mdir,
                                         n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)

C:\Users\paula\anaconda3\lib\site-packages\spacy\language.py:635: UserWarning: [W033] Training a new parser or NER using a model with no lexeme normalization table. This may degrade the performance of the model to some degree. If this is intentional or the language you're using doesn't have a normalization table, please ignore this warning. If this is surprising, make sure you have the spacy-lookups-data package installed. The languages with lexeme normalization tables are currently: da, de, el, en, id, lb, pt, ru, sr, ta, th.
  proc.begin_training(

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     7961.686503  54.580897  48.951049  51.612903

Saved model to models\death_birth_data_01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       2.0     7309.038461  69.237918  65.122378  67.117117

Saved model to models\death_birth_data_01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       3.0     5421.983138  74.887082  72.465035  73.656153

Saved model to models\death_birth_data_01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       4.0     3730.219386   82.09607  82.167832  82.131935

Saved model to models\death_birth_data_01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       5.0     2850.744741  83.989501  83.916084  83.952777

Saved model to models\death_birth_data_01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       6.0     2452.109902  84.487292  84.265734  84.376368

Saved model to models\death_birth_data_01

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       7.0     2128.490258  84.716157  84.79021  84.753167

Saved model to models\death_birth_data_01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0     1979.122549  84.588441  84.440559  84.514436

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0       9.0     1725.953724   85.48951  85.48951  85.48951

Saved model to models\death_birth_data_01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0     1658.391535  85.726795  85.576923  85.651794

Saved model to models\death_birth_data_01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0     1535.683241  85.465622  85.839161  85.651984

Saved model to models\death_birth_data_01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      12.0     1471.738295  85.826087  86.276224  86.050567

Saved model to models\death_birth_data_01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      13.0     1449.237483  86.918349  86.538462  86.727989

Saved model to models\death_birth_data_01

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      14.0     1365.701814  86.103782  85.576923  85.839544

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      15.0     1309.284464  86.830553  86.451049  86.640385

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      16.0     1257.210992  86.315789  86.013986  86.164623

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      17.0     1263.133552  85.367965  86.188811  85.776425

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      18.0     1164.986078  85.640138  86.538462  86.086957

Performance hasn't improved for 5 cycles...
Done training after 18 meta cycles.