In [ ]:
#default_exp full_volume

In [ ]:
#export
#dependencies

#nlp packages
import spacy
from spacy.util import minibatch, compounding

#manipulation of tables/arrays
import pandas as pd
import numpy as np
import copy
import json

#internal imports
from ssda_nlp.collate import *
from ssda_nlp.split_data import *
from ssda_nlp.modeling import *
from ssda_nlp.model_performance_utils import *
from ssda_nlp.xml_parser import *
from ssda_nlp.unstructured2markup import *
from ssda_nlp.utility import *
from ssda_nlp.relationships import *

In [ ]:
#export

def process_volume(path_to_transcription, path_to_model):
    '''
    runs the transcription of a single volume (formatted according to SSDA markup 2.0 specs) through the ML entity extraction
    and rules-based relationship linking pipelines, then formats resulting data for export into SQL
        path_to_transcription: path to an XML file containing the transcription of a single volume
        path_to_model: path to a spaCy model trained to extract entities from the proper type of volume
    
        returns: final people, place, and event dictionaries as well as the
        path to a JSON file containing volume metadata as well as people, place, and event records
    '''
    
    #retrieve volume metadata and controlled vocabularies
    
    volume_metadata = retrieve_volume_metadata(path_to_transcription)
    images = xml_v2_to_json(path_to_transcription)
    vocabularies = retrieve_controlled_vocabularies()
    
    if volume_metadata["country"] == "Brazil":
        lang = "pt"
        language = "portuguese"
    else:
        lang = "es"
        language = "spanish"
        
    #load and apply trained model
    
    trained_model = load_model(path_to_model, language=lang, verbose='True')
    
    entry_df = parse_xml_v2(path_to_transcription)
    
    ent_preds_df, metrics_df, per_ent_metrics = test_model(trained_model, entry_df, "entry_no", "text", score_model=False)
    print("Entities extracted.")
    
    #development
    #pd.set_option("display.max_rows", 101)
    #display(ent_preds_df.head(100))
    
    #iterate through each entry and build relationships
    
    people = []
    places = []
    events = []
    
    for i in range(len(entry_df.index)):
        
        entry_no = entry_df['entry_no'][i]
        entry_text = entry_df['text'][i]    
    
        entities = ent_preds_df.loc[ent_preds_df['entry_no'] == entry_no]      
    
        entry_people, entry_places, entry_events = build_entry_metadata(entry_text, entities, path_to_transcription, entry_no)
        
        people += entry_people
        places += entry_places
        events += entry_events
        
    print("Relationships linked.")
    
    #disambiguate locations and assign unique ids
    
    unique_places = []
    for place in places:
        if (place != None) and (place not in unique_places):
            unique_places.append(place)
            
    for person in people:
        if (person["origin"] != None) and (person["origin"] not in unique_places):
            unique_places.append(person["origin"])
    
    places = []
    curr_place = 1
    for unique_place in unique_places:
        place_record = {"id":volume_metadata["id"] + '-L' + str(curr_place), "location":unique_place}
        places.append(place_record)
        curr_place += 1
        
    #incorporate location ids into event metadata and person records
    
    for event in events:
        location = event["location"]
        loc_id = "unknown"
        if location != None:
            for place in places:
                if place["location"] == location:
                    loc_id = place["id"]
        if (loc_id == "unknown") and (location != None):
            print("Failed to find location ID for " + location)
            event["location"] = None
        else:
            event["location"] = loc_id
            
        if event["location"] == "unknown":
            event["location"] = None
            
    for person in people:
        if person["origin"] == None:
            continue
        
        for place in places:
            if place["location"] == person["origin"]:
                person["origin"] = place["id"]
                break
        
    #bracket missing or incomplete event dates
    
    incomplete_dates = []
    last_year = None
    last_month = None
    last_day = None
    
    for e in range(len(events)):
        curr_year = events[e]["date"][:4]
        curr_month = events[e]["date"][5:7]
        curr_day = events[e]["date"][8:]
        
        #fix incompletely extracted years
        if (curr_year != "????") and (last_year != None) and (abs(int(curr_year) - int(last_year)) > 1):
            if (curr_year[3] == last_year[3]):
                curr_year = last_year                
            elif (curr_month == "01") and (last_month == "12"):
                curr_year = str(int(last_year) + 1)                
            else:
                curr_year = last_year
            events[e]["date"] = curr_year + '-' + curr_month + '-' + curr_day
        
        if (curr_year == "????") or (curr_month == "??") or (curr_day == "??"):
            #logic to assign dates for birth events based on associated baptism
            if events[e]["type"] == "birth":
                if (events[e]["id"][:events[e]["id"].find('E')] == events[e - 1]["id"][:events[e - 1]["id"].find('E')]) and (events[e - 1]["type"] == "baptism") and ('?' not in events[e - 1]["date"]):
                        if (curr_month != "??") and (curr_day != "??"):
                            if (curr_month == "12") and (last_month == "01"):
                                curr_year = str(int(last_year) - 1)                                
                            elif (30 * int(last_month) + int(last_day) - 30 * int(curr_month) - int(curr_day)) < 21:
                                curr_year = last_year
                            events[e]["date"] = curr_year + '-' + events[e]["date"][5:7] + '-' + events[e]["date"][8:]
                        elif curr_month != "??":
                            if (curr_month == "12"):
                                curr_day = "01"
                                curr_year = str(int(last_year) - 1)
                                events[e]["date"] = curr_year + '-' + curr_month + '-' + curr_day + '/' + last_year + '-01-01'
                            elif (curr_month == last_month):
                                curr_day = "01"
                                curr_year = last_year
                                events[e]["date"] = curr_year + '-' + curr_month + '-' + curr_day + '/' + last_year + '-' + last_month + '-' + last_day
                            elif int(curr_month) == (int(last_month) - 1):
                                curr_day = "01"
                                curr_year = last_year
                                events[e]["date"] = curr_year + '-' + curr_month + '-' + curr_day + '/' + last_year + '-' + last_month + '-01'                            
                        elif curr_day != "??":
                            if curr_day <= last_day:
                                curr_year = last_year
                                curr_month = last_month                                
                            else:
                                if last_month == "01":
                                    curr_month = "12"
                                    curr_year = str(int(last_year) - 1)
                                else:
                                    curr_month = str(int(last_month) - 1)                                    
                                    if len(curr_month) < 2:
                                        curr_month = '0' + curr_month
                                    curr_year = last_year
                            events[e]["date"] = curr_year + '-' + curr_month + '-' + curr_day
                        else:
                            if (last_month == '01') and (int(last_day) < 21):
                                curr_year = str(int(last_year) - 1)
                                curr_month = "12"
                                curr_day = str(int(last_day) + 9)                               
                            elif int(last_day) < 21:
                                curr_year = last_year
                                curr_month = str(int(last_month) - 1)
                                if len(curr_month) < 2:
                                    curr_month = '0' + curr_month
                                curr_day = str(int(last_day) + 9)
                            else:
                                curr_year = last_year
                                curr_month = last_month
                                curr_day = str(int(last_day) - 20)
                                if len(curr_day) < 2:
                                    curr_day = '0' + curr_day
                            events[e]["date"] = curr_year + '-' + curr_month + '-' + curr_day + '/' + last_year + '-' + last_month + '-' + last_day
                            
            if (curr_year == "????") or (curr_month == "??") or (curr_day == "??"):
                incomplete_dates.append(e)
        elif last_year == None:
            for date in incomplete_dates:
                events[date]["date"] = complete_date(events[date]["date"], None, curr_year + '-' + curr_month + '-' + curr_day)
            
            incomplete_dates = []
            last_year = curr_year
            last_month = curr_month
            last_day = curr_day
        elif (compare_dates(int(curr_year), int(curr_month), int(curr_day), int(last_year), int(last_month), int(last_day)) == '>') or (compare_dates(int(curr_year), int(curr_month), int(curr_day), int(last_year), int(last_month), int(last_day)) == '='):
            for date in incomplete_dates:
                events[date]["date"] = complete_date(events[date]["date"], last_year + '-' + last_month + '-' + last_day, curr_year + '-' + curr_month + '-' + curr_day)
            
            incomplete_dates = []
            last_year = curr_year
            last_month = curr_month
            last_day = curr_day                    
    
    if last_year != None:
        for date in incomplete_dates:
            events[date]["date"] = complete_date(events[date]["date"], last_year + '-' + last_month + '-' + last_day, None)
        
    #merging any date brackets with equal endpoints
    for event in events:
        interval = event["date"].split('/')
        if (len(interval) == 2) and (interval[0] == interval[1]):
            event["date"] == interval[0]            
        
    print("Events configured.")    
    
    for person in people:        
        #strip titles and/or ranks from names
        if person["name"] != None:
            name_parts = person["name"].split(' ')

            if len(name_parts) >= 2:
                while ((name_parts[0].lower() + ' ' + name_parts[1].lower()) in vocabularies["titles"]) or ((name_parts[0].lower() + ' ' + name_parts[1].lower()) in vocabularies["ranks"]):
                    if len(name_parts) == 2:
                        person["name"] = None
                    else:
                        person["name"] = name_parts[2]
                        for i in range(3, len(name_parts)):
                            person["name"] += ' ' + name_parts[i]

                    if (name_parts[0].lower() + ' ' + name_parts[1].lower()) in vocabularies["titles"]:
                        if person["titles"] != None:
                            person["titles"] += ';' + name_parts[0] + ' ' + name_parts[1]
                        else:
                            person["titles"] = name_parts[0] + ' ' + name_parts[1]
                    else:
                        if person["ranks"] != None:
                            person["ranks"] += ';' + name_parts[0] + ' ' + name_parts[1]
                        else:
                            person["ranks"] = name_parts[0] + ' ' + name_parts[1]

                    if person["name"] == None:
                        break
                    name_parts = person["name"].split(' ')
                    if len(name_parts) < 2:
                        break

            if person["name"] != None:
                while (name_parts[0].lower() in vocabularies["titles"]) or (name_parts[0].lower() in vocabularies["ranks"]):
                    if len(name_parts) == 1:
                        person["name"] = None
                    else:
                        person["name"] = name_parts[1]
                        for i in range(2, len(name_parts)):
                            person["name"] += ' ' + name_parts[i]

                    if name_parts[0].lower() in vocabularies["titles"]:
                        if person["titles"] != None:
                            person["titles"] += ';' + name_parts[0]
                        else:
                            person["titles"] = name_parts[0]
                    else:
                        if person["ranks"] != None:
                            person["ranks"] += ';' + name_parts[0]
                        else:
                            person["ranks"] = name_parts[0]

                    if person["name"] == None:
                        break
                    name_parts = person["name"].split(' ')
                    
    #normalize names and all characteristics
    names = []
    name_counts = []
    ethnonym_vocab = retrieve_json_vocab("synonyms.json", "ethnonyms")
    phenotype_vocab = retrieve_json_vocab("synonyms.json", "phenotypes", language="spanish")
    
    for person in people:
        #normalize characteristics and translate to English
        for key in person:
            if person[key] == None:
                continue
            if key == "name":
                person[key] = normalize_text(person[key], "synonyms.json", context="name")
                #check extracted name for ethnonyms and/or attributed phenotypes        
                if (person["name"] != None) and (person["name"] != normalize_text(person["name"], "synonyms.json", context="ethnonym")):
                    for token in person["name"].split(' '):
                        eth_norm = normalize_text(token, "synonyms.json", context="ethnonym")
                        if token != eth_norm:
                            if (person["ethnicities"] == None) or (not (eth_norm in person["ethnicities"])):
                                if person["ethnicities"] == None:
                                    person["ethnicities"] = eth_norm
                                else:
                                    person["ethnicities"] = person["ethnicities"] + ';' + eth_norm
                    person["name"] = normalize_text(person["name"], "synonyms.json", context="ethnonym")
                else:
                    for ethnonym in ethnonym_vocab:
                        if ethnonym in person["name"]:
                            if person["ethnicities"] == None:
                                person["ethnicities"] = ethnonym
                            else:
                                person["ethnicities"] = person["ethnicities"] + ';' + ethnonym
                for phenotype in phenotype_vocab:
                    if phenotype in normalize_text(person[key], "synonyms.json", context="characteristic"):                    
                        if person["phenotype"] == None:
                            person["phenotype"] = phenotype
                        else:
                            person["phenotype"] = person["phenotype"] + ';' + phenotype
                        if phenotype[-1] == 's':
                            for token in person["name"].split(' '):
                                if normalize_text(token, "synonyms.json", context="characteristic") == phenotype:
                                    person["name"] = person["name"].replace(' ' + token, '')
            elif key == "ethnicities":                
                if person[key].find(';') == -1:
                    person[key] = normalize_text(person[key], "synonyms.json", context="ethnonym")                    
                else:
                    char_comp = person[key].split(';')
                    person[key] = ""
                    #strip out duplicate characteristics
                    for char in char_comp:
                        char = normalize_text(char, "synonyms.json", context="ethnonym")                       
                                          
                        if not (char in person[key]):
                            if person[key] == "":
                                person[key] = char
                            else:
                                person[key] = person[key] + ';' + char
            elif (key != "id") and (key != "relationships"):
                if person[key].find(';') == -1:
                    person[key] = normalize_text(person[key], "synonyms.json", context="characteristic")
                    person[key] = translate_characteristic(person[key], "synonyms.json", language)
                else:
                    char_comp = person[key].split(';')
                    person[key] = ""
                    #strip out duplicate characteristics
                    for char in char_comp:
                        char = normalize_text(char, "synonyms.json", context="characteristic")                        
                        char = translate_characteristic(char, "synonyms.json", language)                        
                        if not (char in person[key]):
                            if person[key] == "":
                                person[key] = char
                            else:
                                person[key] = person[key] + ';' + char           
        
        #future improvement: find additional references for plural characteristics
        
        #count name frequency
        if person["name"] != None:
            if person["name"] in names:
                name_counts[names.index(person['name'])] += 1
            else:
                names.append(person["name"])
                name_counts.append(1)   
    
    #disambiguate and merge people across the volume
    redundant_records = []
    merged_records = []    
    for i in range(len(name_counts)):
        if (name_counts[i] > .1 * len(images)) and (len(names[i].split(' ')) > 1) and (names[i] != "Unknown principal"):
            records_to_merge = []            
            for j in range(len(people)):
                if people[j]["name"] == names[i]:
                    redundant_records.append(people[j])
                    records_to_merge.append(people[j])                    
            merged_records.append(merge_records(records_to_merge))            
    people = [person for person in people if person not in redundant_records]
    for person in merged_records:
        people.append(person)    
    
    print("People records enhanced and disambiguated.")
    
    #reduce compound person IDs to single ID, add references field
    people, events = compact_references(people, events)
    
    print("Single ID generated for each individual.")
    
    #convert dictionaries into JSON    
    with open("volume_records\\" + volume_metadata["id"] + ".json", "w") as outfile:
        outfile.write('{\n\"volume\": \n')
        json.dump(volume_metadata, outfile)
        outfile.write(',')
        outfile.write('\n\"images\": [\n')
        first_img = True
        for image in images:
            if first_img:
                first_img = False
            else:
                outfile.write(",\n")
            json.dump(image, outfile)
        outfile.write("\n],\n")
        outfile.write('\n\"people\": [\n')
        first_person = True
        for person in people:
            if first_person:
                first_person = False
            else:
                outfile.write(",\n")            
            json.dump(person, outfile)            
        outfile.write("\n],\n")
        outfile.write("\"places\": [\n")
        first_place = True
        for place in places:
            if first_place:
                first_place = False
            else:
                outfile.write(",\n")
            json.dump(place, outfile)
        outfile.write("\n],\n")
        outfile.write("\"events\": [\n")
        first_event = True
        for event in events:
            if first_event:
                first_event = False
            else:
                outfile.write(",\n")
            json.dump(event, outfile)
        outfile.write("\n]\n")
        outfile.write('}')
            
    print("JSON built, processing completed.")
            
    return people, places, events, volume_metadata["id"] + "_ppe.json"

In [ ]:
#no_test

people, places, events, json_path = process_volume("transcriptions\\166470.xml", "models/166470")

Loaded model 'models/166470'
Entities extracted.

   index entry_no           pred_entity pred_label  pred_start  pred_end
0      3   1002-1                  cura       CHAR         113       117
1      6   1002-1  Vicario Eclesiastico       CHAR         251       271
2      7   1002-1                 negro       CHAR         358       363
3      8   1002-1                adulto       CHAR         364       370
4      9   1002-1               natural       CHAR         371       378
5     11   1002-1             propiedad       CHAR         395       404
6     13   1002-1                 negro       CHAR         443       448

   index entry_no           pred_entity pred_label  pred_start  pred_end
0     22   1002-2                  cura       CHAR         117       121
1     25   1002-2  Vicario Eclesiastico       CHAR         255       275
2     26   1002-2                 negra       CHAR         363       368
3     27   1002-2                adulta       CHAR         369       375
4     28   1002-2               natural       CHAR         376       383
5     30   1002-2             propiedad       CHAR         400       409
6     32   1002-2                 negra       CHAR         442       447

   index entry_no           pred_entity pred_label  pred_start  pred_end
0     40   1002-3                  cura       CHAR         121       125
1     43   1002-3  Vicario Eclesiastico       CHAR         259       279
2     44   1002-3                 negra       CHAR         367       372
3     45   1002-3                adulta       CHAR         373       379
4     46   1002-3               natural       CHAR         380       387
5     48   1002-3             propiedad       CHAR         404       413
6     50   1002-3                 negra       CHAR         449       454

   index entry_no           pred_entity pred_label  pred_start  pred_end
0     58   1002-4                  cura       CHAR         125       129
1     61   1002-4  Vicario Eclesiastico       CHAR         263       283
2     62   1002-4               parvulo       CHAR         370       377
3     64   1002-4         hijo legitimo       CHAR         417       430
4     66   1002-4                libres       CHAR         445       451
5     69   1002-4               esclavo       CHAR         494       501
6     72   1002-4      abuelos paternos       CHAR         572       588
7     75   1002-4              padrinos       CHAR         606       614
8     79   1002-4               parvulo       CHAR         659       666

   index entry_no           pred_entity pred_label  pred_start  pred_end
0     87   1003-1                  cura       CHAR         127       131
1     90   1003-1  Vicario Eclesiastico       CHAR         265       285
2     91   1003-1                 negra       CHAR         374       379
3     92   1003-1                adulta       CHAR         380       386
4     93   1003-1               natural       CHAR         387       394
5     95   1003-1             propiedad       CHAR         411       420
6     97   1003-1                 negra       CHAR         456       461

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    105   1003-2                  cura       CHAR         123       127
1    108   1003-2  vicario Eclesiastico       CHAR         261       281
2    109   1003-2                 negra       CHAR         369       374
3    110   1003-2                adulta       CHAR         375       381
4    111   1003-2               natural       CHAR         382       389
5    113   1003-2             propiedad       CHAR         406       415
6    115   1003-2                 negra       CHAR         450       455

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    123   1003-3                  cura       CHAR         112       116
1    126   1003-3  vicario Eclesiastico       CHAR         250       270
2    127   1003-3               parvola       CHAR         358       365
3    129   1003-3          hija natural       CHAR         394       406
4    130   1003-3                 negra       CHAR         413       418
5    132   1003-3               natural       CHAR         427       434
6    134   1003-3             propiedad       CHAR         451       460
7    136   1003-3                 negra       CHAR         486       491

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    144   1003-4                  cura       CHAR         113       117
1    147   1003-4  vicario Eclesiastico       CHAR         251       271
2    148   1003-4               parvulo       CHAR         358       365
3    150   1003-4         hijo legitimo       CHAR         410       423
4    152   1003-4               natural       CHAR         444       451
5    155   1003-4               natural       CHAR         489       496
6    157   1003-4      Abuelos Paternos       CHAR         513       529
7    159   1003-4      abuelos maternos       CHAR         547       563
8    161   1003-4               parvulo       CHAR         597       604

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    169   1003-5                  cura       CHAR         123       127
1    172   1003-5  vicario Eclesiastico       CHAR         261       281
2    173   1003-5               parvulo       CHAR         368       375
3    175   1003-5               hijo de       CHAR         425       432
4    176   1003-5                 parda       CHAR         436       441
5    178   1003-5               natural       CHAR         453       460
6    181   1003-5              esclavos       CHAR         497       505
7    183   1003-5               parvulo       CHAR         541       548
8    186   1003-5                 pardo       CHAR         645       650

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    193   1003-6                  cura       CHAR         128       132
1    196   1003-6  vicario Eclesiastico       CHAR         266       286
2    197   1003-6               parvola       CHAR         374       381
3    199   1003-6          hija natural       CHAR         418       430
4    200   1003-6                 negra       CHAR         437       442
5    202   1003-6               natural       CHAR         458       465
6    205   1003-6              esclavos       CHAR         507       515
7    207   1003-6               parvola       CHAR         549       556

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    216   1003-7                  cura       CHAR         135       139
1    219   1003-7  vicario Eclesiastico       CHAR         273       293
2    220   1003-7               parvulo       CHAR         381       388
3    222   1003-7          hijo natural       CHAR         424       436
4    224   1003-7               natural       CHAR         457       464
5    228   1003-7               parvulo       CHAR         521       528

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    237   1004-1                  cura       CHAR         117       121
1    240   1004-1  vicario Eclesiastico       CHAR         254       274
2    241   1004-1               parvulo       CHAR         280       287
3    243   1004-1          hijo natural       CHAR         325       337
4    244   1004-1                morena       CHAR         344       350
5    246   1004-1               natural       CHAR         358       365
6    248   1004-1             propiedad       CHAR         379       388
7    249   1004-1            licensiado       CHAR         393       403
8    251   1004-1               parvulo       CHAR         447       454

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    259   1004-2                  cura       CHAR         134       138
1    262   1004-2  vicario Eclesiastico       CHAR         272       292
2    263   1004-2               parvulo       CHAR         379       386
3    265   1004-2         hijo legitimo       CHAR         429       442
4    277   1004-2               parvulo       CHAR         648       655

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    286   1004-3                  cura       CHAR         114       118
1    289   1004-3  vicario Eclesiastico       CHAR         252       272
2    290   1004-3                 negra       CHAR         360       365
3    291   1004-3                adulta       CHAR         366       372
4    292   1004-3               natural       CHAR         373       380
5    294   1004-3             propiedad       CHAR         397       406
6    296   1004-3                 negra       CHAR         441       446

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    304   1004-4                  cura       CHAR         125       129
1    307   1004-4  vicario Eclesiastico       CHAR         262       282
2    308   1004-4               parvulo       CHAR         367       374
3    310   1004-4          hijo natural       CHAR         410       422
4    311   1004-4                morena       CHAR         426       432
5    313   1004-4               natural       CHAR         442       449
6    316   1004-4              esclavos       CHAR         483       491
7    318   1004-4               parvulo       CHAR         522       529

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    326   1004-5                  cura       CHAR         120       124
1    329   1004-5  Vicario Eclesiastico       CHAR         258       278
2    330   1004-5               parvulo       CHAR         365       372
3    332   1004-5          hijo natural       CHAR         416       428
4    334   1004-5              esclavos       CHAR         447       455
5    336   1004-5               parvulo       CHAR         483       490

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    345   1004-6                  cura       CHAR         121       125
1    348   1004-6  Vicario Eclesiastico       CHAR         259       279
2    349   1004-6               parvula       CHAR         367       374
3    351   1004-6          hija natural       CHAR         412       424
4    357   1004-6              Maternas       CHAR         507       515
5    360   1004-6               esclavo       CHAR         547       554
6    361   1004-6               natural       CHAR         555       562
7    363   1004-6               parvula       CHAR         587       594

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    372   1004-7                  cura       CHAR         126       130
1    375   1004-7  vicario Eclesiastico       CHAR         264       284
2    376   1004-7               parvula       CHAR         370       377
3    378   1004-7         hija legitima       CHAR         424       437
4    387   1004-7                pardos       CHAR         572       578
5    388   1004-7                libres       CHAR         579       585
6    389   1004-7             naturales       CHAR         588       597
7    391   1004-7               parvula       CHAR         622       629

   index entry_no    pred_entity pred_label  pred_start  pred_end
0    400   1005-1           cura       CHAR         120       124
1    403   1005-1        parvula       CHAR         318       325
2    405   1005-1  hija legitima       CHAR         359       372
3    408   1005-1      naturales       CHAR         423       432
4    415   1005-1        natural       CHAR         547       554
5    421   1005-1        parvula       CHAR         644       651

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    429   1005-2                  cura       CHAR         113       117
1    432   1005-2  Vicario Eclesiastico       CHAR         251       271
2    433   1005-2               parvola       CHAR         359       366
3    435   1005-2         hijo legitimo       CHAR         396       409
4    438   1005-2               natural       CHAR         436       443
5    440   1005-2              esclavos       CHAR         454       462
6    442   1005-2               parvulo       CHAR         493       500

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    450   1005-3                  cura       CHAR         107       111
1    453   1005-3  Vicario Eclesiastico       CHAR         245       265
2    454   1005-3               parvula       CHAR         353       360
3    458   1005-3               natural       CHAR         409       416
4    460   1005-3              esclavos       CHAR         427       435
5    462   1005-3               parvola       CHAR         466       473

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    470   1005-4                  cura       CHAR         124       128
1    473   1005-4  Vicario Eclesiastico       CHAR         262       282
2    474   1005-4               parvulo       CHAR         369       376
3    476   1005-4         hijo legitimo       CHAR         411       424
4    479   1005-4             naturales       CHAR         449       458
5    481   1005-4             propiedad       CHAR         475       484
6    483   1005-4               parvulo       CHAR         515       522

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    491   1005-5                  cura       CHAR         123       127
1    494   1005-5  Vicario Eclesiastico       CHAR         261       281
2    495   1005-5               parvulo       CHAR         368       375
3    497   1005-5          hijo natural       CHAR         409       421
4    499   1005-5               natural       CHAR         448       455
5    505   1005-5               parvulo       CHAR         548       555
6    510   1005-5                pardos       CHAR         684       690
7    511   1005-5                libres       CHAR         691       697

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    516   1005-6                  Cura       CHAR         115       119
1    519   1005-6  vicario Eclesiastico       CHAR         253       273
2    520   1005-6                 negra       CHAR         361       366
3    521   1005-6                adulta       CHAR         367       373
4    522   1005-6               natural       CHAR         374       381
5    524   1005-6             propiedad       CHAR         398       407
6    526   1005-6                 negra       CHAR         435       440

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    534   1006-1                  cura       CHAR         118       122
1    537   1006-1  vicario Eclesiastico       CHAR         256       276
2    538   1006-1                 negro       CHAR         363       368
3    539   1006-1                adulto       CHAR         369       375
4    540   1006-1               natural       CHAR         376       383
5    542   1006-1             propiedad       CHAR         400       409
6    544   1006-1                 negro       CHAR         450       455

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    552   1006-2                  cura       CHAR         128       132
1    555   1006-2  vicario Eclesiastico       CHAR         266       286
2    556   1006-2                 negra       CHAR         377       382
3    558   1006-2             propiedad       CHAR         409       418
4    560   1006-2                 negra       CHAR         452       457

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    568   1006-3                  cura       CHAR         121       125
1    571   1006-3  vicario Eclesiastico       CHAR         259       279
2    572   1006-3               parvulo       CHAR         366       373
3    574   1006-3          hijo natural       CHAR         416       428
4    577   1006-3               natural       CHAR         480       487
5    582   1006-3               natural       CHAR         556       563
6    587   1006-3              natuales       CHAR         616       624
7    589   1006-3                libres       CHAR         649       655
8    590   1006-3               parvulo       CHAR         664       671

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    599   1006-4                  cura       CHAR         133       137
1    602   1006-4  vicario Eclesiastico       CHAR         273       293
2    603   1006-4                 negra       CHAR         381       386
3    605   1006-4               hija de       CHAR         427       434
4    608   1006-4               natural       CHAR         470       477
5    610   1006-4               parvula       CHAR         502       509

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    619   1006-5                  cura       CHAR         135       139
1    622   1006-5  vicario Eclesiastico       CHAR         273       293
2    623   1006-5               parbula       CHAR         381       388
3    626   1006-5                morena       CHAR         431       437
4    628   1006-5               natural       CHAR         460       467
5    631   1006-5       Abuelos abuelos       CHAR         530       545
6    634   1006-5             naturales       CHAR         602       611
7    636   1006-5               parbula       CHAR         637       644

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    645   1006-6                  cura       CHAR         120       124
1    648   1006-6  vicario Eclesiastico       CHAR         259       279
2    649   1006-6               parvula       CHAR         367       374
3    651   1006-6         hija legitima       CHAR         440       453
4    652   1006-6                negros       CHAR         461       467
5    655   1006-6             naturales       CHAR         488       497
6    657   1006-6             propiedad       CHAR         514       523
7    659   1006-6               parbula       CHAR         551       558

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    667   1007-1                  cura       CHAR         120       124
1    670   1007-1  vicario Eclesiastico       CHAR         258       278
2    671   1007-1               parbulo       CHAR         365       372
3    673   1007-1        hiijo legitimo       CHAR         430       444
4    674   1007-1                negros       CHAR         452       458
5    677   1007-1             naturales       CHAR         477       486
6    679   1007-1              esclavos       CHAR         497       505
7    681   1007-1               parvulo       CHAR         533       540
8    684   1007-1                 negro       CHAR         633       638

CHAR
CHAR
libre

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    690   1007-2               parvulo       CHAR          40        47
1    691   1007-2                 libre       CHAR          77        82
2    694   1007-2                  cura       CHAR         187       191
3    697   1007-2  vicario Eclesiastico       CHAR         325       345
4    698   1007-2               parvulo       CHAR         432       439
5    700   1007-2         hijo legitimo       CHAR         489       502
6    701   1007-2                negros       CHAR         510       516
7    704   1007-2             naturales       CHAR         534       543
8    706   1007-2             propiedad       CHAR         560       569
9    708   1007-2               parvulo       CHAR         597       604

CHAR
CHAR
CHAR
libre

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    716   1007-3                  cura       CHAR         119       123
1    719   1007-3  vicario Eclesiastico       CHAR         257       277
2    720   1007-3               parvula       CHAR         365       372
3    722   1007-3         hija legitimo       CHAR         450       463
4    723   1007-3               morenos       CHAR         471       478
5    726   1007-3             naturales       CHAR         504       513
6    729   1007-3                 libre       CHAR         534       539
7    730   1007-3              esclavos       CHAR         552       560
8    732   1007-3               parbula       CHAR         589       596
9    735   1007-3                morena       CHAR         681       687

CHAR
CHAR
CHAR
libre

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    741   1007-4                  cura       CHAR         124       128
1    744   1007-4  vicario Eclesiastico       CHAR         262       282
2    745   1007-4               parvulo       CHAR         369       376
3    747   1007-4         hijo legitimo       CHAR         425       438
4    748   1007-4                negros       CHAR         446       452
5    751   1007-4             naturales       CHAR         467       476
6    754   1007-4                 libre       CHAR         496       501
7    755   1007-4              esclavos       CHAR         514       522
8    757   1007-4               parvulo       CHAR         550       557

CHAR

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    765   1007-5                  cura       CHAR         118       122
1    768   1007-5  vicario Eclesiastico       CHAR         256       276
2    769   1007-5               parvulo       CHAR         363       370
3    771   1007-5         hijo legitimo       CHAR         424       437
4    772   1007-5                negros       CHAR         445       451
5    775   1007-5             naturales       CHAR         471       480
6    777   1007-5             propiedad       CHAR         497       506
7    779   1007-5               parvulo       CHAR         541       548

CHAR
CHAR
libre

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    787   1007-6                  cura       CHAR         124       128
1    790   1007-6  vicario Eclesiastico       CHAR         262       282
2    791   1007-6               parbula       CHAR         370       377
3    793   1007-6         hija legitima       CHAR         438       451
4    794   1007-6               morenos       CHAR         459       466
5    797   1007-6             naturales       CHAR         491       500
6    799   1007-6                 libre       CHAR         516       521
7    800   1007-6             propiedad       CHAR         540       549
8    802   1007-6               parvula       CHAR         573       580

CHAR
CHAR
CHAR
libre

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    810   1008-1                  cura       CHAR         120       124
1    813   1008-1  vicario Eclesiastico       CHAR         261       281
2    814   1008-1               parvula       CHAR         365       372
3    816   1008-1         hija legitima       CHAR         441       454
4    817   1008-1               morenos       CHAR         462       469
5    820   1008-1                 libre       CHAR         492       497
6    821   1008-1             naturales       CHAR         498       507
7    823   1008-1              esclavos       CHAR         518       526
8    825   1008-1               parvula       CHAR         555       562

CHAR
CHAR
CHAR
libre

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    833   1008-2                  cura       CHAR         121       125
1    836   1008-2  vicario Eclesiastico       CHAR         260       280
2    837   1008-2               parvula       CHAR         368       375
3    839   1008-2         hija legitima       CHAR         452       465
4    840   1008-2               morenos       CHAR         473       480
5    843   1008-2                 libre       CHAR         505       510
6    844   1008-2             naturales       CHAR         511       520
7    846   1008-2              esclavos       CHAR         544       552
8    848   1008-2               parvula       CHAR         581       588

CHAR
CHAR
CHAR
libre

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    856   1008-3                  cura       CHAR         126       130
1    859   1008-3  vicario Eclesiastico       CHAR         264       284
2    860   1008-3               parvulo       CHAR         371       378
3    862   1008-3         hijo legitimo       CHAR         429       442
4    863   1008-3               morenos       CHAR         450       457
5    866   1008-3                 libre       CHAR         483       488
6    867   1008-3               natural       CHAR         489       496
7    869   1008-3             propiedad       CHAR         513       522
8    871   1008-3               parvulo       CHAR         561       568

CHAR

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    879   1008-4                  cura       CHAR         119       123
1    882   1008-4  vicario Eclesiastico       CHAR         257       277
2    883   1008-4               parvula       CHAR         365       372
3    885   1008-4         hija legitima       CHAR         429       442
4    886   1008-4                negros       CHAR         450       456
5    889   1008-4             naturales       CHAR         476       485
6    891   1008-4             propiedad       CHAR         502       511
7    893   1008-4               parvula       CHAR         540       547

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    901   1008-5                  cura       CHAR         129       133
1    904   1008-5  vicario Eclesiastico       CHAR         267       287
2    905   1008-5               parvula       CHAR         375       382
3    907   1008-5         hija legitima       CHAR         430       443
4    908   1008-5               morenos       CHAR         451       458
5    911   1008-5             naturales       CHAR         478       487
6    913   1008-5             propiedad       CHAR         504       513
7    915   1008-5               parvula       CHAR         542       549

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    923   1008-6                  cura       CHAR         117       121
1    926   1008-6  vicario Eclesiastico       CHAR         254       274
2    927   1008-6               parvulo       CHAR         361       368
3    929   1008-6         hijo legitimo       CHAR         420       433
4    930   1008-6               morenos       CHAR         442       449
5    933   1008-6             naturales       CHAR         467       476
6    935   1008-6              esclavos       CHAR         487       495
7    937   1008-6               parvulo       CHAR         524       531

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    946   1009-1                  cura       CHAR         126       130
1    949   1009-1  vicario Eclesiastico       CHAR         267       287
2    950   1009-1               parvulo       CHAR         374       381
3    953   1009-1                morena       CHAR         443       449
4    955   1009-1               natural       CHAR         472       479
5    961   1009-1             naturales       CHAR         565       574
6    963   1009-1               parvulo       CHAR         596       603

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    971   1009-2                  cura       CHAR         136       140
1    974   1009-2  vicario Eclesiastico       CHAR         274       294
2    975   1009-2                 negra       CHAR         382       387
3    976   1009-2                adulta       CHAR         388       394
4    977   1009-2               natural       CHAR         395       402
5    979   1009-2               esclava       CHAR         413       420
6    981   1009-2                 negra       CHAR         458       463

   index entry_no           pred_entity pred_label  pred_start  pred_end
0    989   1009-3                  cura       CHAR         127       131
1    992   1009-3  vicario Eclesiastico       CHAR         265       285
2    993   1009-3                 negro       CHAR         372       377
3    994   1009-3                adulto       CHAR         378       384
4    995   1009-3               natural       CHAR         385       392
5    997   1009-3             propiedad       CHAR         409       418
6    999   1009-3                 negro       CHAR         454       459

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1008   1009-4                  cura       CHAR         126       130
1   1011   1009-4  vicario Eclesiastico       CHAR         264       284
2   1012   1009-4                 negro       CHAR         371       376
3   1013   1009-4               natural       CHAR         377       384
4   1015   1009-4             propiedad       CHAR         401       410
5   1017   1009-4                 negro       CHAR         449       454

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1025   1009-5                  cura       CHAR         118       122
1   1028   1009-5  vicario Eclesiastico       CHAR         256       276
2   1029   1009-5                 negra       CHAR         364       369
3   1030   1009-5                adulta       CHAR         370       376
4   1031   1009-5               natural       CHAR         377       384
5   1033   1009-5             propiedad       CHAR         401       410
6   1035   1009-5                 negra       CHAR         446       451

   index entry_no   pred_entity pred_label  pred_start  pred_end
0   1044   1009-6          cura       CHAR         138       142
1   1047   1009-6       parvula       CHAR         376       383
2   1049   1009-6  hija natural       CHAR         424       436
3   1052   1009-6     naturales       CHAR         486       495
4   1060   1009-6        pardos       CHAR         610       616
5   1061   1009-6      ingenuos       CHAR         617       625
6   1062   1009-6       parvula       CHAR         635       642

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1070   1010-1                  cura       CHAR         128       132
1   1073   1010-1  vicario Eclesiastico       CHAR         266       286
2   1074   1010-1               parvulo       CHAR         373       380
3   1077   1010-1                morena       CHAR         437       443
4   1079   1010-1               natural       CHAR         458       465
5   1081   1010-1              esclavos       CHAR         479       487
6   1084   1010-1               parvulo       CHAR         544       551

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1093   1010-2                  cura       CHAR         125       129
1   1096   1010-2  vicario Eclesiastico       CHAR         263       283
2   1097   1010-2                 negro       CHAR         370       375
3   1098   1010-2                adulto       CHAR         376       382
4   1099   1010-2               natural       CHAR         383       390
5   1101   1010-2             propiedad       CHAR         407       416
6   1103   1010-2                 negro       CHAR         458       463

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1111   1010-3                  cura       CHAR         122       126
1   1114   1010-3  vicario Eclesiastico       CHAR         260       280
2   1115   1010-3                 negro       CHAR         367       372
3   1116   1010-3                adulto       CHAR         373       379
4   1117   1010-3               natural       CHAR         380       387
5   1119   1010-3             propiedad       CHAR         404       413
6   1121   1010-3                 negro       CHAR         452       457

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1129   1010-4                  cura       CHAR         115       119
1   1132   1010-4  vicario Eclesiastico       CHAR         253       273
2   1133   1010-4                 negro       CHAR         359       364
3   1134   1010-4                adulto       CHAR         365       371
4   1135   1010-4               natural       CHAR         372       379
5   1137   1010-4             propiedad       CHAR         396       405
6   1139   1010-4                 negro       CHAR         441       446

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1146   1010-5                  cura       CHAR         121       125
1   1149   1010-5  vicario Eclesiastico       CHAR         259       279
2   1150   1010-5                 negro       CHAR         366       371
3   1151   1010-5                adulto       CHAR         372       378
4   1152   1010-5               natural       CHAR         379       386
5   1154   1010-5             propiedad       CHAR         403       412
6   1156   1010-5                 negro       CHAR         448       453

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1163   1010-6                  cura       CHAR         123       127
1   1166   1010-6  vicario Eclesiastico       CHAR         261       281
2   1168   1010-6                 negra       CHAR         360       365
3   1169   1010-6                adulta       CHAR         366       372
4   1170   1010-6               natural       CHAR         373       380
5   1172   1010-6             propiedad       CHAR         397       406
6   1174   1010-6                 negra       CHAR         442       447

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1182   1010-7                  cura       CHAR         133       137
1   1186   1010-7  vicario Eclesiastico       CHAR         279       299
2   1187   1010-7               parvula       CHAR         387       394
3   1190   1010-7                 negra       CHAR         458       463
4   1192   1010-7               natural       CHAR         493       500
5   1195   1010-7              esclavos       CHAR         534       542
6   1199   1010-7               parvulo       CHAR         613       620

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1208   1011-1                  cura       CHAR         138       142
1   1211   1011-1  vicario Eclesiastico       CHAR         276       296
2   1212   1011-1               parvula       CHAR         384       391
3   1214   1011-1          hija natural       CHAR         435       447
4   1217   1011-1                pardos       CHAR         488       494
5   1218   1011-1                libres       CHAR         495       501
6   1219   1011-1             naturales       CHAR         502       511
7   1226   1011-1               parvula       CHAR         613       620

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1235   1011-2                  cura       CHAR         128       132
1   1238   1011-2  vicario Eclesiastico       CHAR         266       286
2   1239   1011-2                 negro       CHAR         373       378
3   1240   1011-2                adulto       CHAR         379       385
4   1241   1011-2               natural       CHAR         386       393
5   1243   1011-2             propiedad       CHAR         410       419
6   1245   1011-2                 negro       CHAR         460       465

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1252   1011-3                  cura       CHAR         125       129
1   1255   1011-3  vicario Eclesiastico       CHAR         263       283
2   1256   1011-3                 negro       CHAR         369       374
3   1257   1011-3                adulto       CHAR         375       381
4   1258   1011-3               natural       CHAR         382       389
5   1262   1011-3                 negro       CHAR         457       462

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1270   1011-4                  cura       CHAR         119       123
1   1273   1011-4  vicario Eclesiastico       CHAR         257       277
2   1274   1011-4                 negra       CHAR         365       370
3   1275   1011-4                adulta       CHAR         371       377
4   1276   1011-4               natural       CHAR         378       385
5   1278   1011-4             propiedad       CHAR         402       411
6   1280   1011-4                 negra       CHAR         447       452
7   1285   1011-4                 misma       CHAR         559       564
8   1286   1011-4             propiedad       CHAR         565       574

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1291   1011-5                  cura       CHAR         129       133
1   1294   1011-5  vicario Eclesiastico       CHAR         267       287
2   1295   1011-5               parvulo       CHAR         374       381
3   1298   1011-5                morena       CHAR         425       431
4   1301   1011-5               parvulo       CHAR         473       480
5   1303   1011-5              eslcavos       CHAR         558       566

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1312   1011-6                  cura       CHAR         128       132
1   1315   1011-6  vicario Eclesiastico       CHAR         266       286
2   1316   1011-6               parvulo       CHAR         373       380
3   1320   1011-6               natural       CHAR         436       443
4   1322   1011-6             propiedad       CHAR         460       469
5   1325   1011-6               parvulo       CHAR         524       531

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1333   1012-1                  cura       CHAR         127       131
1   1336   1012-1  vicario Eclesiastico       CHAR         265       285
2   1337   1012-1                 negro       CHAR         372       377
3   1338   1012-1                adulto       CHAR         378       384
4   1339   1012-1               natural       CHAR         385       392
5   1341   1012-1             propiedad       CHAR         409       418
6   1343   1012-1                 negro       CHAR         454       459

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1351   1012-2                  cura       CHAR         128       132
1   1354   1012-2  vicario Eclesiastico       CHAR         266       286
2   1355   1012-2                 negra       CHAR         370       375
3   1356   1012-2                adulta       CHAR         376       382
4   1357   1012-2               natural       CHAR         383       390
5   1359   1012-2             propiedad       CHAR         407       416
6   1361   1012-2                 negra       CHAR         451       456

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1372   1012-3                  cura       CHAR         131       135
1   1375   1012-3  vicario Eclesiastico       CHAR         269       289
2   1376   1012-3               parvula       CHAR         376       383
3   1378   1012-3          hija natural       CHAR         420       432
4   1381   1012-3             naturales       CHAR         479       488
5   1386   1012-3               parvula       CHAR         573       580

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1394   1012-4                  cura       CHAR         133       137
1   1397   1012-4  vicario Eclesiastico       CHAR         271       291
2   1398   1012-4                 negro       CHAR         378       383
3   1399   1012-4                adulto       CHAR         384       390
4   1400   1012-4               natural       CHAR         391       398
5   1402   1012-4             propiedad       CHAR         415       424
6   1404   1012-4                 negro       CHAR         459       464

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1412   1012-5                  cura       CHAR         117       121
1   1415   1012-5  vicario Eclesiastico       CHAR         257       277
2   1416   1012-5                 negra       CHAR         365       370
3   1417   1012-5          hija natural       CHAR         372       384
4   1418   1012-5                 Negra       CHAR         391       396
5   1419   1012-5               esclava       CHAR         397       404
6   1420   1012-5                nacin       CHAR         408       414
7   1423   1012-5                nacin       CHAR         442       448
8   1425   1012-5             propiedad       CHAR         467       476
9   1427   1012-5                 negra       CHAR         515       520

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1433   1012-6             apellidos       CHAR          18        27
1   1436   1012-6                  cura       CHAR         129       133
2   1439   1012-6  vicario Eclesiastico       CHAR         268       288
3   1440   1012-6                 negro       CHAR         375       380
4   1443   1012-6                 negro       CHAR         454       459
5   1448   1012-6                nacin       CHAR         578       584
6   1450   1012-6             propiedad       CHAR         603       612
7   1452   1012-6                 negro       CHAR         652       657
8   1454   1012-6              padrinos       CHAR         704       712

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1459   1013-1                  cura       CHAR         137       141
1   1462   1013-1  vicario Eclesiastico       CHAR         276       296
2   1463   1013-1                 negro       CHAR         384       389
3   1465   1013-1          hijo natural       CHAR         429       441
4   1467   1013-1                 negro       CHAR         469       474
5   1471   1013-1               esclavo       CHAR         582       589

CHAR
CHAR
libre

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1476   1013-2                  cura       CHAR         134       138
1   1479   1013-2  vicario Eclesiastico       CHAR         272       292
2   1480   1013-2                 negra       CHAR         380       385
3   1482   1013-2          hija natural       CHAR         442       454
4   1484   1013-2               esclava       CHAR         464       471
5   1486   1013-2                 negra       CHAR         499       504
6   1490   1013-2                morena       CHAR         611       617
7   1491   1013-2                 libre       CHAR         618       623

CHAR

    index entry_no           pred_entity pred_label  pred_start  pred_end
0    1497   1013-3                  cura       CHAR         145       149
1    1500   1013-3  vicario Eclesiastico       CHAR         284       304
2    1501   1013-3               parvula       CHAR         392       399
3    1503   1013-3         hija legitima       CHAR         439       452
4    1506   1013-3      abuelos paternos       CHAR         511       527
5    1509   1013-3      abuelos maternos       CHAR         576       592
6    1512   1013-3                pardos       CHAR         634       640
7    1513   1013-3                libres       CHAR         641       647
8    1514   1013-3             naturales       CHAR         648       657
9    1516   1013-3               parvula       CHAR         705       712
10   1521   1013-3                pardos       CHAR         874       880
11   1522   1013-3                libres       CHAR         881       887
12   1523   1013-3             naturales       CHAR         888       897

    index entry_no           pred_entity pred_label  pred_start  pred_end
0    1529   1013-4                  cura       CHAR         124       128
1    1533   1013-4  vicario Eclesiastico       CHAR         280       300
2    1534   1013-4               parvulo       CHAR         388       395
3    1536   1013-4          hijo natural       CHAR         434       446
4    1540   1013-4               morenos       CHAR         513       520
5    1541   1013-4                libres       CHAR         521       527
6    1542   1013-4             naturales       CHAR         528       537
7    1546   1013-4      abuelos maternos       CHAR         601       617
8    1549   1013-4             naturales       CHAR         673       682
9    1550   1013-4               parvulo       CHAR         704       711
10   1555   1013-4                supose       CHAR         846       852
11   1556   1013-4             naturales       CHAR         853       862

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1563   1013-5                  cura       CHAR         136       140
1   1566   1013-5  vicario Eclesiastico       CHAR         275       295
2   1567   1013-5               parvula       CHAR         384       391
3   1569   1013-5          hija natural       CHAR         430       442
4   1572   1013-5               morenos       CHAR         495       502
5   1573   1013-5                libres       CHAR         503       509
6   1574   1013-5               parvula       CHAR         519       526
7   1579   1013-5               morenos       CHAR         664       671

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1584   1013-6                  cura       CHAR         124       128
1   1587   1013-6  vicario Eclesiastico       CHAR         263       283
2   1588   1013-6               parvula       CHAR         372       379
3   1589   1013-6               esclava       CHAR         381       388
4   1591   1013-6               parvula       CHAR         423       430

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1601   1013-7                  cura       CHAR         125       129
1   1604   1013-7  vicario Eclesiastico       CHAR         265       285
2   1605   1013-7               parvula       CHAR         374       381
3   1607   1013-7          hija natural       CHAR         421       433
4   1612   1013-7              esclavos       CHAR         546       554
5   1614   1013-7               parvula       CHAR         582       589
6   1617   1013-7                 parda       CHAR         686       691

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1623   1014-1                  cura       CHAR         125       129
1   1626   1014-1  vicario Eclesiastico       CHAR         265       285
2   1627   1014-1               parvulo       CHAR         373       380
3   1629   1014-1         hijo legitimo       CHAR         417       430
4   1632   1014-1              esclavos       CHAR         477       485
5   1635   1014-1               parvulo       CHAR         538       545

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1644   1014-2                  cura       CHAR         147       151
1   1647   1014-2  vicario Eclesiastico       CHAR         287       307
2   1648   1014-2               parvulo       CHAR         395       402
3   1650   1014-2         hijo legitimo       CHAR         442       455
4   1653   1014-2               natural       CHAR         525       532
5   1656   1014-2      abuelos paternos       CHAR         575       591
6   1659   1014-2      abuelos maternos       CHAR         628       644
7   1662   1014-2               parvulo       CHAR         690       697

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1671   1014-3                  cura       CHAR         126       130
1   1674   1014-3  vicario Eclesiastico       CHAR         266       286
2   1675   1014-3               parvula       CHAR         375       382
3   1679   1014-3               natural       CHAR         450       457
4   1682   1014-3               esclava       CHAR         498       505
5   1684   1014-3               parvula       CHAR         535       542
6   1689   1014-3               natural       CHAR         663       670

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1696   1014-4                  cura       CHAR         127       131
1   1699   1014-4  vicario Eclesiastico       CHAR         267       287
2   1700   1014-4               parvulo       CHAR         375       382
3   1703   1014-4               parvulo       CHAR         470       477

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1711   1014-5                  cura       CHAR         130       134
1   1714   1014-5  vicario Eclesiastico       CHAR         271       291
2   1715   1014-5               parvula       CHAR         380       387
3   1716   1014-5               esclava       CHAR         388       395
4   1718   1014-5               parvula       CHAR         434       441

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1726   1014-6                  cura       CHAR         123       127
1   1729   1014-6  vicario Eclesiastico       CHAR         263       283
2   1730   1014-6               parvula       CHAR         372       379
3   1732   1014-6               hija de       CHAR         413       420
4   1733   1014-6               esclava       CHAR         424       431
5   1735   1014-6             propiedad       CHAR         445       454
6   1737   1014-6               parvula       CHAR         494       501

CHAR
CHAR
CHAR
CHAR
libre
libre

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1744   1014-7                  cura       CHAR         118       122
1   1747   1014-7  vicario Eclesiastico       CHAR         259       279
2   1748   1014-7                 libre       CHAR         368       373
3   1749   1014-7               parvulo       CHAR         374       381
4   1751   1014-7         hijo legitimo       CHAR         425       438
5   1753   1014-7               esclavo       CHAR         455       462
6   1756   1014-7                 libre       CHAR         516       521
7   1757   1014-7               parvulo       CHAR         530       537
8   1762   1014-7              esclavos       CHAR         657       665

CHAR
CHAR

   index entry_no pred_entity pred_label  pred_start  pred_end
0   1768   1015-1        cura       CHAR         132       136
1   1774   1015-1       negra       CHAR         382       387
2   1775   1015-1      adulta       CHAR         388       394
3   1777   1015-1     esclava       CHAR         414       421

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1784   1015-2                  cura       CHAR         127       131
1   1787   1015-2  vicario Eclesiastico       CHAR         266       286
2   1788   1015-2                 negro       CHAR         375       380
3   1789   1015-2                adulto       CHAR         381       387
4   1790   1015-2               natural       CHAR         388       395
5   1792   1015-2             propiedad       CHAR         412       421
6   1794   1015-2                 negro       CHAR         457       462
7   1797   1015-2                 misma       CHAR         566       571
8   1798   1015-2             propiedad       CHAR         572       581

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1803   1015-3                  cura       CHAR         128       132
1   1806   1015-3  vicario Eclesiastico       CHAR         267       287
2   1807   1015-3                 negro       CHAR         376       381
3   1808   1015-3                adulto       CHAR         382       388
4   1809   1015-3               natural       CHAR         389       396
5   1811   1015-3             propiedad       CHAR         413       422
6   1813   1015-3                 negro       CHAR         458       463
7   1817   1015-3                 misma       CHAR         568       573
8   1818   1015-3             propiedad       CHAR         574       583

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1823   1015-4                  cura       CHAR         126       130
1   1826   1015-4  vicario Eclesiastico       CHAR         266       286
2   1827   1015-4                 negro       CHAR         374       379
3   1828   1015-4                adulto       CHAR         380       386
4   1829   1015-4               natural       CHAR         388       395
5   1831   1015-4             propiedad       CHAR         412       421
6   1833   1015-4                 negro       CHAR         457       462
7   1837   1015-4                 misma       CHAR         565       570
8   1838   1015-4             propiedad       CHAR         571       580

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1843   1015-5                  cura       CHAR         128       132
1   1846   1015-5  vicario Eclesiastico       CHAR         267       287
2   1847   1015-5                 negro       CHAR         375       380
3   1848   1015-5                adulto       CHAR         381       387
4   1849   1015-5               natural       CHAR         389       396
5   1851   1015-5             propiedad       CHAR         413       422
6   1853   1015-5                 negro       CHAR         458       463
7   1856   1015-5                 misma       CHAR         566       571
8   1857   1015-5             propiedad       CHAR         572       581

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1862   1015-6                  cura       CHAR         127       131
1   1865   1015-6  vicario Eclesiastico       CHAR         266       286
2   1866   1015-6                 negro       CHAR         375       380
3   1867   1015-6                adulto       CHAR         381       387
4   1868   1015-6               natural       CHAR         389       396
5   1870   1015-6             propiedad       CHAR         414       423
6   1872   1015-6                 negro       CHAR         459       464
7   1876   1015-6                 misma       CHAR         568       573
8   1877   1015-6             propiedad       CHAR         574       583

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1882   1015-7                  cura       CHAR         130       134
1   1885   1015-7  vicario Eclesiastico       CHAR         270       290
2   1886   1015-7                 negro       CHAR         379       384
3   1887   1015-7                adulto       CHAR         385       391
4   1888   1015-7               natural       CHAR         392       399
5   1890   1015-7             propiedad       CHAR         417       426
6   1892   1015-7                 negro       CHAR         462       467
7   1896   1015-7                 misma       CHAR         574       579
8   1897   1015-7             propiedad       CHAR         580       589

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1902   1015-8                  cura       CHAR         128       132
1   1905   1015-8  vicario Eclesiastico       CHAR         267       287
2   1906   1015-8                 negro       CHAR         376       381
3   1907   1015-8                adulto       CHAR         382       388
4   1908   1015-8               natural       CHAR         389       396
5   1910   1015-8             propiedad       CHAR         413       422
6   1912   1015-8                 negro       CHAR         457       462
7   1916   1015-8                 misma       CHAR         566       571
8   1917   1015-8             propiedad       CHAR         572       581

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1922   1016-1                  cura       CHAR         127       131
1   1925   1016-1  vicario Eclesiastico       CHAR         266       286
2   1926   1016-1                 negro       CHAR         375       380
3   1927   1016-1                adulto       CHAR         381       387
4   1928   1016-1               natural       CHAR         389       396
5   1930   1016-1             propiedad       CHAR         414       423
6   1932   1016-1                 negro       CHAR         459       464
7   1936   1016-1                 misma       CHAR         569       574
8   1937   1016-1             propiedad       CHAR         575       584

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1942   1016-2                  cura       CHAR         127       131
1   1945   1016-2  vicario Eclesiastico       CHAR         266       286
2   1946   1016-2                 negro       CHAR         375       380
3   1947   1016-2                adulto       CHAR         381       387
4   1948   1016-2               natural       CHAR         389       396
5   1950   1016-2              proiedad       CHAR         414       422
6   1952   1016-2                 negro       CHAR         458       463
7   1956   1016-2                 misma       CHAR         568       573
8   1957   1016-2             propiedad       CHAR         574       583

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   1962   1016-3                  cura       CHAR         127       131
1   1965   1016-3  vicario Eclesiastico       CHAR         268       288
2   1966   1016-3                 negra       CHAR         378       383
3   1967   1016-3                adulta       CHAR         384       390
4   1968   1016-3               natural       CHAR         392       399
5   1970   1016-3             propiedad       CHAR         417       426
6   1972   1016-3                 negra       CHAR         462       467
7   1976   1016-3                 misma       CHAR         567       572
8   1977   1016-3             propiedad       CHAR         573       582

    index entry_no           pred_entity pred_label  pred_start  pred_end
0    1982   1016-4                  cura       CHAR         143       147
1    1985   1016-4  vicario Eclesiastico       CHAR         282       302
2    1986   1016-4               parvulo       CHAR         390       397
3    1988   1016-4          hijo natural       CHAR         454       466
4    1991   1016-4             naturales       CHAR         511       520
5    1993   1016-4      abuelos paternos       CHAR         550       566
6    1996   1016-4                pardos       CHAR         598       604
7    1997   1016-4      abuelos maternos       CHAR         614       630
8    2000   1016-4             naturales       CHAR         667       676
9    2002   1016-4                pardos       CHAR         699       705
10   2003   1016-4                libres       CHAR         706       712
11   2004   1016-4               parvulo       CHAR         722       729

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2013   1016-5                  cura       CHAR         126       130
1   2016   1016-5  vicario Eclesiastico       CHAR         266       286
2   2017   1016-5               parvula       CHAR         350       357
3   2019   1016-5          hija natural       CHAR         442       454
4   2021   1016-5                nacion       CHAR         479       485
5   2024   1016-5              esclavas       CHAR         521       529
6   2026   1016-5               natural       CHAR         563       570
7   2028   1016-5               parvula       CHAR         594       601
8   2029   1016-5                 puseo       CHAR         647       652

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2038   1016-6                  cura       CHAR         109       113
1   2041   1016-6  vicario Eclesiastico       CHAR         248       268
2   2042   1016-6               parvula       CHAR         357       364
3   2044   1016-6         hija legitimo       CHAR         412       425
4   2047   1016-6      abuelos paternos       CHAR         467       483
5   2054   1016-6               parvula       CHAR         601       608

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2063   1016-7                  cura       CHAR         123       127
1   2066   1016-7  vicario Ecleisastico       CHAR         262       282
2   2067   1016-7               parvulo       CHAR         369       376
3   2069   1016-7          hijo natural       CHAR         418       430
4   2075   1016-7                pardos       CHAR         525       531
5   2076   1016-7                libres       CHAR         532       538
6   2077   1016-7               parvulo       CHAR         548       555
7   2082   1016-7                padros       CHAR         703       709
8   2083   1016-7                libres       CHAR         710       716

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2088   1017-1                  cura       CHAR         119       123
1   2091   1017-1  vicario Eclesiastico       CHAR         257       277
2   2092   1017-1               parvula       CHAR         365       372
3   2094   1017-1          hija natural       CHAR         413       425
4   2096   1017-1               esclava       CHAR         436       443
5   2098   1017-1               parvula       CHAR         484       491

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2107   1017-2                  cura       CHAR         114       118
1   2110   1017-2  vicario Eclesiastico       CHAR         253       273
2   2111   1017-2               parvulo       CHAR         361       368
3   2113   1017-2          hijo natural       CHAR         410       422
4   2115   1017-2              esclavos       CHAR         444       452
5   2117   1017-2               parvulo       CHAR         492       499

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2126   1017-3                  cura       CHAR         104       108
1   2129   1017-3  vicario Eclesiastico       CHAR         242       262
2   2130   1017-3                 negro       CHAR         349       354
3   2131   1017-3                adulto       CHAR         355       361
4   2133   1017-3             propiedad       CHAR         386       395
5   2135   1017-3                 negro       CHAR         427       432
6   2139   1017-3               esclavo       CHAR         524       531

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2145   1017-4                  cura       CHAR         102       106
1   2148   1017-4  vicario Eclesiastico       CHAR         253       273
2   2149   1017-4               parvulo       CHAR         361       368
3   2151   1017-4               hijo de       CHAR         422       429
4   2152   1017-4                 negra       CHAR         433       438
5   2154   1017-4               esclava       CHAR         461       468
6   2156   1017-4               parvulo       CHAR         506       513

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2165   1017-5                  cura       CHAR         120       124
1   2168   1017-5  vicario Eclesiastico       CHAR         258       278
2   2169   1017-5               parvulo       CHAR         367       374
3   2171   1017-5          hijo natural       CHAR         418       430
4   2172   1017-5                 parda       CHAR         437       442
5   2174   1017-5               natural       CHAR         464       471
6   2176   1017-5      abuelos maternos       CHAR         493       509
7   2179   1017-5                pardos       CHAR         541       547
8   2180   1017-5                libres       CHAR         548       554
9   2181   1017-5               parvulo       CHAR         564       571

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2191   1017-6                  cura       CHAR         122       126
1   2194   1017-6  vicario Eclesiastico       CHAR         263       283
2   2195   1017-6               parvula       CHAR         374       381
3   2197   1017-6          hija natural       CHAR         436       448
4   2198   1017-6                 parda       CHAR         455       460
5   2200   1017-6               natural       CHAR         482       489
6   2202   1017-6      abuelos maternos       CHAR         502       518
7   2205   1017-6                padros       CHAR         561       567
8   2206   1017-6                libres       CHAR         568       574
9   2207   1017-6               parvula       CHAR         583       590

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2216   1017-7                  cura       CHAR         123       127
1   2219   1017-7  vicario Eclesiastico       CHAR         263       283
2   2220   1017-7               parvula       CHAR         372       379
3   2222   1017-7          hija natural       CHAR         432       444
4   2224   1017-7               esclava       CHAR         465       472
5   2226   1017-7               parvula       CHAR         499       506

    index entry_no           pred_entity pred_label  pred_start  pred_end
0    2235   1018-1                  cura       CHAR         133       137
1    2238   1018-1  vicario Eclesiastico       CHAR         272       292
2    2239   1018-1               parvula       CHAR         381       388
3    2241   1018-1         hija legitima       CHAR         435       448
4    2243   1018-1               natural       CHAR         470       477
5    2246   1018-1               natural       CHAR         511       518
6    2248   1018-1      abuelos paternos       CHAR         532       548
7    2250   1018-1               natural       CHAR         566       573
8    2253   1018-1               natural       CHAR         622       629
9    2258   1018-1             naturales       CHAR         688       697
10   2260   1018-1               morenos       CHAR         717       724
11   2261   1018-1                libres       CHAR         725       731
12   2262   1018-1               parvula       CHAR         741       748

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2271   1018-2                  cura       CHAR         114       118
1   2274   1018-2  vicario Eclesiastico       CHAR         254       274
2   2275   1018-2                 negro       CHAR         362       367
3   2276   1018-2                adulto       CHAR         368       374
4   2277   1018-2                naural       CHAR         376       382
5   2279   1018-2             propiedad       CHAR         400       409
6   2281   1018-2                 negro       CHAR         440       445

CHAR
CHAR
libre

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2289   1018-3                  cura       CHAR         130       134
1   2292   1018-3  vicario Eclesiastico       CHAR         270       290
2   2293   1018-3               parvulo       CHAR         379       386
3   2295   1018-3               hijo de       CHAR         440       447
4   2296   1018-3                morena       CHAR         452       458
5   2298   1018-3              esclavos       CHAR         473       481
6   2300   1018-3               parvulo       CHAR         515       522
7   2304   1018-3                 libre       CHAR         645       650
8   2306   1018-3               esclava       CHAR         669       676

CHAR

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2312   1018-4                  cura       CHAR         124       128
1   2315   1018-4  vicario Eclesiastico       CHAR         263       283
2   2316   1018-4               parvula       CHAR         372       379
3   2318   1018-4         hija legitima       CHAR         433       446
4   2321   1018-4               esclava       CHAR         482       489
5   2323   1018-4               parvula       CHAR         519       526

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2333   1018-5                  cura       CHAR         119       123
1   2336   1018-5  vicario Eclesiastico       CHAR         258       278
2   2337   1018-5               parvula       CHAR         368       375
3   2339   1018-5         hija legitima       CHAR         418       431
4   2342   1018-5      abuelos paternos       CHAR         468       484
5   2348   1018-5               parvula       CHAR         601       608
6   2353   1018-5                pardos       CHAR         763       769
7   2354   1018-5                libres       CHAR         770       776

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2359   1018-6                  cura       CHAR         119       123
1   2362   1018-6  vicario Eclesiastico       CHAR         258       278
2   2363   1018-6               parvula       CHAR         368       375
3   2365   1018-6               hija de       CHAR         420       427
4   2366   1018-6                morena       CHAR         431       437
5   2368   1018-6               esclava       CHAR         463       470
6   2370   1018-6               parvula       CHAR         506       513
7   2374   1018-6               esclava       CHAR         610       617

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2379   1018-7                  cura       CHAR         113       117
1   2382   1018-7  vicario Eclesiastico       CHAR         262       282
2   2383   1018-7               parvula       CHAR         372       379
3   2387   1018-7               esclava       CHAR         449       456
4   2389   1018-7               parvula       CHAR         504       511

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2398   1019-1                  cura       CHAR         127       131
1   2401   1019-1  vicario Eclesiastico       CHAR         269       289
2   2402   1019-1               parvulo       CHAR         378       385
3   2404   1019-1               hijo de       CHAR         436       443
4   2405   1019-1                morena       CHAR         447       453
5   2407   1019-1               esclava       CHAR         469       476
6   2409   1019-1               parvulo       CHAR         516       523
7   2413   1019-1                morena       CHAR         640       646
8   2415   1019-1               esclava       CHAR         654       661

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2421   1019-2                  cura       CHAR         114       118
1   2424   1019-2  vicario Eclesiastico       CHAR         255       275
2   2425   1019-2               parvula       CHAR         364       371
3   2427   1019-2                 parda       CHAR         437       442
4   2428   1019-2               hija de       CHAR         444       451
5   2429   1019-2                morena       CHAR         455       461
6   2431   1019-2               esclava       CHAR         471       478
7   2433   1019-2               parvula       CHAR         515       522

    index entry_no           pred_entity pred_label  pred_start  pred_end
0    2439   1019-3                  masa       CHAR           9        13
1    2444   1019-3                  cura       CHAR         117       121
2    2447   1019-3  vicario Eclesiastico       CHAR         257       277
3    2448   1019-3               parvula       CHAR         367       374
4    2450   1019-3          hija natural       CHAR         426       438
5    2453   1019-3             naturales       CHAR         482       491
6    2455   1019-3      abuelos paternos       CHAR         505       521
7    2458   1019-3               natural       CHAR         570       577
8    2460   1019-3              maternos       CHAR         591       599
9    2462   1019-3               natural       CHAR         620       627
10   2465   1019-3                morena       CHAR         659       665
11   2466   1019-3           naturalidad       CHAR         666       677
12   2467   1019-3               parvula       CHAR         687       694
13   2472   1019-3                pardos       CHAR         845       851
14   2473   1019-3                libres       CHAR         852       858

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2478   1019-4                  cura       CHAR         115       119
1   2481   1019-4  vicario Eclesiastico       CHAR         255       275
2   2482   1019-4               parvula       CHAR         365       372
3   2486   1019-4               esclava       CHAR         442       449
4   2488   1019-4               parvula       CHAR         483       490

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2496   1019-5                  cura       CHAR         115       119
1   2499   1019-5  vicario Eclesiastico       CHAR         255       275
2   2500   1019-5               parvula       CHAR         365       372
3   2502   1019-5         hija legitima       CHAR         427       440
4   2506   1019-5                 mismo       CHAR         498       503
5   2507   1019-5             naturales       CHAR         514       523
6   2509   1019-5               morenos       CHAR         544       551
7   2510   1019-5                libres       CHAR         552       558
8   2511   1019-5               parvula       CHAR         568       575

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2520   1019-6                  cura       CHAR         128       132
1   2523   1019-6  vicario Eclesiastico       CHAR         268       288
2   2524   1019-6               parvula       CHAR         377       384
3   2526   1019-6         hija legitima       CHAR         424       437
4   2529   1019-6      abuelos paternos       CHAR         482       498
5   2531   1019-6               natural       CHAR         523       530
6   2533   1019-6              maternos       CHAR         547       555
7   2535   1019-6               natural       CHAR         582       589
8   2538   1019-6               natural       CHAR         622       629
9   2540   1019-6               parvula       CHAR         653       660

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2549   1020-1                  cura       CHAR         122       126
1   2552   1020-1  vicario Eclesiastico       CHAR         262       282
2   2553   1020-1               parvulo       CHAR         372       379
3   2555   1020-1               hijo de       CHAR         451       458
4   2557   1020-1              esclavos       CHAR         472       480
5   2559   1020-1               parvulo       CHAR         511       518

    index entry_no           pred_entity pred_label  pred_start  pred_end
0    2568   1020-2                  cura       CHAR         134       138
1    2571   1020-2  vicario Eclesiastico       CHAR         274       294
2    2572   1020-2               parvulo       CHAR         382       389
3    2574   1020-2          hijo natural       CHAR         443       455
4    2577   1020-2      abuelos paternos       CHAR         493       509
5    2581   1020-2               natural       CHAR         575       582
6    2586   1020-2             naturales       CHAR         639       648
7    2588   1020-2               parvulo       CHAR         673       680
8    2593   1020-2                 mismo       CHAR         838       843
9    2594   1020-2                pardos       CHAR         861       867
10   2595   1020-2                libres       CHAR         868       874

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2600   1020-3                  cura       CHAR         105       109
1   2603   1020-3  vicario Eclesiastico       CHAR         244       264
2   2604   1020-3               parvulo       CHAR         353       360
3   2606   1020-3               hijo de       CHAR         413       420
4   2608   1020-3               esclava       CHAR         452       459
5   2610   1020-3               parvulo       CHAR         488       495

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2618   1020-4                  cura       CHAR         115       119
1   2621   1020-4  vicario Eclesiastico       CHAR         255       275
2   2622   1020-4               parvulo       CHAR         362       369
3   2624   1020-4               esclava       CHAR         390       397
4   2627   1020-4               parvulo       CHAR         438       445

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2635   1020-5                  cura       CHAR         108       112
1   2638   1020-5  vicario Eclesiastico       CHAR         246       266
2   2639   1020-5               parvula       CHAR         355       362
3   2642   1020-5               esclava       CHAR         385       392
4   2645   1020-5               parvula       CHAR         429       436

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2655   1020-6                  cura       CHAR         133       137
1   2658   1020-6  vicario Eclesiastico       CHAR         272       292
2   2659   1020-6               parvula       CHAR         381       388
3   2661   1020-6          hija natural       CHAR         433       445
4   2664   1020-6               natural       CHAR         484       491
5   2669   1020-6              maternos       CHAR         556       564
6   2672   1020-6                pardos       CHAR         614       620
7   2673   1020-6                libres       CHAR         621       627
8   2674   1020-6               parvula       CHAR         637       644

    index entry_no           pred_entity pred_label  pred_start  pred_end
0    2684   1021-1                  cura       CHAR         131       135
1    2687   1021-1  vicario Eclesiastico       CHAR         271       291
2    2688   1021-1               parvula       CHAR         379       386
3    2690   1021-1         hija legitima       CHAR         441       454
4    2692   1021-1               natural       CHAR         471       478
5    2695   1021-1               natural       CHAR         517       524
6    2698   1021-1               natural       CHAR         571       578
7    2700   1021-1               natural       CHAR         621       628
8    2705   1021-1             naturales       CHAR         684       693
9    2706   1021-1                pardos       CHAR         709       715
10   2707   1021-1                libres       CHAR         716       722
11   2708   1021-1               parvula       CHAR         732       739

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2717   1021-2                  cura       CHAR         111       115
1   2720   1021-2  vicario Eclesiastico       CHAR         250       270
2   2721   1021-2                 negro       CHAR         359       364
3   2722   1021-2                adulto       CHAR         365       371
4   2725   1021-2               esclavo       CHAR         398       405
5   2727   1021-2                 negro       CHAR         435       440

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2735   1021-3                  cura       CHAR         105       109
1   2738   1021-3  vicario Eclesiastico       CHAR         245       265
2   2739   1021-3                 negro       CHAR         353       358
3   2740   1021-3                eslavo       CHAR         359       365
4   2743   1021-3                nacin       CHAR         393       399
5   2745   1021-3                 negro       CHAR         414       419

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2754   1021-4                  cura       CHAR         104       108
1   2757   1021-4  vicario Eclesiastico       CHAR         244       264
2   2758   1021-4                 negro       CHAR         352       357
3   2759   1021-4               esclavo       CHAR         358       365
4   2761   1021-4                nacin       CHAR         392       398
5   2763   1021-4                 negro       CHAR         413       418

    index entry_no           pred_entity pred_label  pred_start  pred_end
0    2771   1021-5                  cura       CHAR         109       113
1    2774   1021-5  vicario Eclesiastico       CHAR         247       267
2    2775   1021-5               parvula       CHAR         357       364
3    2777   1021-5          hija natural       CHAR         415       427
4    2778   1021-5                 pardo       CHAR         432       437
5    2780   1021-5               natural       CHAR         458       465
6    2782   1021-5                morena       CHAR         492       498
7    2784   1021-5               natural       CHAR         518       525
8    2788   1021-5               natural       CHAR         585       592
9    2793   1021-5               natural       CHAR         681       688
10   2795   1021-5               natural       CHAR         721       728
11   2797   1021-5               parvula       CHAR         752       759

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2806   1021-6                  cura       CHAR         114       118
1   2809   1021-6  vicario Eclesiastico       CHAR         252       272
2   2810   1021-6                 negro       CHAR         360       365
3   2811   1021-6                adulto       CHAR         366       372
4   2813   1021-6               esclavo       CHAR         393       400
5   2815   1021-6                 negro       CHAR         438       443
6   2819   1021-6               esclavo       CHAR         532       539
7   2820   1021-6                 mismo       CHAR         544       549

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2825   1021-7                  cura       CHAR         116       120
1   2828   1021-7  vicario Eclesiastico       CHAR         256       276
2   2829   1021-7               parvula       CHAR         365       372
3   2833   1021-7               esclava       CHAR         457       464
4   2835   1021-7               parvula       CHAR         495       502

    index entry_no           pred_entity pred_label  pred_start  pred_end
0    2844   1022-1                  cura       CHAR         115       119
1    2847   1022-1  vicario Eclesiastico       CHAR         254       274
2    2848   1022-1               parvulo       CHAR         363       370
3    2850   1022-1         hijo legitima       CHAR         412       425
4    2853   1022-1      abuelos paternos       CHAR         466       482
5    2855   1022-1               natural       CHAR         506       513
6    2858   1022-1               natural       CHAR         544       551
7    2862   1022-1               natural       CHAR         602       609
8    2865   1022-1               natural       CHAR         639       646
9    2867   1022-1                pardos       CHAR         667       673
10   2868   1022-1                libres       CHAR         674       680
11   2869   1022-1               parvulo       CHAR         689       696

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2878   1022-2                  cura       CHAR         118       122
1   2881   1022-2  vicario Eclesiastico       CHAR         258       278
2   2882   1022-2               parvulo       CHAR         366       373
3   2884   1022-2         hijo legitimo       CHAR         422       435
4   2887   1022-2      abuelos paternos       CHAR         482       498
5   2893   1022-2               parvulo       CHAR         598       605

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2901   1022-3                  cura       CHAR         111       115
1   2904   1022-3  vicario Eclesiastico       CHAR         251       271
2   2905   1022-3               parvula       CHAR         361       368
3   2907   1022-3          hija natural       CHAR         409       421
4   2909   1022-3               esclava       CHAR         439       446
5   2911   1022-3               parvula       CHAR         476       483

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2920   1022-4                  cura       CHAR         107       111
1   2923   1022-4  vicario Eclesiastico       CHAR         247       267
2   2924   1022-4               parvula       CHAR         356       363
3   2926   1022-4          hija natural       CHAR         411       423
4   2929   1022-4             naturales       CHAR         464       473
5   2937   1022-4               parvula       CHAR         588       595

CHAR
CHAR
libre

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2946   1022-5                  cura       CHAR         113       117
1   2949   1022-5  vicario Eclesiastico       CHAR         253       273
2   2950   1022-5               parvula       CHAR         361       368
3   2951   1022-5         hija legitima       CHAR         369       382
4   2954   1022-5              esclavos       CHAR         422       430
5   2956   1022-5               parvula       CHAR         462       469
6   2960   1022-5               esclavo       CHAR         580       587
7   2962   1022-5                 libre       CHAR         606       611

CHAR

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2967   1022-6                  cura       CHAR         103       107
1   2970   1022-6  vicario Eclesiastico       CHAR         243       263
2   2971   1022-6                 negro       CHAR         351       356
3   2972   1022-6                adulto       CHAR         357       363
4   2973   1022-6               esclavo       CHAR         364       371
5   2975   1022-6                 negro       CHAR         404       409

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2982   1022-7                  cura       CHAR         101       105
1   2985   1022-7  vicario Eclesiastico       CHAR         240       260
2   2986   1022-7                 negro       CHAR         348       353
3   2987   1022-7                adulto       CHAR         354       360
4   2988   1022-7             propiedad       CHAR         368       377
5   2990   1022-7                 negro       CHAR         410       415

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   2998   1023-1                  cura       CHAR         104       108
1   3001   1023-1  vicario Eclesiastico       CHAR         244       264
2   3002   1023-1                 negra       CHAR         353       358
3   3003   1023-1                adulta       CHAR         359       365
4   3004   1023-1             propiedad       CHAR         372       381
5   3006   1023-1                 negra       CHAR         414       419

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3014   1023-2                  cura       CHAR         102       106
1   3017   1023-2  vicario Eclesiastico       CHAR         242       262
2   3018   1023-2                 negro       CHAR         350       355
3   3019   1023-2                adulto       CHAR         356       362
4   3020   1023-2               natural       CHAR         364       371
5   3022   1023-2             propiedad       CHAR         389       398
6   3024   1023-2                 negro       CHAR         429       434
7   3028   1023-2               esclavo       CHAR         533       540

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3033   1023-3                  cura       CHAR         100       104
1   3036   1023-3  vicario Eclesiastico       CHAR         239       259
2   3037   1023-3                 negro       CHAR         348       353
3   3038   1023-3                adulto       CHAR         354       360
4   3039   1023-3               natural       CHAR         361       368
5   3041   1023-3             propiedad       CHAR         386       395
6   3043   1023-3                 negro       CHAR         422       427
7   3047   1023-3               esclavo       CHAR         535       542

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3052   1023-5                  cura       CHAR         111       115
1   3055   1023-5  vicario Eclesiastico       CHAR         249       269
2   3056   1023-5                 negra       CHAR         358       363
3   3057   1023-5                adulta       CHAR         364       370
4   3059   1023-5             propiedad       CHAR         397       406
5   3061   1023-5                 negra       CHAR         444       449
6   3065   1023-5                nacin       CHAR         554       560

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3073   1023-6                  cura       CHAR         113       117
1   3076   1023-6  vicario Eclesiastico       CHAR         252       272
2   3077   1023-6                 negro       CHAR         359       364
3   3078   1023-6                adulto       CHAR         365       371
4   3081   1023-6             propiedad       CHAR         396       405
5   3083   1023-6                 negro       CHAR         444       449
6   3087   1023-6              esclavos       CHAR         564       572

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3092   1023-7                  cura       CHAR         113       117
1   3095   1023-7  Vicario Eclesiastico       CHAR         251       271
2   3096   1023-7                 negro       CHAR         359       364
3   3097   1023-7                adulta       CHAR         365       371
4   3100   1023-7                 negro       CHAR         446       451

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3107   1024-1                  cura       CHAR         114       118
1   3110   1024-1  vicario Eclesiastico       CHAR         253       273
2   3111   1024-1                 negro       CHAR         360       365
3   3112   1024-1                adulto       CHAR         366       372
4   3114   1024-1             propiedad       CHAR         396       405
5   3116   1024-1                 negro       CHAR         444       449

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3125   1024-2                  cura       CHAR         116       120
1   3128   1024-2  vicario Eclesiastico       CHAR         254       274
2   3129   1024-2                 negro       CHAR         362       367
3   3130   1024-2                adulto       CHAR         368       374
4   3132   1024-2               esclavo       CHAR         394       401
5   3134   1024-2                 negro       CHAR         440       445

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3143   1024-3                  cura       CHAR         118       122
1   3146   1024-3  vicario Eclesiastico       CHAR         256       276
2   3147   1024-3                 negro       CHAR         364       369
3   3148   1024-3                adulto       CHAR         370       376
4   3150   1024-3             propiedad       CHAR         403       412
5   3152   1024-3                 negro       CHAR         450       455

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3161   1024-4                  cura       CHAR         108       112
1   3164   1024-4  vicario Eclesiastico       CHAR         248       268
2   3165   1024-4                 negro       CHAR         356       361
3   3166   1024-4                adulto       CHAR         362       368
4   3167   1024-4                nacin       CHAR         372       378
5   3169   1024-4                  man       CHAR         385       389
6   3170   1024-4             propiedad       CHAR         396       405
7   3172   1024-4                 negro       CHAR         443       448

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3181   1024-5                  cura       CHAR         120       124
1   3184   1024-5  vicario Eclesiastico       CHAR         258       278
2   3185   1024-5               parvula       CHAR         360       367
3   3187   1024-5          hija natural       CHAR         406       418
4   3190   1024-5      abuelos paternos       CHAR         480       496
5   3195   1024-5               parvula       CHAR         596       603
6   3200   1024-5                libres       CHAR         746       752

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3205   1024-6                  cura       CHAR         122       126
1   3208   1024-6  vicario Eclesiastico       CHAR         265       285
2   3209   1024-6               parvula       CHAR         373       380
3   3211   1024-6               hijo de       CHAR         420       427
4   3212   1024-6                morena       CHAR         431       437
5   3214   1024-6               criolla       CHAR         453       460
6   3215   1024-6               esclava       CHAR         461       468
7   3219   1024-6               parvula       CHAR         530       537

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3228   1024-7                  cura       CHAR         120       124
1   3231   1024-7  vicario Eclesiastico       CHAR         259       279
2   3232   1024-7                 negro       CHAR         366       371
3   3233   1024-7                adulto       CHAR         372       378
4   3234   1024-7                nacin       CHAR         382       388
5   3236   1024-7               esclava       CHAR         396       403
6   3238   1024-7                 negro       CHAR         441       446

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3247   1024-8                  cura       CHAR         122       126
1   3250   1024-8  vicario Eclesiastico       CHAR         262       282
2   3251   1024-8                 negro       CHAR         370       375
3   3252   1024-8                adulto       CHAR         376       382
4   3255   1024-8                 negro       CHAR         456       461
5   3259   1024-8                nacin       CHAR         567       573

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3266   1025-1                  cura       CHAR         124       128
1   3269   1025-1  vicario Eclesiastico       CHAR         261       281
2   3270   1025-1                 negro       CHAR         368       373
3   3271   1025-1                adulto       CHAR         374       380
4   3273   1025-1             propiedad       CHAR         403       412
5   3275   1025-1                 negro       CHAR         450       455

   index entry_no    pred_entity pred_label  pred_start  pred_end
0   3284   1025-2           cura       CHAR         109       113
1   3287   1025-2    vicario por       CHAR         248       259
2   3288   1025-2        parvulo       CHAR         342       349
3   3290   1025-2  hijo legitimo       CHAR         391       404
4   3299   1025-2      naturales       CHAR         556       565
5   3301   1025-2        parvula       CHAR         587       594

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3310   1025-3                  cura       CHAR         133       137
1   3313   1025-3  vicario Eclesiastico       CHAR         272       292
2   3314   1025-3               parvula       CHAR         381       388
3   3316   1025-3          hija natural       CHAR         429       441
4   3319   1025-3             naturales       CHAR         481       490
5   3321   1025-3      abuelos paternos       CHAR         504       520
6   3324   1025-3      abuelos maternos       CHAR         559       575
7   3327   1025-3               parvula       CHAR         620       627
8   3332   1025-3                pardos       CHAR         773       779
9   3333   1025-3                libres       CHAR         780       786

   index entry_no            pred_entity pred_label  pred_start  pred_end
0   3338   1025-4                   cura       CHAR         124       128
1   3341   1025-4  vicdario Eclesiastico       CHAR         262       283
2   3342   1025-4                parvulo       CHAR         371       378
3   3345   1025-4                  negra       CHAR         427       432
4   3347   1025-4                esclava       CHAR         451       458
5   3349   1025-4                parvulo       CHAR         493       500

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3358   1025-5                  cura       CHAR         115       119
1   3361   1025-5  vicario Eclesiastico       CHAR         252       272
2   3362   1025-5               parvula       CHAR         361       368
3   3364   1025-5               hija de       CHAR         415       422
4   3365   1025-5                morena       CHAR         426       432
5   3367   1025-5               esclava       CHAR         443       450
6   3369   1025-5       Abuelos abuelos       CHAR         483       498
7   3372   1025-5               parvula       CHAR         556       563

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3380   1025-6                  cura       CHAR         108       112
1   3383   1025-6  vicario Eclesiastico       CHAR         248       268
2   3384   1025-6               parvulo       CHAR         356       363
3   3387   1025-6                morena       CHAR         415       421
4   3389   1025-6               esclava       CHAR         438       445
5   3391   1025-6               parvulo       CHAR         473       480

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3399   1026-1                  cura       CHAR         114       118
1   3402   1026-1  vicario Eclesiastico       CHAR         254       274
2   3403   1026-1                 negro       CHAR         363       368
3   3404   1026-1                adulto       CHAR         369       375
4   3405   1026-1                nacin       CHAR         379       385
5   3407   1026-1             propiedad       CHAR         399       408
6   3409   1026-1                 negro       CHAR         446       451

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3418   1026-2                  cura       CHAR         114       118
1   3421   1026-2  vicario Eclesiastico       CHAR         254       274
2   3422   1026-2                 negro       CHAR         362       367
3   3423   1026-2                adulto       CHAR         368       374
4   3426   1026-2                 negro       CHAR         443       448

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3435   1026-3                  cura       CHAR         113       117
1   3438   1026-3  viacrio Eclesiastico       CHAR         254       274
2   3439   1026-3                 negra       CHAR         363       368
3   3440   1026-3                adulta       CHAR         369       375
4   3441   1026-3                nacin       CHAR         379       385
5   3443   1026-3             propiedad       CHAR         407       416
6   3445   1026-3                 negra       CHAR         454       459

CHAR
CHAR
libre

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3454   1026-4                  cura       CHAR         139       143
1   3457   1026-4  vicario Eclesiastico       CHAR         278       298
2   3458   1026-4               parvula       CHAR         387       394
3   3461   1026-4                 parda       CHAR         444       449
4   3462   1026-4                 libre       CHAR         450       455
5   3464   1026-4               parvula       CHAR         483       490

CHAR

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3473   1026-5                  cura       CHAR         117       121
1   3476   1026-5  vicario Eclesiastico       CHAR         257       277
2   3477   1026-5                 negro       CHAR         366       371
3   3478   1026-5                adulto       CHAR         372       378
4   3479   1026-5                nacin       CHAR         383       389
5   3481   1026-5             propiedad       CHAR         403       412
6   3483   1026-5                 negro       CHAR         451       456

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3492   1026-6                  cura       CHAR         112       116
1   3495   1026-6  vicario Eclesiastico       CHAR         252       272
2   3496   1026-6                 negro       CHAR         360       365
3   3497   1026-6                adulto       CHAR         366       372
4   3498   1026-6             propiedad       CHAR         380       389
5   3500   1026-6                 negro       CHAR         421       426

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3509   1026-7                  cura       CHAR         115       119
1   3512   1026-7  vicario Eclesiastico       CHAR         253       273
2   3513   1026-7                 negro       CHAR         362       367
3   3514   1026-7                adulto       CHAR         368       374
4   3517   1026-7                 negro       CHAR         440       445

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3527   1026-8                  cura       CHAR         118       122
1   3530   1026-8  vicario Eclesiastico       CHAR         257       277
2   3531   1026-8                 negro       CHAR         365       370
3   3532   1026-8                adulto       CHAR         371       377
4   3534   1026-8             propiedad       CHAR         404       413
5   3536   1026-8                 negro       CHAR         443       448
6   3542   1026-8               margin/       CHAR         585       592
7   3543   1026-8                     >       CHAR         592       593

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3549   1027-1                  cura       CHAR         117       121
1   3552   1027-1  vicario Eclesiastico       CHAR         256       276
2   3553   1027-1               parvulo       CHAR         363       370
3   3556   1027-1                morena       CHAR         421       427
4   3558   1027-1             propiedad       CHAR         447       456
5   3560   1027-1               parvulo       CHAR         488       495
6   3565   1027-1              esclavos       CHAR         609       617

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3570   1027-2                  cura       CHAR         120       124
1   3573   1027-2  vicario Eclesiastico       CHAR         258       278
2   3574   1027-2                 negro       CHAR         365       370
3   3575   1027-2                adulto       CHAR         371       377
4   3577   1027-2             propiedad       CHAR         403       412
5   3579   1027-2                 negro       CHAR         451       456

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3588   1027-3                  cura       CHAR         120       124
1   3591   1027-3  vicario Eclesiastico       CHAR         259       279
2   3592   1027-3                 negro       CHAR         367       372
3   3593   1027-3                adulto       CHAR         373       379
4   3594   1027-3                nacin       CHAR         383       389
5   3596   1027-3             propiedad       CHAR         402       411
6   3598   1027-3                 negro       CHAR         449       454

    index entry_no           pred_entity pred_label  pred_start  pred_end
0    3607   1027-4                  cura       CHAR         121       125
1    3610   1027-4  vicario Eclesiastico       CHAR         260       280
2    3611   1027-4               parvulo       CHAR         360       367
3    3613   1027-4         hijo legitimo       CHAR         412       425
4    3616   1027-4      abuelos paternos       CHAR         468       484
5    3619   1027-4      abuelos maternos       CHAR         522       538
6    3621   1027-4                abuela       CHAR         574       580
7    3623   1027-4             naturales       CHAR         605       614
8    3625   1027-4                pardos       CHAR         630       636
9    3626   1027-4                libres       CHAR         637       643
10   3627   1027-4               parvulo       CHAR         653       660
11   3629   1027-4                pardos       CHAR         753       759
12   3630   1027-4                libres       CHAR         760       766

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3637   1027-5                  cura       CHAR         116       120
1   3640   1027-5  vicario Eclesiastico       CHAR         255       275
2   3641   1027-5               parvula       CHAR         363       370
3   3643   1027-5               hija de       CHAR         438       445
4   3644   1027-5                morena       CHAR         449       455
5   3646   1027-5             propiedad       CHAR         476       485
6   3648   1027-5               parvula       CHAR         524       531

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3656   1027-6                  cura       CHAR         108       112
1   3659   1027-6  vicario Eclesiastico       CHAR         247       267
2   3661   1027-6                 negro       CHAR         363       368

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3669   1027-7                  cura       CHAR         122       126
1   3672   1027-7  vicario Eclesiastico       CHAR         262       282
2   3673   1027-7               parvula       CHAR         371       378
3   3676   1027-7                nacin       CHAR         438       444
4   3678   1027-7               esclava       CHAR         451       458
5   3680   1027-7               parvula       CHAR         488       495

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3690   1028-1                  cura       CHAR         115       119
1   3693   1028-1  vicario Eclesiastico       CHAR         254       274
2   3694   1028-1               parvula       CHAR         341       348
3   3696   1028-1         hija legitima       CHAR         393       406
4   3699   1028-1      abuelos paternos       CHAR         449       465
5   3705   1028-1                pardos       CHAR         547       553
6   3706   1028-1                libres       CHAR         554       560
7   3707   1028-1                  nia       CHAR         570       574

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3716   1028-2                  cura       CHAR         127       131
1   3719   1028-2  vicario Eclesiastico       CHAR         266       286
2   3720   1028-2               parvula       CHAR         375       382
3   3725   1028-2             propiedad       CHAR         462       471
4   3727   1028-2               parvula       CHAR         510       517

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3736   1028-3                  cura       CHAR         113       117
1   3739   1028-3  vicario Eclesiastico       CHAR         251       271
2   3740   1028-3                 negro       CHAR         359       364
3   3741   1028-3                adulto       CHAR         365       371
4   3744   1028-3                 negro       CHAR         444       449
5   3747   1028-3                nacin       CHAR         546       552

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3754   1028-4                  cura       CHAR         100       104
1   3757   1028-4  vicario Eclesiastico       CHAR         238       258
2   3758   1028-4                 negro       CHAR         345       350
3   3759   1028-4                adulto       CHAR         351       357
4   3760   1028-4                nacin       CHAR         361       367
5   3762   1028-4             propiedad       CHAR         380       389
6   3764   1028-4                 negro       CHAR         421       426

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3772   1028-5                  cura       CHAR         108       112
1   3775   1028-5  vicario Eclesiastico       CHAR         247       267
2   3776   1028-5                 negro       CHAR         354       359
3   3777   1028-5                adulto       CHAR         360       366
4   3778   1028-5                nacin       CHAR         370       376
5   3780   1028-5             propiedad       CHAR         390       399
6   3782   1028-5                 negro       CHAR         432       437

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3790   1028-6                  cura       CHAR         102       106
1   3793   1028-6  vicario Eclesiastico       CHAR         240       260
2   3794   1028-6                 negro       CHAR         347       352
3   3795   1028-6                adulto       CHAR         353       359
4   3797   1028-6             propiedad       CHAR         383       392
5   3799   1028-6                 negro       CHAR         425       430

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3807   1028-7                  cura       CHAR         112       116
1   3810   1028-7  vicario Eclesiastico       CHAR         251       271
2   3811   1028-7                 negro       CHAR         358       363
3   3812   1028-7                adulto       CHAR         364       370
4   3813   1028-7                nacin       CHAR         375       381
5   3815   1028-7             propiedad       CHAR         395       404
6   3817   1028-7                 negro       CHAR         437       442

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3825   1029-1                  cura       CHAR         111       115
1   3828   1029-1  vicario Eclesiastico       CHAR         249       269
2   3829   1029-1                 negro       CHAR         356       361
3   3830   1029-1                adulto       CHAR         362       368
4   3831   1029-1                nacin       CHAR         372       378
5   3833   1029-1             propiedad       CHAR         392       401
6   3835   1029-1                 negro       CHAR         433       438

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3843   1029-2                  cura       CHAR         110       114
1   3846   1029-2  vicario Eclesiastico       CHAR         249       269
2   3847   1029-2                 negro       CHAR         356       361
3   3848   1029-2                adulto       CHAR         362       368
4   3849   1029-2                nacin       CHAR         372       378
5   3851   1029-2             propiedad       CHAR         392       401
6   3853   1029-2                 negro       CHAR         433       438

    index entry_no           pred_entity pred_label  pred_start  pred_end
0    3861   1029-3                  cura       CHAR         111       115
1    3864   1029-3  vicario Ecleisastico       CHAR         249       269
2    3865   1029-3               parvulo       CHAR         356       363
3    3867   1029-3         hijo legitimo       CHAR         405       418
4    3868   1029-3                morena       CHAR         425       431
5    3869   1029-3               criolla       CHAR         432       439
6    3871   1029-3             propiedad       CHAR         462       471
7    3873   1029-3                esposa       CHAR         507       513
8    3875   1029-3               hijo de       CHAR         544       551
9    3876   1029-3                 negro       CHAR         552       557
10   3878   1029-3               parvulo       CHAR         575       582
11   3881   1029-3               morenos       CHAR         682       689

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3888   1029-4                  cura       CHAR         111       115
1   3891   1029-4  vicario Eclesiastico       CHAR         249       269
2   3892   1029-4                 negro       CHAR         356       361
3   3893   1029-4                adulto       CHAR         362       368
4   3896   1029-4                 negro       CHAR         440       445

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3904   1029-5                  cura       CHAR         106       110
1   3907   1029-5  vicario Eclesiastico       CHAR         244       264
2   3908   1029-5                 negro       CHAR         351       356
3   3909   1029-5                adulto       CHAR         357       363
4   3911   1029-5             propiedad       CHAR         390       399
5   3913   1029-5                 negro       CHAR         437       442

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3921   1029-6                  cura       CHAR         104       108
1   3924   1029-6  vicario Eclesiastico       CHAR         243       263
2   3925   1029-6                 negro       CHAR         350       355
3   3926   1029-6                adulto       CHAR         356       362
4   3927   1029-6                nacin       CHAR         366       372
5   3929   1029-6             propiedad       CHAR         386       395
6   3931   1029-6                 negro       CHAR         433       438

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3939   1029-7                  cura       CHAR         114       118
1   3942   1029-7  vicario Eclesiastico       CHAR         252       272
2   3943   1029-7                 negro       CHAR         323       328
3   3944   1029-7                adulto       CHAR         329       335
4   3945   1029-7                nacin       CHAR         339       345
5   3947   1029-7             propiedad       CHAR         358       367
6   3949   1029-7                 negro       CHAR         405       410

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3957   1029-8                  cura       CHAR         106       110
1   3960   1029-8  vicario Eclesiastico       CHAR         244       264
2   3961   1029-8                 negro       CHAR         351       356
3   3962   1029-8                adulto       CHAR         357       363
4   3963   1029-8                nacin       CHAR         367       373
5   3965   1029-8             propiedad       CHAR         386       395
6   3967   1029-8                 negro       CHAR         433       438

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3975   1030-1                  cura       CHAR         116       120
1   3978   1030-1  vicario Eclesiastico       CHAR         254       274
2   3979   1030-1                 negro       CHAR         361       366
3   3980   1030-1                adulto       CHAR         367       373
4   3981   1030-1                nacin       CHAR         377       383
5   3983   1030-1             propiedad       CHAR         395       404
6   3985   1030-1                 negro       CHAR         442       447

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   3993   1030-2                  cura       CHAR         113       117
1   3996   1030-2  vicario Eclesiastico       CHAR         251       271
2   3998   1030-2                 negro       CHAR         353       358
3   3999   1030-2                adulto       CHAR         359       365
4   4000   1030-2                nacin       CHAR         369       375
5   4002   1030-2             propiedad       CHAR         388       397
6   4004   1030-2                 negro       CHAR         432       437

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   4012   1030-3                  cura       CHAR         114       118
1   4015   1030-3  vicario Eclesiastico       CHAR         253       273
2   4016   1030-3                 negro       CHAR         360       365
3   4017   1030-3                adulto       CHAR         366       372
4   4020   1030-3             propiedad       CHAR         395       404
5   4022   1030-3                 negro       CHAR         442       447

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   4030   1030-4                  cura       CHAR         118       122
1   4033   1030-4  vicario Eclesiastico       CHAR         257       277
2   4034   1030-4               parvula       CHAR         365       372
3   4038   1030-4               esclava       CHAR         482       489
4   4040   1030-4               parvula       CHAR         527       534

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   4048   1030-5                  cura       CHAR         115       119
1   4051   1030-5  vicario Eclesiastico       CHAR         253       273
2   4052   1030-5                 negra       CHAR         361       366
3   4053   1030-5                adulta       CHAR         367       373
4   4054   1030-5                nacin       CHAR         377       383
5   4056   1030-5             propiedad       CHAR         397       406
6   4058   1030-5                 negro       CHAR         440       445

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   4066   1030-6                  cura       CHAR         113       117
1   4069   1030-6  vicario Eclesiastico       CHAR         251       271
2   4070   1030-6                 negra       CHAR         359       364
3   4071   1030-6                adulta       CHAR         365       371
4   4072   1030-6               natural       CHAR         372       379
5   4074   1030-6             propiedad       CHAR         396       405
6   4076   1030-6                 negra       CHAR         433       438

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   4084   1031-1                  cura       CHAR         115       119
1   4087   1031-1  vicario Eclesiastico       CHAR         250       270
2   4088   1031-1                 negro       CHAR         357       362
3   4089   1031-1                adulto       CHAR         363       369
4   4090   1031-1               natural       CHAR         370       377
5   4092   1031-1             propiedad       CHAR         394       403
6   4095   1031-1                 negro       CHAR         446       451

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   4104   1031-2  vicario Eclesiastico       CHAR         176       196
1   4105   1031-2                 negro       CHAR         283       288
2   4106   1031-2                adulto       CHAR         289       295
3   4107   1031-2               natural       CHAR         296       303
4   4109   1031-2             propiedad       CHAR         317       326
5   4112   1031-2                 negro       CHAR         370       375

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   4120   1031-3                  cura       CHAR         115       119
1   4123   1031-3  vicario Eclesiastico       CHAR         250       270
2   4124   1031-3                 negra       CHAR         358       363
3   4125   1031-3                adulta       CHAR         364       370
4   4126   1031-3               natural       CHAR         371       378
5   4128   1031-3             propiedad       CHAR         395       404
6   4130   1031-3                 negra       CHAR         440       445

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   4138   1031-4                  cura       CHAR         110       114
1   4141   1031-4  vicario Eclesiastico       CHAR         248       268
2   4142   1031-4                 negro       CHAR         355       360
3   4143   1031-4                adulto       CHAR         361       367
4   4144   1031-4               natural       CHAR         369       376
5   4146   1031-4             propiedad       CHAR         393       402
6   4148   1031-4                 negro       CHAR         430       435

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   4156   1031-5                  cura       CHAR         117       121
1   4159   1031-5  vicario Eclesiastico       CHAR         254       274
2   4160   1031-5                 negro       CHAR         361       366
3   4161   1031-5                adulto       CHAR         367       373
4   4162   1031-5               natural       CHAR         374       381
5   4164   1031-5               esclavo       CHAR         393       400
6   4167   1031-5                 negro       CHAR         444       449

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   4175   1031-6                  cura       CHAR         112       116
1   4178   1031-6  vicario Eclesiastico       CHAR         251       271
2   4179   1031-6                 negro       CHAR         358       363
3   4180   1031-6                adulto       CHAR         364       370
4   4181   1031-6               natural       CHAR         371       378
5   4183   1031-6               esclavo       CHAR         389       396
6   4185   1031-6                 negro       CHAR         424       429

   index entry_no           pred_entity pred_label  pred_start  pred_end
0   4193   1031-7                  cura       CHAR         114       118
1   4196   1031-7  vicario Eclesiastico       CHAR         252       272
2   4197   1031-7                 negra       CHAR         360       365
3   4198   1031-7                adulta       CHAR         366       372
4   4199   1031-7               natural       CHAR         373       380
5   4201   1031-7             propiedad       CHAR         398       407
6   4203   1031-7                 negra       CHAR         435       440

Relationships linked.
Events configured.
People records enhanced and disambiguated.
Single ID generated for each individual.
JSON built, processing completed.

In [ ]:
#export

def flatten_volume_json(path_to_volume_json, csv_root=''):
    '''
    flattens JSON record for a volume into six separate CSVs (volume, entries, people, relationships, places, and events)
        path_to_volume_json: path to a volume JSON record
        csv_root: specify directory for CSV output, including trailing /
    
        returns: root directory for CSVs
    '''    
    
    with open(path_to_volume_json, encoding="utf-8") as jsonfile:
        data = json.load(jsonfile)
        
    volume_id = data["volume"]["id"]
    
    with open(csv_root + volume_id + "_volume.csv", 'w', encoding="utf-8") as outfile:
        keys = 0
        for key in data["volume"]:
            outfile.write(key)
            keys += 1
            if keys == len(data["volume"]):
                outfile.write('\n')
            else:
                outfile.write(',')
        keys = 0
        for key in data["volume"]:
            outfile.write('"' + data["volume"][key] + '"')            
            keys += 1
            if keys == len(data["volume"]):
                break
            else:
                outfile.write(',')
                
    with open(csv_root + volume_id + "_entries.csv", 'w', encoding="utf-8") as outfile:
        outfile.write("entry id,entry text\n")
        for image in data["images"]:                        
            image_id = volume_id + '-' + image["id"]            
            for entry in image["entries"]:
                entry_id = image_id + '-' + str(entry["id"])
                entry_text = entry["text"]
                outfile.write(entry_id + ',' + '"' + entry_text + '"\n')
                
    with open(csv_root + volume_id + "_people.csv", 'w', encoding="utf-8") as outfile:
        outfile.write("id,name,origin,ethnicity,age,legitimacy,occupation,phenotype,status,titles,ranks,references\n")
        relationships = []
        for person in data["people"]:
            for key in person:
                if key == "relationships": 
                    if person[key] == None:
                        continue
                    for relationship in person[key]:                       
                        if relationship["relationship_type"] == "godchild":
                            inverse_relationship_type = "godparent"
                        elif relationship["relationship_type"] == "godparent":
                            inverse_relationship_type = "godchild"
                        elif relationship["relationship_type"] == "grandparent":
                            inverse_relationship_type = "grandchild"
                        elif relationship["relationship_type"] == "grandchild":
                            inverse_relationship_type = "grandparent"
                        elif relationship["relationship_type"] == "parent":
                            inverse_relationship_type = "child"
                        elif relationship["relationship_type"] == "child":
                            inverse_relationship_type = "parent"
                        elif relationship["relationship_type"] == "slave":
                            inverse_relationship_type = "enslaver"
                        elif relationship["relationship_type"] == "enslaver":
                            inverse_relationship_type = "slave"
                        else:
                            inverse_relationship_type = relationship["relationship_type"]
                            
                        inverse_relationship = {"from": relationship["related_person"], "to": person["id"], "type": inverse_relationship_type}
                        if not (inverse_relationship in relationships):
                            relationships.append({"from": person["id"], "to": relationship["related_person"], "type": relationship["relationship_type"]})
                        
                elif key == "references":
                    references = person[key][0]
                    for index in range(1, len(person[key])):
                        references += ';' + person[key][index]
                    outfile.write(references + '\n')
                elif person[key] == None:
                    outfile.write(',')
                else:
                    outfile.write(person[key] + ',')
                    
    with open(csv_root + volume_id + "_relationships.csv", 'w', encoding="utf-8") as outfile:
        outfile.write("from id,to id,relationship type\n")
        for relationship in relationships:
            outfile.write(relationship["from"] + ',' + relationship["to"] + ',' + relationship["type"] + '\n')
            
    with open(csv_root + volume_id + "_places.csv", 'w', encoding="utf-8") as outfile:
        outfile.write("id,location\n")
        for place in data["places"]:
            outfile.write(place["id"] + ',' + place["location"] + '\n')
            
    with open(csv_root + volume_id + "_events.csv", 'w', encoding="utf-8") as outfile:
        outfile.write("id,type,principal,date,location id,cleric\n")
        for event in data["events"]:
            for key in event:
                if event[key] == None:
                    event[key] = ''
            outfile.write(event["id"] + ',' + event["type"] + ',' + event["principal"] + ',' + event["date"] + ',' + event["location"] + ',' + event["cleric"] + '\n')   
                
    return csv_root

In [ ]:
flatten_volume_json("volume_records/166470.json", csv_root = "volume_records/csv/")

'volume_records/csv/'

In [ ]:
#no_test

from nbdev.export import notebook2script
notebook2script()

Converted 12-ssda-xml-parser.ipynb.
Converted 31-collate-xml-entities-spans.ipynb.
Converted 33-split-data.ipynb.
Converted 41-generic-framework-for-spacy-training.ipynb.
Converted 42-initial-model.ipynb.
Converted 51-data-preprocessing.ipynb.
Converted 52-unstructured-to-markup.ipynb.
Converted 53-markup-to-spatial-historian.ipynb.
Converted 54-utility-functions.ipynb.
Converted 61-prodigy-output-training-demo.ipynb.
Converted 62-full-model-application-demo.ipynb.
Converted 63-pt-model-training.ipynb.
Converted 64-es-model-training.ipynb.
Converted 65-all-annotations-model-training.ipynb.
Converted 66-es-guatemala-model-training.ipynb.
Converted 67-death-and-birth-records-together.ipynb.
Converted 70-exhaustive-training.ipynb.
Converted 71-relationship-builder.ipynb.
Converted 72-full-volume-processor.ipynb.
Converted 73-table-output.ipynb.