__Purpose__:
"I would approach that by training a "current best meta model" on most/all of the extant transcriptions aggregated together, then apply that to a couple of the more complete transcriptions and graph the check results to see how everything is working"

## Notes

"load_model()" with no params fed in does not load a model, it creates a new one

Hyper parameters from NB 70
1. Dropout of 0.5
2. Learning rate of 0.0025 (0.001?)

In [1]:
#no_test

#data structure imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import spacy
from os import listdir

#python imports
import random

#modeling imports
from spacy.util import fix_random_seed
from ssda_nlp.collate import *
from ssda_nlp.split_data import *
from ssda_nlp.modeling import *
from ssda_nlp.preprocessing import *
from ssda_nlp.model_performance_utils import *
from ssda_nlp.utility import *

#if you want the same model everytime:
seed = 2436
random.seed(seed)
fix_random_seed(seed)

## Train Various Models
1. Train a number of models with different training data

In [2]:
#no_test
#OUTPUT MUST BE COLLATED_DF

#These file paths are from the Github repo, should work on anyone's computer
cdf1 = prodigy_output_to_collated_df("transcriptions/15834_annot.jsonl")
cdf2 = prodigy_output_to_collated_df("transcriptions/239746_annot.jsonl")
cdf3 = prodigy_output_to_collated_df("transcriptions/419324_annot.jsonl")
cdf4 = prodigy_output_to_collated_df("transcriptions/701075_annot.jsonl")
cdf5 = prodigy_output_to_collated_df("transcriptions/guatemala.annotations.jsonl")

full_collated_df = cdf1.append(cdf2).append(cdf3).append(cdf4).append(cdf5)
assert full_collated_df.shape[0] == (cdf1.shape[0] + cdf2.shape[0] + cdf3.shape[0] + cdf4.shape[0] + cdf5.shape[0])

full_collated_df = full_collated_df.sample(frac = 1)
cdf80 = full_collated_df.sample(frac = 0.8)

my_cdfs = [cdf1, cdf2, cdf3, cdf4, cdf5, cdf80]

In [3]:
#no_test

#for training_data in training_log_LanCDS2:
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.5

for idx, cdf in enumerate(my_cdfs):
    # Already trained them so just ignore this unless you want to retrain
    """
    save_mdir = "models/75/" + str(idx)
    
    train_df, valid_df, test_df = split_data_grp(cdf, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)
    # Generate Spacy datasets
    training_data = genSpaCyInput(train_df)

    #load model from pretrained
    nlp_model = load_model()
    nlp_model, perf_df = model_meta_training(nlp_model, training_data, valid_df, verbose=True, save_dir = save_mdir,
                                             n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)
    display(perf_df.head(10))
    """

display('Successful run')

'Successful run'

In [4]:
#no_test

base_cdf = cdf4.append(cdf2).append(cdf3)
bapt_cdf = base_cdf.append(cdf1)

base_cdf = cdf4.append(cdf2).append(cdf3)

bur10 = cdf5.sample(frac = 0.1)
bapt90 = cdf1.sample(frac = 0.9)

bur50 = cdf5.sample(frac = 0.5)
bapt50 = cdf1.sample(frac = 0.5)

bur_sm_cdf = bur10.append(bapt90).append(base_cdf)
bur_med_cdf = bur50.append(bapt50).append(base_cdf)
bur_lar_cdf = cdf5.append(base_cdf)

my_cdfs = [bur_lar_cdf, bapt_cdf, bur_sm_cdf, bur_med_cdf]

cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.5

for idx, cdf in enumerate(my_cdfs):
    # Already trained them so just ignore this unless you want to retrain
    """
    save_mdir = "models/75/" + str(idx)
    
    train_df, valid_df, test_df = split_data_grp(cdf, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)
    # Generate Spacy datasets
    training_data = genSpaCyInput(train_df)

    #load model from pretrained
    nlp_model = load_model()
    nlp_model, perf_df = model_meta_training(nlp_model, training_data, valid_df, verbose=True, save_dir = save_mdir,
                                             n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)
    display(perf_df.head(10))
    """
display('Successful run')

   cycle_no  avg_cycle_loss  precision     recall   f_score
0       1.0     8480.941473  61.803381  57.483984  59.56548

Saved model to models\75\0

   cycle_no  avg_cycle_loss  precision     recall   f_score
0       2.0     3822.635061  79.294118  78.509027  78.89962

Saved model to models\75\0

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       3.0     2615.177705  82.130384  82.178218  82.154294

Saved model to models\75\0

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       4.0     2013.263251  83.662791  83.808969  83.735816

Saved model to models\75\0

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       5.0     1744.024168  84.106729  84.449621  84.277826

Saved model to models\75\0

   cycle_no  avg_cycle_loss  precision    recall  f_score
0       6.0     1465.210591  84.277457  84.91555  84.5953

Saved model to models\75\0

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0     1344.366065  84.750733  84.158416  84.453536

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0      1251.31348  84.329658  84.624345  84.476744

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       9.0      1155.01565  83.865351  84.158416  84.011628

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0     1116.492385  84.450867  85.090274  84.769365

Saved model to models\75\0

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0     1059.535969  84.593023  84.740827  84.666861

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      12.0      990.976734  83.947066  84.973791  84.457308

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      13.0      964.125567  84.268363  84.857309  84.561811

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      14.0      921.382367  84.342258  84.39138  84.366812

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      15.0      890.211105  84.414832  84.857309  84.635492

Performance hasn't improved for 5 cycles...
Done training after 15 meta cycles.

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     8480.941473  61.803381  57.483984  59.565480
1       2.0     3822.635061  79.294118  78.509027  78.899620
2       3.0     2615.177705  82.130384  82.178218  82.154294
3       4.0     2013.263251  83.662791  83.808969  83.735816
4       5.0     1744.024168  84.106729  84.449621  84.277826
5       6.0     1465.210591  84.277457  84.915550  84.595300
6       7.0     1344.366065  84.750733  84.158416  84.453536
7       8.0     1251.313480  84.329658  84.624345  84.476744
8       9.0     1155.015650  83.865351  84.158416  84.011628
9      10.0     1116.492385  84.450867  85.090274  84.769365

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     9999.180563  62.175227  52.366412  56.850829

Saved model to models\75\1

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       2.0     4218.373809  80.181087  81.119593  80.647609

Saved model to models\75\1

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall   f_score
0       3.0     2706.938564  86.887755  86.666667  86.77707

Saved model to models\75\1

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       4.0     1970.832788  87.180797  86.870229  87.025236

Saved model to models\75\1

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       5.0     1779.921709   88.51626  88.651399  88.583778

Saved model to models\75\1

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       6.0     1471.229382  88.259109  88.753181  88.505455

Performance hasn't improved for 1 cycles...

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0     1232.183834   87.37525  89.109415  88.233812

Performance hasn't improved for 2 cycles...

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0     1176.023175  88.303213  89.516539  88.905737

Saved model to models\75\1

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       9.0     1093.260397  88.640974  88.956743  88.798578

Performance hasn't improved for 1 cycles...

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0       1027.9821  88.303797  88.753181  88.527919

Performance hasn't improved for 2 cycles...

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0      981.353327  88.877654  89.465649  89.170682

Saved model to models\75\1

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      12.0       943.70023  88.513854  89.414758  88.962025

Performance hasn't improved for 1 cycles...

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      13.0      918.009204  88.777051  89.770992  89.271255

Saved model to models\75\1

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      14.0      874.090428  88.663968  89.160305  88.911444

Performance hasn't improved for 1 cycles...

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      15.0      834.506677  88.989899  89.669211  89.328264

Saved model to models\75\1

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      16.0      811.601715  88.531187  89.56743  89.046294

Performance hasn't improved for 1 cycles...

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      17.0       781.87476  88.777051  89.770992  89.271255

Performance hasn't improved for 2 cycles...

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      18.0      762.691642  88.653555  89.465649  89.057751

Performance hasn't improved for 3 cycles...

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      19.0      736.728326  88.793103  89.109415  88.950978

Performance hasn't improved for 4 cycles...

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      20.0      736.697845   88.67543  89.262087  88.967791

Performance hasn't improved for 5 cycles...
Done training after 20 meta cycles.

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     9999.180563  62.175227  52.366412  56.850829
1       2.0     4218.373809  80.181087  81.119593  80.647609
2       3.0     2706.938564  86.887755  86.666667  86.777070
3       4.0     1970.832788  87.180797  86.870229  87.025236
4       5.0     1779.921709  88.516260  88.651399  88.583778
5       6.0     1471.229382  88.259109  88.753181  88.505455
6       7.0     1232.183834  87.375250  89.109415  88.233812
7       8.0     1176.023175  88.303213  89.516539  88.905737
8       9.0     1093.260397  88.640974  88.956743  88.798578
9      10.0     1027.982100  88.303797  88.753181  88.527919

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0      9566.84252  62.124389  63.773314  62.938053

Saved model to models\75\2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       2.0     4283.682016  75.901974  79.985653  77.890325

Saved model to models\75\2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       3.0     3032.850926  79.903978  83.572453  81.697055

Saved model to models\75\2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       4.0     2440.212341  80.446927  82.639885  81.528662

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       5.0     2076.343774  80.711354  84.648494  82.633053

Saved model to models\75\2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       6.0     1874.154666  83.014862  84.146341  83.576772

Saved model to models\75\2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0     1709.967402  81.388889  84.074605  82.709951

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0     1617.671317   81.80536  83.213773  82.503556

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       9.0      1505.89903   81.15942  84.361549  82.729511

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0     1444.411689  82.957746  84.505022  83.724236

Saved model to models\75\2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0     1396.097326  82.097902  84.218077  83.144476

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      12.0     1330.916954  81.761872  85.222382  83.45627

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      13.0     1284.435707  81.292985  84.791966  83.005618

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      14.0     1242.713734  81.553398  84.361549  82.933709

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      15.0     1205.486417  82.162921  83.931133  83.037615

Performance hasn't improved for 5 cycles...
Done training after 15 meta cycles.

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     9566.842520  62.124389  63.773314  62.938053
1       2.0     4283.682016  75.901974  79.985653  77.890325
2       3.0     3032.850926  79.903978  83.572453  81.697055
3       4.0     2440.212341  80.446927  82.639885  81.528662
4       5.0     2076.343774  80.711354  84.648494  82.633053
5       6.0     1874.154666  83.014862  84.146341  83.576772
6       7.0     1709.967402  81.388889  84.074605  82.709951
7       8.0     1617.671317  81.805360  83.213773  82.503556
8       9.0     1505.899030  81.159420  84.361549  82.729511
9      10.0     1444.411689  82.957746  84.505022  83.724236

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     9237.337664  57.539467  59.116331  58.317241

Saved model to models\75\3

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       2.0     4934.847572  68.454412  78.52349  73.144048

Saved model to models\75\3

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       3.0     3883.264681  70.765432  80.145414  75.163913

Saved model to models\75\3

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       4.0     3397.410304  71.782178  81.096197  76.155462

Saved model to models\75\3

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       5.0     2980.456614  73.112245  80.145414  76.467449

Saved model to models\75\3

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       6.0     2711.241771  72.799209  82.326622  77.270341

Saved model to models\75\3

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0     2577.321516  73.654536  80.369128  76.865472

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0     2421.036993  74.348279  79.753915  76.956287

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       9.0     2333.126263  75.066454  78.970917  76.969201

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0     2234.263924  73.174442  80.704698  76.755319

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0     2148.204875  75.134553  78.076063  76.577071

Performance hasn't improved for 5 cycles...
Done training after 11 meta cycles.

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     9237.337664  57.539467  59.116331  58.317241
1       2.0     4934.847572  68.454412  78.523490  73.144048
2       3.0     3883.264681  70.765432  80.145414  75.163913
3       4.0     3397.410304  71.782178  81.096197  76.155462
4       5.0     2980.456614  73.112245  80.145414  76.467449
5       6.0     2711.241771  72.799209  82.326622  77.270341
6       7.0     2577.321516  73.654536  80.369128  76.865472
7       8.0     2421.036993  74.348279  79.753915  76.956287
8       9.0     2333.126263  75.066454  78.970917  76.969201
9      10.0     2234.263924  73.174442  80.704698  76.755319

'Successful run'

## Test The Above Models
1. Determine the best meta-model: winner take all
- test_model(nlp_model, testing_df, id_colname, text_colname, score_model=True)

In [5]:
full_collated_df.head()

,entry_no,text,entity,start,end,label
855,64,[margin]: Simiana. Aos doze dias do mes de Jan...,Joam Pimenta,115,127,PER
1376,108,[margin]: Joam. Em o primeiro dia de junho de ...,Joam,10,14,PER
2370,175,[margin]: Natalia. Ao primeiro dia do mes de j...,primeiro dia do mes de janeiro de 1696,22,60,DATE
1906,148,[margin]: Agueda. Aos treze dias do mes de jul...,Faustino Correa,141,156,PER
333,12,"Eusebio Joseph Ramon Guadara Martes, día cinco...",padrinos,604,612,REL

In [11]:
print(listdir(path))
mydir = listdir(path)

for i in range(len(listdir(path))):
    print(mydir[i][0])
    print(mydir[i][0].isdigit())

['.ipynb_checkpoints', '0', '1', '2', '3', '4', '5', 'best_meta_model']
.
False
0
True
1
True
2
True
3
True
4
True
5
True
b
False

In [13]:
#no_test

test_df = full_collated_df
path = 'models/75'

for my_model in listdir(path):
    my_model = path + r"/" + my_model
    print(my_model)
    if not my_model[10].isdigit():
        print("Continued")
        continue
        
    trained_model = load_model(my_model, language="es", verbose='True')

    ent_preds_df, metrics_df, per_ent_metrics = test_model(trained_model, test_df, 'entry_no', 'text')

    #show performance
    print('\nOverall performance:')
    display(metrics_df)
    print('\nEntity-specific performance:')
    display(per_ent_metrics)
    print("-----------------------------------------------------")

models/75/.ipynb_checkpoints
Continued
models/75/0
Loaded model 'models/75/0'

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (234, 258, 'PER'), (221, 225, 'C...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

Overall performance:

   precision     recall    f_score
0  80.804103  81.392989  81.097477

Entity-specific performance:

,PER,DATE,REL,LOC,CHAR,LOCATION,PERSON,RELATIONSHIPS,CHARACTERISTICS
p,0.775537,0.786207,0.921914,0.855952,0.779079,0.939394,0.862626,0.945205,0.818182
r,0.813575,0.760000,0.904448,0.797118,0.764074,0.939394,0.897059,0.962791,0.969231
f,0.794101,0.772881,0.913098,0.825488,0.771503,0.939394,0.879506,0.953917,0.887324

-----------------------------------------------------
models/75/1
Loaded model 'models/75/1'

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (234, 258, 'PER'), (221, 225, 'C...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

Overall performance:

   precision     recall    f_score
0  82.178871  80.442804  81.301571

Entity-specific performance:

,PER,DATE,REL,LOC,CHAR,LOCATION,PERSON,RELATIONSHIPS,CHARACTERISTICS
p,0.860124,0.764259,0.941620,0.874826,0.791549,0.954545,0.545006,0.901288,0.954545
r,0.804742,0.670000,0.823723,0.697339,0.832593,0.954545,0.928571,0.976744,0.969231
f,0.831512,0.714032,0.878735,0.776064,0.811552,0.954545,0.686869,0.937500,0.961832

-----------------------------------------------------
models/75/2
Loaded model 'models/75/2'

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (234, 258, 'PER'), (221, 225, 'C...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

Overall performance:

   precision     recall    f_score
0  92.611646  78.053506  84.711654

Entity-specific performance:

,PER,DATE,REL,LOC,CHAR,LOCATION,PERSON,RELATIONSHIPS,CHARACTERISTICS
p,0.931085,0.873259,0.960883,0.927249,0.918686,0.954545,0.908120,0.954751,0.984615
r,0.738029,0.696667,0.789127,0.777162,0.828519,0.954545,0.892857,0.981395,0.984615
f,0.823392,0.775031,0.866576,0.845597,0.871276,0.954545,0.900424,0.967890,0.984615

-----------------------------------------------------
models/75/3
Loaded model 'models/75/3'

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (234, 258, 'PER'), (221, 225, 'C...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

Overall performance:

   precision     recall    f_score
0  90.581265  81.798893  85.966358

Entity-specific performance:

,PER,DATE,REL,LOC,CHAR,PERSON,LOCATION,RELATIONSHIPS,CHARACTERISTICS
p,0.912759,0.844952,0.954760,0.911215,0.891637,0.885835,0.954545,0.937220,0.968254
r,0.778243,0.781111,0.834432,0.864745,0.841111,0.880252,0.954545,0.972093,0.938462
f,0.840151,0.811778,0.890549,0.887372,0.865638,0.883035,0.954545,0.954338,0.953125

-----------------------------------------------------
models/75/4
Loaded model 'models/75/4'

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (234, 258, 'PER'), (221, 225, 'C...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

Overall performance:

   precision     recall    f_score
0  35.118468  29.944649  32.325848

Entity-specific performance:

,PER,DATE,REL,LOC,CHAR,PERSON,RELATIONSHIPS,CHARACTERISTICS,LOCATION
p,0.356841,0.335570,0.315204,0.578488,0.283019,0.0,0.0,0.0,0.0
r,0.529289,0.222222,0.210049,0.220621,0.116667,0.0,0.0,0.0,0.0
f,0.426285,0.267380,0.252101,0.319422,0.165224,0.0,0.0,0.0,0.0

-----------------------------------------------------
models/75/5
Loaded model 'models/75/5'

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (234, 258, 'PER'), (221, 225, 'C...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

Overall performance:

   precision    recall    f_score
0  92.216777  88.53321  90.337459

Entity-specific performance:

,DATE,PER,REL,LOC,CHAR,PERSON,LOCATION,RELATIONSHIPS,CHARACTERISTICS
p,0.884434,0.929605,0.945046,0.933182,0.902439,0.931280,0.954545,0.950450,0.984375
r,0.833333,0.880986,0.934926,0.913525,0.877037,0.825630,0.954545,0.981395,0.969231
f,0.858124,0.904643,0.939959,0.923249,0.889557,0.875278,0.954545,0.965675,0.976744

-----------------------------------------------------
models/75/best_meta_model
Continued

In [14]:
# no_test

# Hard coded: the best meta model, as seen in the tests above, is:
# Note that this only works because the last model was the best model
best_meta_model = trained_model
save_dir = path + r"/" + "best_meta_model"

save_model(best_meta_model, save_dir)

Saved model to models\75\best_meta_model

In [1]:
#no_test
from nbdev.export import notebook2script
notebook2script();

Converted 12-ssda-xml-parser.ipynb.
Converted 31-collate-xml-entities-spans.ipynb.
Converted 33-split-data.ipynb.
Converted 41-generic-framework-for-spacy-training.ipynb.
Converted 42-initial-model.ipynb.
Converted 51-data-preprocessing.ipynb.
Converted 52-unstructured-to-markup.ipynb.
Converted 53-markup-to-spatial-historian.ipynb.
Converted 54-utility-functions.ipynb.
Converted 61-prodigy-output-training-demo.ipynb.
Converted 62-full-model-application-demo.ipynb.
Converted 63-pt-model-training.ipynb.
Converted 64-es-model-training.ipynb.
Converted 65-all-annotations-model-training.ipynb.
Converted 66-es-guatemala-model-training.ipynb.
Converted 67-death-and-birth-records-together.ipynb.
Converted 70-exhaustive-training.ipynb.
Converted 71-relationship-builder.ipynb.
Converted 72-full-volume-processor.ipynb.
Converted 73-table-output.ipynb.
Converted 74-validation-visuals.ipynb.
Converted 75-meta-model.ipynb.
Converted 76-val-check-verif.ipynb.