__Purpose__:
"I would approach that by training a "current best meta model" on most/all of the extant transcriptions aggregated together, then apply that to a couple of the more complete transcriptions and graph the check results to see how everything is working"

## Notes

"load_model()" with no params fed in does not load a model, it creates a new one

Hyper parameters from NB 70
1. Dropout of 0.5
2. Learning rate of 0.0025 (0.001?)

In [ ]:
#no_test

#data structure imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import spacy

#python imports
import random

#modeling imports
from spacy.util import fix_random_seed
from ssda_nlp.collate import *
from ssda_nlp.split_data import *
from ssda_nlp.modeling import *
from ssda_nlp.preprocessing import *
from ssda_nlp.model_performance_utils import *
from ssda_nlp.utility import *

#if you want the same model everytime:
seed = 2436
random.seed(seed)
fix_random_seed(seed)

In [ ]:
#no_test
#OUTPUT MUST BE COLLATED_DF

#These file paths are from the Github repo, should work on anyone's computer
cdf1 = prodigy_output_to_collated_df("transcriptions/15834_annot.jsonl")
cdf2 = prodigy_output_to_collated_df("transcriptions/239746_annot.jsonl")
cdf3 = prodigy_output_to_collated_df("transcriptions/419324_annot.jsonl")
cdf4 = prodigy_output_to_collated_df("transcriptions/701075_annot.jsonl")
cdf5 = prodigy_output_to_collated_df("transcriptions/guatemala.annotations.jsonl")

full_collated_df = cdf1.append(cdf2).append(cdf3).append(cdf4).append(cdf5)
assert full_collated_df.shape[0] == (cdf1.shape[0] + cdf2.shape[0] + cdf3.shape[0] + cdf4.shape[0] + cdf5.shape[0])

full_collated_df = full_collated_df.sample(frac = 1)
cdf80 = full_collated_df.sample(frac = 0.8)

my_cdfs = [cdf1, cdf2, cdf3, cdf4, cdf5, cdf80]

In [ ]:
#no_test

#for training_data in training_log_LanCDS2:
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001}
dpout = 0.5

for idx, cdf in enumerate(my_cdfs):
    save_mdir = "models/75/" + str(idx)
    
    train_df, valid_df, test_df = split_data_grp(cdf, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)
    # Generate Spacy datasets
    training_data = genSpaCyInput(train_df)

    #load model from pretrained
    nlp_model = load_model()
    nlp_model, perf_df = model_meta_training(nlp_model, training_data, valid_df, verbose=True, save_dir = save_mdir,
                                             n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)
    display(perf_df.head(10))

display('Successful run')

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision    recall   f_score
0       1.0     3869.766942   6.666667  0.226757  0.438596

Saved model to models\75\0

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       2.0     1537.188586  59.541985  53.061224  56.115108

Saved model to models\75\0

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       3.0     1155.711645  75.342466  74.829932  75.085324

Saved model to models\75\0

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       4.0      664.219435  84.757506  83.219955  83.981693

Saved model to models\75\0

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       5.0       425.12868  87.935035  85.941043  86.926606

Saved model to models\75\0

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       6.0      291.199003  89.583333  87.755102  88.659794

Saved model to models\75\0

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0      232.367763  90.866511  87.981859  89.400922

Saved model to models\75\0

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall  f_score
0       8.0       183.43915  90.322581  88.888889     89.6

Saved model to models\75\0

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       9.0      143.751348  89.342404  89.342404  89.342404

Performance hasn't improved for 1 cycles...

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0      125.268902  90.993072  89.342404  90.160183

Saved model to models\75\0

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0      108.577436  89.977221  89.569161  89.772727

Performance hasn't improved for 1 cycles...

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      12.0        95.83047       90.0  89.795918  89.897843

Performance hasn't improved for 2 cycles...

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      13.0       86.764666  88.288288  88.888889  88.587571

Performance hasn't improved for 3 cycles...

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      14.0       82.912347  89.838337  88.208617  89.016018

Performance hasn't improved for 4 cycles...

C:\Users\kdmen\miniconda3\envs\ssda\lib\site-packages\spacy\training\iob_utils.py:144: UserWarning: [W030] Some entities could not be aligned in the text "[margin]: Fran.co esc.o Domingo dos de Marco de mi..." with entities "[(10, 17, 'PER'), (18, 23, 'CHAR'), (24, 78, 'DATE...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  entities=ent_str[:50] + "..." if len(ent_str) > 50 else ent_str,

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      15.0       62.117162  89.726027  89.115646  89.419795

Performance hasn't improved for 5 cycles...
Done training after 15 meta cycles.

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     3869.766942   6.666667   0.226757   0.438596
1       2.0     1537.188586  59.541985  53.061224  56.115108
2       3.0     1155.711645  75.342466  74.829932  75.085324
3       4.0      664.219435  84.757506  83.219955  83.981693
4       5.0      425.128680  87.935035  85.941043  86.926606
5       6.0      291.199003  89.583333  87.755102  88.659794
6       7.0      232.367763  90.866511  87.981859  89.400922
7       8.0      183.439150  90.322581  88.888889  89.600000
8       9.0      143.751348  89.342404  89.342404  89.342404
9      10.0      125.268902  90.993072  89.342404  90.160183

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     4412.849404  29.646018  12.338858  17.425228

Saved model to models\75\1

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       2.0     2027.326265  76.753507  70.53407  73.512476

Saved model to models\75\1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       3.0     1212.514575  83.175803  81.031308  82.089552

Saved model to models\75\1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       4.0      721.465356  86.200378  83.977901  85.074627

Saved model to models\75\1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       5.0      536.707189  85.955056  84.530387  85.236769

Saved model to models\75\1

   cycle_no  avg_cycle_loss  precision     recall   f_score
0       6.0      478.478066    85.8473  84.898711  85.37037

Saved model to models\75\1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0      423.165249  86.728972  85.451197  86.085343

Saved model to models\75\1

   cycle_no  avg_cycle_loss  precision     recall   f_score
0       8.0      381.613439  85.454545  86.556169  86.00183

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       9.0       357.45429  85.925926  85.451197  85.687904

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0      338.287002  86.531365  86.372007  86.451613

Saved model to models\75\1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0      334.333273   86.50647  86.187845  86.346863

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      12.0      318.283211  87.337058  86.372007  86.851852

Saved model to models\75\1

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      13.0      305.407378  87.337058  86.372007  86.851852

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      14.0      297.410059  86.245353  85.451197  85.846438

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      15.0      288.691409  87.150838  86.187845  86.666667

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      16.0      283.631482  86.666667  86.187845  86.426593

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      17.0      281.434691  86.641929  86.003683  86.321627

Performance hasn't improved for 5 cycles...
Done training after 17 meta cycles.

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     4412.849404  29.646018  12.338858  17.425228
1       2.0     2027.326265  76.753507  70.534070  73.512476
2       3.0     1212.514575  83.175803  81.031308  82.089552
3       4.0      721.465356  86.200378  83.977901  85.074627
4       5.0      536.707189  85.955056  84.530387  85.236769
5       6.0      478.478066  85.847300  84.898711  85.370370
6       7.0      423.165249  86.728972  85.451197  86.085343
7       8.0      381.613439  85.454545  86.556169  86.001830
8       9.0      357.454290  85.925926  85.451197  85.687904
9      10.0      338.287002  86.531365  86.372007  86.451613

   cycle_no  avg_cycle_loss  precision    recall   f_score
0       1.0     1923.941611  36.842105  4.142012  7.446809

Saved model to models\75\2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       2.0     1352.437362       50.0  41.420118  45.307443

Saved model to models\75\2

   cycle_no  avg_cycle_loss  precision   recall   f_score
0       3.0     1107.084374   21.73913  2.95858  5.208333

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       4.0      904.237034  73.255814  74.556213  73.900293

Saved model to models\75\2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       5.0      251.550504  86.857143  89.940828  88.372093

Saved model to models\75\2

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       6.0      161.081356       88.0  91.12426  89.534884

Saved model to models\75\2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0      130.619033  88.068182  91.715976  89.855072

Saved model to models\75\2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0      120.049936  87.570621  91.715976  89.595376

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall   f_score
0       9.0      102.391506  88.135593  92.307692  90.17341

Saved model to models\75\2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0       96.942215  89.595376  91.715976  90.643275

Saved model to models\75\2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0       89.409232  88.636364  92.307692  90.434783

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      12.0       88.793216  88.505747  91.12426  89.795918

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      13.0        81.26093  88.505747  91.12426  89.795918

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      14.0       78.218704  88.372093  89.940828  89.14956

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      15.0       78.385222  89.142857  92.307692  90.697674

Saved model to models\75\2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      16.0       77.371493  89.655172  92.307692  90.962099

Saved model to models\75\2

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      17.0       73.700744  88.439306  90.532544  89.473684

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      18.0       72.282195  87.428571  90.532544  88.953488

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      19.0       69.595553  88.505747  91.12426  89.795918

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      20.0       67.707242  88.068182  91.715976  89.855072

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision    recall   f_score
0      21.0       66.267378  89.017341  91.12426  90.05848

Performance hasn't improved for 5 cycles...
Done training after 21 meta cycles.

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     1923.941611  36.842105   4.142012   7.446809
1       2.0     1352.437362  50.000000  41.420118  45.307443
2       3.0     1107.084374  21.739130   2.958580   5.208333
3       4.0      904.237034  73.255814  74.556213  73.900293
4       5.0      251.550504  86.857143  89.940828  88.372093
5       6.0      161.081356  88.000000  91.124260  89.534884
6       7.0      130.619033  88.068182  91.715976  89.855072
7       8.0      120.049936  87.570621  91.715976  89.595376
8       9.0      102.391506  88.135593  92.307692  90.173410
9      10.0       96.942215  89.595376  91.715976  90.643275

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     3321.522713  62.350598  56.805808  59.449193

Saved model to models\75\3

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       2.0     1312.253447  83.729433  83.121597  83.424408

Saved model to models\75\3

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       3.0      669.813765  88.065099  88.384755  88.224638

Saved model to models\75\3

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       4.0       509.52429  88.468468  89.110708  88.788427

Saved model to models\75\3

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       5.0      430.610694  88.648649  89.292196  88.969259

Saved model to models\75\3

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       6.0      398.601177  88.086643  88.566243  88.325792

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0      366.503588  88.384755  88.384755  88.384755

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0      336.698604   88.98917  89.473684  89.230769

Saved model to models\75\3

   cycle_no  avg_cycle_loss  precision    recall    f_score
0       9.0      315.752042  88.607595  88.92922  88.768116

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      10.0      290.339484  88.828829  89.473684  89.15009

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0      283.176336  88.808664  89.292196  89.049774

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      12.0      269.822995  89.330922  89.655172  89.492754

Saved model to models\75\3

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      13.0      263.527029  89.228007  90.199637  89.711191

Saved model to models\75\3

   cycle_no  avg_cycle_loss  precision     recall  f_score
0      14.0      255.170626  89.568345  90.381125  89.9729

Saved model to models\75\3

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      15.0      238.559254  89.028777  89.836661  89.430894

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall  f_score
0      16.0      236.980391  89.568345  90.381125  89.9729

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      17.0      228.321744  89.228007  90.199637  89.711191

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      18.0      220.755336   89.40754  90.381125  89.891697

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall   f_score
0      19.0      207.026381  88.530466  89.655172  89.08927

Performance hasn't improved for 5 cycles...
Done training after 19 meta cycles.

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     3321.522713  62.350598  56.805808  59.449193
1       2.0     1312.253447  83.729433  83.121597  83.424408
2       3.0      669.813765  88.065099  88.384755  88.224638
3       4.0      509.524290  88.468468  89.110708  88.788427
4       5.0      430.610694  88.648649  89.292196  88.969259
5       6.0      398.601177  88.086643  88.566243  88.325792
6       7.0      366.503588  88.384755  88.384755  88.384755
7       8.0      336.698604  88.989170  89.473684  89.230769
8       9.0      315.752042  88.607595  88.929220  88.768116
9      10.0      290.339484  88.828829  89.473684  89.150090

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     2675.085687  61.509434  40.954774  49.170437

Saved model to models\75\4

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       2.0     1035.654571  74.384236  75.879397  75.124378

Saved model to models\75\4

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       3.0      571.658682  76.513317  79.396985  77.928483

Saved model to models\75\4

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       4.0      398.000355  78.502415  81.658291  80.049261

Saved model to models\75\4

   cycle_no  avg_cycle_loss  precision     recall   f_score
0       5.0      329.447092  78.345499  80.904523  79.60445

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       6.0       272.99715  78.883495  81.658291  80.246914

Saved model to models\75\4

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0      242.610209  79.361179  81.155779  80.248447

Saved model to models\75\4

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0      215.189953  78.398058  81.155779  79.753086

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       9.0      197.910643  78.802993  79.396985  79.098874

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0      170.117807  78.271605  79.648241  78.953923

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0      159.068633  77.149877  78.894472  78.012422

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      12.0      152.109328  78.728606  80.904523  79.801735

Performance hasn't improved for 5 cycles...
Done training after 12 meta cycles.

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     2675.085687  61.509434  40.954774  49.170437
1       2.0     1035.654571  74.384236  75.879397  75.124378
2       3.0      571.658682  76.513317  79.396985  77.928483
3       4.0      398.000355  78.502415  81.658291  80.049261
4       5.0      329.447092  78.345499  80.904523  79.604450
5       6.0      272.997150  78.883495  81.658291  80.246914
6       7.0      242.610209  79.361179  81.155779  80.248447
7       8.0      215.189953  78.398058  81.155779  79.753086
8       9.0      197.910643  78.802993  79.396985  79.098874
9      10.0      170.117807  78.271605  79.648241  78.953923

   cycle_no  avg_cycle_loss  precision     recall   f_score
0       1.0     9921.267458  57.614782  63.090129  60.22827

Saved model to models\75\5

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       2.0     5771.945711  68.341183  80.073574  73.743648

Saved model to models\75\5

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       3.0        4836.816  69.927536  82.832618  75.834971

Saved model to models\75\5

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       4.0     4310.732885   70.21058  83.813611  76.411403

Saved model to models\75\5

   cycle_no  avg_cycle_loss  precision     recall   f_score
0       5.0     3975.443075  70.980996  84.733292  77.24986

Saved model to models\75\5

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       6.0     3672.791545   70.84399  84.917229  77.244841

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       7.0     3507.973313  71.384615  85.346413  77.743647

Saved model to models\75\5

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       8.0     3363.383834  71.413934  85.469037  77.811889

Saved model to models\75\5

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       9.0     3276.673032   71.17859  84.794605  77.392278

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      10.0     3155.928864  72.068786  84.794605  77.915493

Saved model to models\75\5

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      11.0     3058.613674  71.458225  84.426732  77.403035

Performance hasn't improved for 1 cycles...

   cycle_no  avg_cycle_loss  precision    recall    f_score
0      12.0     2966.196362  71.517349  84.67198  77.540707

Performance hasn't improved for 2 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      13.0     2906.683288  71.161826  84.120172  77.100309

Performance hasn't improved for 3 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      14.0     2840.252664  70.837642  83.997548  76.858345

Performance hasn't improved for 4 cycles...

   cycle_no  avg_cycle_loss  precision     recall    f_score
0      15.0     2785.167572  71.761658  84.917229  77.787138

Performance hasn't improved for 5 cycles...
Done training after 15 meta cycles.

   cycle_no  avg_cycle_loss  precision     recall    f_score
0       1.0     9921.267458  57.614782  63.090129  60.228270
1       2.0     5771.945711  68.341183  80.073574  73.743648
2       3.0     4836.816000  69.927536  82.832618  75.834971
3       4.0     4310.732885  70.210580  83.813611  76.411403
4       5.0     3975.443075  70.980996  84.733292  77.249860
5       6.0     3672.791545  70.843990  84.917229  77.244841
6       7.0     3507.973313  71.384615  85.346413  77.743647
7       8.0     3363.383834  71.413934  85.469037  77.811889
8       9.0     3276.673032  71.178590  84.794605  77.392278
9      10.0     3155.928864  72.068786  84.794605  77.915493

'Successful run'

In [ ]:
#no_test

trained_model = load_model('models/15834', language="es", verbose='True')

##########################################################################

# load and create df from xml
xml_df = parse_xml("four.xml")

# Create entity df from entity csvs
ent_df = entity_df_maker("FourPeoplePerEntry.csv", "FourPeople.csv")

# Put these two dfs together and with entity span info
collated_df = collate_frames(xml_df, ent_df)

# Split data
train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)

# Generate Spacy datasets
train_spacy = genSpaCyInput(train_df)

# Look at column names
train_df.head(10)

###################################################################

nlp1 = load_model()
nlp1, losses1 = train_model(nlp1, TRAIN_DATA, n_iter=10)

#test model
ent_preds_df, metrics_df, per_ent_metrics = test_model(nlp1, test_df, 'ID', 'text')

#show performance
print('Predicted entities:')
display(ent_preds_df)

print('\nOverall performance:')
display(metrics_df)

print('\nEntity-specific performance:')
display(per_ent_metrics)

save_dir = 'new_dir/test_model'
save_model(nlp2, save_dir)

## Code from NB 70: 
Training/Testing Split contained within model_meta_training

In [ ]:
#no_test
my_df = cdf2.append(cdf1, ignore_index=True).append(cdf3, ignore_index=True)
# Number of rows to drop
n_full = portugueseDF.shape
n = n_full[0]
# Dropping last n rows using drop
my_df.drop(my_df.head(n).index,inplace = True)
#Just going with full Burial dataset
my_df = my_df.append(portugueseDF, ignore_index=True) 

train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)
# Generate Spacy datasets
train_spacy = genSpaCyInput(train_df)
#training_log_LanCDS2[i] = train_spacy

training_data = train_spacy

#for training_data in training_log_LanCDS2:
cping = {'start':16, 'end':32, 'cp_rate':1.05}
solves = {'learn_rate':0.001} #Original 0.001
dpout = 0.5 #Original 0.6
save_mdir = 'models/exhaustive_models'

#load model from pretrained
nlp_model = load_model()

nlp_model, perf_df = model_meta_training(nlp_model, training_data, valid_df, verbose=True, save_dir = save_mdir,
                                         n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)

display('Successful run')

In [ ]:
#no_test

#Designated low cap df: 15834, AKA cfd1

#BUILDING OUT THE TRAINING DATA COMBINATIONS
num_trials = 6
training_log_SCB = [0] * num_trials
for i, percent in enumerate([10,40,70,100,0,1]): 
    mixed_df = burialsOnly.sample(frac = percent/100) 
    
    if percent==1: #Special case --> Only using burial data
        #Ignore the mixed_df
        #Save an additional test where we also include the full Burials in our training data
        collated_df = burialsOnly
        train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)
        # Generate Spacy datasets
        train_spacy = genSpaCyInput(train_df)
        training_log_SCB[i] = train_spacy
    elif percent==0: #Special case --> Using no burial data
        #Save an additional test where we also include the full Burials in our training data
        collated_df = cdf1
        train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)
        # Generate Spacy datasets
        train_spacy = genSpaCyInput(train_df)
        training_log_SCB[i] = train_spacy
    else:
        collated_df = mixed_df.append(cdf1, ignore_index=True)
        train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)
        # Generate Spacy datasets
        train_spacy = genSpaCyInput(train_df)
        training_log_SCB[i] = train_spacy
        
#if you want the same model everytime:
#random.seed(seed)
#fix_random_seed(seed)

#ACTUAL TRAINING LOOP
for training_data in training_log_SCB:
    cping = {'start':16, 'end':32, 'cp_rate':1.05}
    solves = {'learn_rate':0.001} #Original 0.001
    dpout = 0.5 #Original 0.6
    save_mdir = 'models/exhaustive_models'

    #load model from pretrained
    nlp_model = load_model()

    nlp_model, perf_df = model_meta_training(nlp_model, training_data, valid_df, verbose=True, save_dir = save_mdir,
                                             n_iter=10, solver_params=solves, compound_params=cping, dropout=dpout)
        
display('Successful run')

# Legacy Code for Reference

In [ ]:
#no_test

trained_model = load_model('models/15834', language="es", verbose='True')

##########################################################################

# load and create df from xml
xml_df = parse_xml("four.xml")

# Create entity df from entity csvs
ent_df = entity_df_maker("FourPeoplePerEntry.csv", "FourPeople.csv")

# Put these two dfs together and with entity span info
collated_df = collate_frames(xml_df, ent_df)

# Split data
train_df, valid_df, test_df = split_data_grp(collated_df, prop_train = 0.7, prop_validation = 0.2, grp_var = 'entry_no', seed=seed)

# Generate Spacy datasets
train_spacy = genSpaCyInput(train_df)

# Look at column names
train_df.head(10)

###################################################################

nlp1 = load_model()
nlp1, losses1 = train_model(nlp1, TRAIN_DATA, n_iter=10)

#test model
ent_preds_df, metrics_df, per_ent_metrics = test_model(nlp1, test_df, 'ID', 'text')

#show performance
print('Predicted entities:')
display(ent_preds_df)

print('\nOverall performance:')
display(metrics_df)

print('\nEntity-specific performance:')
display(per_ent_metrics)

save_dir = 'new_dir/test_model'
save_model(nlp2, save_dir)

## Example full pipeline from NB 41

In [ ]:
#no_test
from nbdev.export import notebook2script
notebook2script();